workflows/016tnzspMqq3n7lJ_Финальная_версия_-_21.02_-_ФИНАЛ_(2).json
{
  "updatedAt": "2026-02-22T12:16:14.218Z",
  "createdAt": "2026-02-21T19:11:13.645Z",
  "id": "016tnzspMqq3n7lJ",
  "name": "Финальная версия - 21.02 - ФИНАЛ (2)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2128,
        1472
      ],
      "id": "8de31d09-beb4-4832-b190-46420d837ac9",
      "name": "Telegram Trigger",
      "webhookId": "4e2bf9a5-a199-45dd-a9b0-ffe40f8db1e0",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Определяем тип входящего апдейта: callback_query или message\nconst update = $input.item.json;\n\nconst isCallback = !!update.callback_query;\nconst isMessage = !!update.message;\n\nlet chatId, userId, text, callbackData, username, firstName;\n\nif (isCallback) {\n  chatId = update.callback_query.message.chat.id;\n  userId = update.callback_query.from.id;\n  username = update.callback_query.from.username || '';\n  firstName = update.callback_query.from.first_name || '';\n  callbackData = update.callback_query.data;\n  text = '';\n} else {\n  chatId = update.message.chat.id;\n  userId = update.message.from.id;\n  username = update.message.from.username || '';\n  firstName = update.message.from.first_name || '';\n  text = update.message.text || '';\n  callbackData = '';\n}\n\nconst isStart = text === '/start';\n\nreturn [{\n  json: {\n    chatId,\n    userId,\n    username,\n    firstName,\n    text,\n    callbackData,\n    isCallback,\n    isMessage,\n    isStart,\n    isVoice: !!(update.message && update.message.voice)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        1472
      ],
      "id": "9396d12a-1272-40a2-a801-1d1b0d0af4d0",
      "name": "Разбираем апдейт"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isStart }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cond-start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isCallback }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cond-callback"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isVoice }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cond-voice"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isMessage }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cond-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1648,
        1440
      ],
      "id": "670218be-445e-42cb-930a-a5229c8c7fa9",
      "name": "Switch по типу"
    },
    {
      "parameters": {
        "chatId": "={{ $('Разбираем апдейт').item.json.chatId }}",
        "text": "=Добро пожаловать, {{ $('Разбираем апдейт').item.json.firstName }}✨\n\nЯ помогу тебе лучше понять особенности своего характера🌄\nПодскажу, как строить гармоничные отношения💞\nРаскрою твои сильные и слабые стороны🔮\n\nС чего начнём?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Гороскоп",
                    "additionalFields": {
                      "callback_data": "mode_horoscope"
                    }
                  },
                  {
                    "text": "Совместимость",
                    "additionalFields": {
                      "callback_data": "mode_compatibility"
                    }
                  },
                  {
                    "text": "Натальная карта",
                    "additionalFields": {
                      "callback_data": "mode_natal"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1408,
        1232
      ],
      "id": "71b5d14e-d8c1-408f-93e4-00646ed00956",
      "name": "Отправить приветствие с кнопками",
      "webhookId": "4a45fc29-39ac-41c3-b42e-e7771a7857fe",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Отвечаем на callback_query (убираем часики у кнопки) и сохраняем mode\nconst callbackData = $input.item.json.callbackData;\nconst userId = $input.item.json.userId;\nconst chatId = $input.item.json.chatId;\n\nlet mode = '';\nlet modeLabel = '';\nlet natalTarget = '';\n\nif (callbackData === 'mode_horoscope') {\n  mode = 'horoscope';\n  modeLabel = 'гороскоп';\n} else if (callbackData === 'mode_compatibility') {\n  mode = 'compatibility';\n  modeLabel = 'совместимость';\n} else if (callbackData === 'mode_natal') {\n  mode = 'natal';\n  modeLabel = 'натальная карта';\n} else if (callbackData === 'natal_self') {\n  mode = 'natal';\n  modeLabel = 'натальная карта';\n  natalTarget = 'self';\n} else if (callbackData === 'natal_other') {\n  mode = 'natal_other';\n  modeLabel = 'натальная карта (другой)';\n  natalTarget = 'other';\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    mode,\n    modeLabel,\n    natalTarget\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1472
      ],
      "id": "03f32a39-b25b-4e2d-93e9-d405f7de5e13",
      "name": "Парсим callback"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8481412100:AAG0lTAehvBNxgQIrgRAmJEHY3zSCfo4BAY/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $('Telegram Trigger').item.json.callback_query.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        1472
      ],
      "id": "39c1681c-1d05-41bc-8fe9-b3c8a487bfeb",
      "name": "Ответ на callback (убрать часики)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Парсим callback').item.json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1072,
        1472
      ],
      "id": "47f1c4ef-5ced-4588-a2f4-8b8dd85d9315",
      "name": "Проверяем юзера (callback)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Парсим callback').item.json.userId }}",
            "username": "={{ $('Парсим callback').item.json.username }}",
            "current_mode": "={{ $('Парсим callback').item.json.mode }}",
            "last_time_ask": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "birth_date",
              "displayName": "birth_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_complete",
              "displayName": "profile_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_daily_sent",
              "displayName": "last_daily_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "preferred_time",
              "displayName": "preferred_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_mode",
              "displayName": "current_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -864,
        1472
      ],
      "id": "4248e429-c404-441a-9a0f-0be7186d5125",
      "name": "Сохраняем mode в Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-profile-callback",
              "leftValue": "={{ $('Проверяем юзера (callback)').item.json.profile_complete }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        1472
      ],
      "id": "bfb7a7d6-8dad-434b-91cf-fefe25c5ff3b",
      "name": "Профиль заполнен? (callback)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "horoscope",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-horoscope"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Гороскоп"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "compatibility",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-compat"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Совместимость"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "natal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-natal"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "НатальнаяКарта"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "natal_other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-natal-other"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "НатальнаяКарта (другой)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -304,
        272
      ],
      "id": "44c6eaa4-7844-49dc-b4a3-13f85e5e88ea",
      "name": "Роутер по режиму (профиль заполнен)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Отлично! 🔮 Ты выбрал гороскоп.\n\nТвой профиль уже заполнен. Просто напиши, какой прогноз тебя интересует:\n— «на сегодня» / «на завтра»\n— «на эту неделю» / «на следующую неделю»\n— «на этот месяц» / «на следующий месяц»",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b9897efe-b92c-46a7-b499-3626fdfbf7d4",
      "name": "Предложить запросить гороскоп",
      "webhookId": "98f6e510-717f-45ce-99a6-e94cc88eb4fa",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Прекрасно! 💞 Ты хочешь проверить совместимость.\n\nТвой профиль уже есть. Теперь расскажи о втором человеке:\nНапиши в формате:\n«Имя, дата рождения (ДД.ММ.ГГГГ), город рождения»\n\nНапример: Алексей, 14.05.1990, Москва",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        176
      ],
      "id": "ad13dd92-1bbc-49d8-aa89-788c2579b6f0",
      "name": "Предложить ввести партнёра",
      "webhookId": "94d7dcca-b1a7-4f7f-b42a-00c4e9281b23",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "horoscope",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-horoscope-new"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ОнбордингГороскоп"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "compatibility",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-compat-new"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ОнбордингСовместимость"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "natal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-natal-new"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ОнбордингНатальная"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Парсим callback').item.json.mode }}",
                    "rightValue": "natal_other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-mode-natal-other-new"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ОнбордингНатальная (другой)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -288,
        1024
      ],
      "id": "f65b114c-93a9-4054-9258-eda0bbd8ec9b",
      "name": "Роутер по режиму (нет профиля)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Отлично! 🔮 Ты выбрал персональный гороскоп.\n\nЧтобы составить точный прогноз, мне нужно узнать тебя немного лучше.\n\nКак тебя зовут? 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        784
      ],
      "id": "1d52d3a3-2752-4015-896e-886d809c5e83",
      "name": "Начало онбординга (гороскоп)",
      "webhookId": "1a20b3fe-9239-4557-a817-5bffab1626eb",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Прекрасно! 💞 Ты хочешь проверить совместимость с другим человеком.\n\nДля начала мне нужны твои данные.\n\nКак тебя зовут? 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        960
      ],
      "id": "b07f3fb8-52f4-4979-92cc-d74f3c193e35",
      "name": "Начало онбординга (совместимость)",
      "webhookId": "08b1b23a-ac3d-4980-947c-d993ebba992f",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Чудесно! 🌟 Ты хочешь рассчитать натальную карту — это карта твоей судьбы!\n\nМне нужны твои данные для точного расчёта.\n\nКак тебя зовут? 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1136
      ],
      "id": "a6fe0d4d-abd5-49c4-b32a-f5e7409e6a64",
      "name": "Начало онбординга (натальная)",
      "webhookId": "fc046130-5db4-4774-be0c-2c4a8b3ba3f5",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "34181888-7b0d-4936-a829-53f76907077d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ea21faa-21c3-4f37-b2f3-8ba8add11ce2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1408,
        1776
      ],
      "id": "e6c218e7-254d-4fec-82e9-66d91446906e",
      "name": "Switch (текст/голос)"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1168,
        1888
      ],
      "id": "546d3073-f4d4-49f8-9904-8c9e4b4033f9",
      "name": "Get a file",
      "webhookId": "0e4cb516-7116-43cc-9632-c80c02c72bf1",
      "credentials": {
        "telegramApi": {
          "id": "puWFBaP6cvSY4W9C",
          "name": "Helper Doc"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "RU",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -848,
        1888
      ],
      "id": "2113597a-4c33-430d-a862-080ebd561023",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45b5b690-0356-452e-a4a7-98042823f89d",
              "name": "text",
              "value": "={{ $json.text || $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        1760
      ],
      "id": "2ba622af-5bb8-46cf-bfba-4fa630a7261c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b498bbcb-54a3-411b-ab0f-2715d19d78cd",
              "name": "query",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "8d2f65a5-63d0-4b99-ad25-d31ec84e4079",
              "name": "max_results",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        1760
      ],
      "id": "7c346911-9206-413c-aa96-4eb43244d330",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        1760
      ],
      "id": "9f9df62e-8b02-46ce-b0af-0c05e573492b",
      "name": "Узнаем обращался ли клиент ранее?",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-profile-complete",
              "leftValue": "={{ $json.profile_complete }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        1760
      ],
      "id": "388461d4-6019-4d0a-942b-c01c0bf2eb14",
      "name": "Профиль заполнен? (текст)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Узнаем обращался ли клиент ранее?').item.json.current_mode }}",
                    "rightValue": "horoscope",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "mode-route-horoscope"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Гороскоп"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Узнаем обращался ли клиент ранее?').item.json.current_mode }}",
                    "rightValue": "compatibility",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "mode-route-compat"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Совместимость"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Узнаем обращался ли клиент ранее?').item.json.current_mode }}",
                    "rightValue": "natal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "mode-route-natal"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "НатальнаяКарта"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Узнаем обращался ли клиент ранее?').item.json.current_mode }}",
                    "rightValue": "natal_other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "mode-route-natal-other"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "НатальнаяКарта (другой)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        960,
        928
      ],
      "id": "cdd60aaa-ae11-49b2-986d-cdcd9d7e068a",
      "name": "Роутер по режиму (текстовое сообщение)"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'astro_' + $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        1984
      ],
      "id": "385b34be-58d6-4e37-b94a-c9e664a5b231",
      "name": "Memory Onboarding"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        848,
        1984
      ],
      "id": "aafe5fd9-8c14-4576-8f6c-9cb7847eccd7",
      "name": "OpenAI Onboarding Model",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — дружелюбный помощник астрологического бота. Твоя задача — собрать данные нового пользователя для составления персональных прогнозов.\n\nТЕКУЩИЙ ШАГ ОНБОРДИНГА:\nПроанализируй историю диалога и определи, что уже собрано, а что ещё нет.\n\nДанные для сбора (по очереди, ОДНО за раз):\n1. Имя\n2. Дата рождения (формат ДД.ММ.ГГГГ)\n3. Место рождения\n4. Удобное время для ежедневного прогноза (формат ЧЧ:ММ, например 09:00, по московскому времени)\n\nПРАВИЛА:\n- Задавай ТОЛЬКО ОДИН вопрос за раз\n- Будь тёплым, называй пользователя по имени как только узнаешь его\n- Если пользователь ввёл данные не в том формате — мягко попроси исправить\n- Если все 4 пункта уже есть в истории диалога — ответь СТРОГО JSON и ничего больше:\n{\"onboarding_complete\":true,\"first_name\":\"Имя\",\"last_name\":\"Фамилия\",\"birth_date\":\"ДД.ММ.ГГГГ\",\"city\":\"Город\",\"preferred_time\":\"ЧЧ:ММ\",}\n\nЕсли данные ещё не собраны — начни с приветствия и попроси имя:\n\n«Привет! 🌟 Я астрологический помощник. Чтобы составлять для тебя персональные прогнозы, мне нужно немного узнать о тебе. Как тебя зовут?»\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        1776
      ],
      "id": "addb9293-52dd-41ec-b6b3-c1a604b6757e",
      "name": "Onboarding Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output || '';\n\n// Попытаемся найти JSON в ответе\nconst jsonMatch = output.match(/\\{[\\s\\S]*\\\"onboarding_complete\\\"[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.onboarding_complete === true) {\n      const preferredTime = parsed.preferred_time || '09:00';\n      return [{\n        json: {\n          is_onboarding_done: true,\n          first_name: parsed.first_name || '',\n          birth_date: parsed.birth_date || '',\n          city: parsed.city || '',\n          preferred_time: preferredTime,\n          timezone: parsed.timezone || 'Europe/Moscow',\n          message: `Отлично, ${parsed.first_name}! 🌟\\n\\nТвой профиль создан:\\n👤 ${parsed.first_name}\\n🎂 Дата рождения: ${parsed.birth_date}\\n🌍 Город: ${parsed.city}\\n⏰ Ежедневный прогноз: ${preferredTime}\\n\\nКаждый день в ${preferredTime} я буду отправлять тебе персональный астрологический прогноз! ✨\\n\\nА прямо сейчас можешь запросить прогноз на день, неделю или месяц — просто напиши мне 🔮`\n        }\n      }];\n    }\n  } catch (e) {\n    // не JSON — продолжаем диалог\n  }\n}\n\nreturn [{\n  json: {\n    is_onboarding_done: false,\n    message: output\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1760
      ],
      "id": "e662205e-6c28-4ae1-88db-87dfdba2dce5",
      "name": "Parse Onboarding Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-done",
              "leftValue": "={{ $json.is_onboarding_done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        1760
      ],
      "id": "450ca342-7214-45cc-bd5a-19313503b354",
      "name": "Онбординг завершён?"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "username": "={{ $('Telegram Trigger').item.json.message.from.username }}",
            "first_name": "={{ $json.first_name }}",
            "birth_date": "={{ $json.birth_date }}",
            "city": "={{ $json.city }}",
            "preferred_time": "={{ $json.preferred_time }}",
            "timezone": "={{ $json.timezone }}",
            "profile_complete": "YES",
            "first_time_ask": "={{ $now.toISO() }}",
            "last_time_ask": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "birth_date",
              "displayName": "birth_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_complete",
              "displayName": "profile_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_daily_sent",
              "displayName": "last_daily_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "preferred_time",
              "displayName": "preferred_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_mode",
              "displayName": "current_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        1664
      ],
      "id": "6f06c566-05c6-4e24-a481-743c8388cc64",
      "name": "Сохранить профиль в Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Parse Onboarding Response').item.json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        1664
      ],
      "id": "b2487fff-dae6-41d4-98cb-f44b80549845",
      "name": "Отправить приветствие (онбординг завершён)",
      "webhookId": "0b610eb1-2f96-46ec-a514-ef62bd2ef2f8",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        1872
      ],
      "id": "33cffc77-f519-41be-94fc-feeafb7d88c2",
      "name": "Отправить вопрос онбординга",
      "webhookId": "5901e0a2-2558-4339-8b22-747396c4d773",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'main_' + $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1424,
        336
      ],
      "id": "d1c356eb-0542-4283-973c-2583910e2290",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1280,
        336
      ],
      "id": "ccc1f3a9-0c48-4e7d-86ca-23d8a88b7b7a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — опытный астролог с глубокими знаниями западной и ведической астрологии. Твоя задача — составлять персонализированные астрологические прогнозы на основе натальных данных пользователя.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (из базы):\nИмя: {{ $('Узнаем обращался ли клиент ранее?').item.json.first_name || 'не указано' }}\nДата рождения: {{ $('Узнаем обращался ли клиент ранее?').item.json.birth_date || 'не указана' }}\nГород: {{ $('Узнаем обращался ли клиент ранее?').item.json.city || 'не указан' }}\n\n\nТЕКУЩАЯ ДАТА:\nСегодня: {{ $now.toFormat('dd.MM.yyyy') }} ({{ $now.toFormat('EEEE') }})\nЗавтра: {{ $now.plus({days: 1}).toFormat('dd.MM.yyyy') }}\nНачало текущей недели (пн): {{ $now.startOf('week').toFormat('dd.MM.yyyy') }}\nКонец текущей недели (вс): {{ $now.endOf('week').toFormat('dd.MM.yyyy') }}\nТекущий месяц: {{ $now.toFormat('MMMM yyyy') }}\n\nШАГ 1 — АВТОМАТИЧЕСКИ ОПРЕДЕЛИ ЗНАК ЗОДИАКА:\nПо дате рождения из базы вычисли знак зодиака пользователя.\n- Овен: 21.03 – 19.04\n- Телец: 20.04 – 20.05\n- Близнецы: 21.05 – 20.06\n- Рак: 21.06 – 22.07\n- Лев: 23.07 – 22.08\n- Дева: 23.08 – 22.09\n- Весы: 23.09 – 22.10\n- Скорпион: 23.10 – 21.11\n- Стрелец: 22.11 – 21.12\n- Козерог: 22.12 – 19.01\n- Водолей: 20.01 – 18.02\n- Рыбы: 19.02 – 20.03\n\nПРАВИЛА ОПРЕДЕЛЕНИЯ ПЕРИОДА:\n- Если пользователь говорит «на сегодня» → прогноз на {{ $now.toFormat('dd.MM.yyyy') }}\n- Если пользователь говорит «на завтра» → прогноз на {{ $now.plus({days: 1}).toFormat('dd.MM.yyyy') }}\n- Если пользователь говорит «на эту неделю» → период с {{ $now.startOf('week').toFormat('dd.MM.yyyy') }} по {{ $now.endOf('week').toFormat('dd.MM.yyyy') }}\n- Если пользователь говорит «на следующую неделю» → период с {{ $now.plus({weeks: 1}).startOf('week').toFormat('dd.MM.yyyy') }} по {{ $now.plus({weeks: 1}).endOf('week').toFormat('dd.MM.yyyy') }}\n- Если пользователь говорит «на этот месяц» → {{ $now.toFormat('MMMM yyyy') }}\n- Если пользователь говорит «на следующий месяц» → {{ $now.plus({months: 1}).toFormat('MMMM yyyy') }}\n- Если период НЕ указан — составляй прогноз на сегодня по умолчанию\n\nКАК ТЫ ОБЩАЕШЬСЯ:\n- Стиль общения неформальный, тёплый. Обращайся к пользователю по имени на ты.\n- Используй астрологическую терминологию, но объясняй её доступно.\n- Избегай категоричных негативных предсказаний.\n- Сообщения не очень длинные, сопровождаются эмодзи: ✨🥺💫💞🔮🌠🎑💗🥹\n\nСТРУКТУРА ПРОГНОЗА:\n1. 🌟 Общая энергия периода\n2. 💕 Любовь и отношения\n3. 💼 Карьера и финансы\n4. 🌿 Здоровье и энергетика\n5. 🔮 Совет на период\n6. ✨ Аффирмация дня\n\nВАЖНЫЕ ПРАВИЛА:\n- В один и тот же день, период не может быть взаимоисключающих прогнозов на разные темы. Если пользователь уже получал прогноз на конкретную тему, то вежливо напоминаем о том что прогноз на этот день уже есть и слегка дополняем. Максимальное количество дополнений - 2\n- Привязывай прогноз к реальным астрологическим событиям текущего периода (фаза Луны, сезон, планетарные транзиты)\n- Не делай медицинских, юридических или финансовых рекомендаций в буквальном смысле\n- Если дата рождения в базе не указана — вежливо попроси пользователя её уточнить, сообщив что без неё невозможно составить персональный прогноз\n- Ограничь текст до 2-4 предложений на каждую СТРУКТУРУ ПРОГНОЗА."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        96
      ],
      "id": "fe4ae5e2-e3e3-4951-b7b1-197a3ea10a16",
      "name": "AI Agent (Гороскоп)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — опытный астролог. Твоя задача — рассчитать совместимость между двумя людьми на основе их астрологических данных.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ:\nИмя: {{ $('Узнаем обращался ли клиент ранее?').item.json.first_name || 'не указано' }}\nДата рождения: {{ $('Узнаем обращался ли клиент ранее?').item.json.birth_date || 'не указана' }}\nГород: {{ $('Узнаем обращался ли клиент ранее?').item.json.city || 'не указан' }}\n\nВ сообщении пользователя содержатся данные второго человека (имя, дата рождения, город).\nПроанализируй совместимость и составь отчёт.\n\nСТРУКТУРА ОТВЕТА:\n💞 Общая совместимость (процент и краткое описание)\n❤️ Эмоциональная совместимость\n🧠 Интеллектуальная совместимость\n💼 Совместимость в делах и целях\n⚡ Напряжения и трудности\n🌟 Совет для гармоничных отношений\n\nСтиль: тёплый, неформальный, на ты. Эмодзи: ✨💞🔮🌠💗🥹\n\n- Ограничь текст до 2-4 предложений на каждую СТРУКТУРУ ПРОГНОЗА."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        560
      ],
      "id": "b165360e-b2a4-4036-b033-04b9145d162a",
      "name": "AI Agent (Совместимость)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — опытный астролог. Твоя задача — составить натальную карту пользователя и подробно её интерпретировать.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ:\nИмя: {{ $('Узнаем обращался ли клиент ранее?').item.json.first_name || 'не указано' }}\nДата рождения: {{ $('Узнаем обращался ли клиент ранее?').item.json.birth_date || 'не указана' }}\nГород рождения: {{ $('Узнаем обращался ли клиент ранее?').item.json.city || 'не указан' }}\n\nКАК ТЫ ОБЩАЕШЬСЯ:\n- Стиль общения неформальный, тёплый. Обращайся к пользователю по имени на ты.\n- Используй астрологическую терминологию, но объясняй её доступно.\n- Избегай категоричных негативных предсказаний.\n- Сообщения не очень длинные, сопровождаются эмодзи: ✨🥺💫💞🔮🌠🎑💗🥹\n\n\nСоставь полную интерпретацию натальной карты.\n\nСТРУКТУРА ОТВЕТА:\n☀️ Солнечный знак — ядро личности\n🌙 Лунный знак — эмоциональный мир\n⬆️ Асцендент — как тебя видят другие (рассчитай по городу и времени если указано, иначе отметь что точное время не указано)\n💫 Доминирующие планеты и их влияние\n🔥 Сильные стороны характера\n🌊 Зоны роста и вызовы\n💼 Профессиональные склонности\n💞 В любви и отношениях\n🌟 Главная жизненная задача\n✨ Аффирмация для тебя\n\nСтиль: тёплый, вдохновляющий, неформальный, на ты. Эмодзи: ✨🌟💫🔮🌙☀️💞\n\nВАЖНЫЕ ПРАВИЛА:\n- В один и тот же день, период не может быть взаимоисключающих прогнозов по натальной карте на разные темы. Если пользователь уже получал ответ по натальной карте, то вежливо напоминаем о том что прогноз по натальной карте уже был и слегка дополняем. Максимальное количество дополнений - 2.\n- Привязывай натальную карту к реальным астрологическим событиям текущего периода (фаза Луны, сезон, планетарные транзиты)\n- Не делай медицинских, юридических или финансовых рекомендаций в буквальном смысле\n- Ограничь текст до 2-4 предложений на каждую СТРУКТУРУ ОТВЕТА.\n- Не используй в тексте '---' для раздела, просто разрыв."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        912
      ],
      "id": "e99b5958-92cd-4934-a3a0-a1eced41b861",
      "name": "AI Agent (Натальная карта)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'compat_' + $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1360,
        736
      ],
      "id": "688e8c3b-e1e0-4461-bfec-9c0a62641580",
      "name": "Memory Совместимость"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        736
      ],
      "id": "a7ed96e9-8b16-475c-8672-f34604880dce",
      "name": "OpenAI Совместимость",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        1120
      ],
      "id": "6c8c1f41-b759-4328-9813-ec1e42797391",
      "name": "Memory Натальная"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        1120
      ],
      "id": "1ac0b2e5-be00-4fa5-b0d1-6ca5c6314fbf",
      "name": "OpenAI Натальная",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}\n\n✨ Хочешь узнать что-то ещё? Выбери режим:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Гороскоп",
                    "additionalFields": {
                      "callback_data": "mode_horoscope"
                    }
                  },
                  {
                    "text": "Совместимость",
                    "additionalFields": {
                      "callback_data": "mode_compatibility"
                    }
                  },
                  {
                    "text": "Натальная карта",
                    "additionalFields": {
                      "callback_data": "mode_natal"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться",
                    "additionalFields": {
                      "switch_inline_query": "=\nСмотри, какой гороскоп мне составили в этом боте!  \n\n{{ $json.output }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        80
      ],
      "id": "16c17b8f-a0e3-4516-93fe-02ab3454fd84",
      "name": "Text from bot (Гороскоп)",
      "webhookId": "67cb4cf7-0364-49b5-9bb6-3e4c13706065",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}\n\n✨ Хочешь узнать что-то ещё? Выбери режим:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Гороскоп",
                    "additionalFields": {
                      "callback_data": "mode_horoscope"
                    }
                  },
                  {
                    "text": "Совместимость",
                    "additionalFields": {
                      "callback_data": "mode_compatibility"
                    }
                  },
                  {
                    "text": "Натальная карта",
                    "additionalFields": {
                      "callback_data": "mode_natal"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться",
                    "additionalFields": {
                      "switch_inline_query": "=Смотри какая совместимость!\n\n{{ $json.output }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        544
      ],
      "id": "8df6cf0a-1fab-458e-bc0d-fc8ce53b5ea6",
      "name": "Text from bot (Совместимость)",
      "webhookId": "78255c70-eeb5-4a49-a78f-ed918d75dd5f",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }} \n\n✨ Хочешь узнать что-то ещё? Выбери режим:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Гороскоп",
                    "additionalFields": {
                      "callback_data": "mode_horoscope"
                    }
                  },
                  {
                    "text": "Совместимость",
                    "additionalFields": {
                      "callback_data": "mode_compatibility"
                    }
                  },
                  {
                    "text": "Натальная карта",
                    "additionalFields": {
                      "callback_data": "mode_natal"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться",
                    "additionalFields": {
                      "switch_inline_query": "=Моя натальная карта:\n\n{{ $json.output }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        1088
      ],
      "id": "3ddb5a12-6f15-4996-bd8f-5078d71bc594",
      "name": "Text from bot (Натальная)",
      "webhookId": "9b9f7a26-8e15-4796-b5fc-9a3dceb17756",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "last_time_ask": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        544
      ],
      "id": "6b246280-e8e4-4241-994a-5c453d844caf",
      "name": "Обновить last_time_ask",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2144,
        2240
      ],
      "id": "7ec455d1-b56a-40da-b21d-04ecaba0904f",
      "name": "Триггер каждые 15 минут"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "profile_complete",
              "lookupValue": "YES"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1904,
        2240
      ],
      "id": "1dc6a20b-5332-437c-b82a-b888966c3540",
      "name": "Получить всех клиентов из Sheets",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Фильтруем пользователей, которым сейчас нужно отправить прогноз\nconst users = $input.all();\nconst nowUTC = new Date();\n\nconst usersToNotify = [];\n\nfor (const user of users) {\n  const tz = user.json.timezone || 'Europe/Moscow';\n  const preferredTime = user.json.preferred_time || '09:00';\n  const lastSent = user.json.last_daily_sent || '';\n\n  const userTimeStr = nowUTC.toLocaleTimeString('ru-RU', {\n    timeZone: tz,\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  });\n\n  const userDateStr = nowUTC.toLocaleDateString('ru-RU', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  });\n\n  const [curH, curM] = userTimeStr.split(':').map(Number);\n  const [prefH, prefM] = preferredTime.split(':').map(Number);\n\n  const curTotalMin = curH * 60 + curM;\n  const prefTotalMin = prefH * 60 + prefM;\n  const diffMinutes = Math.abs(curTotalMin - prefTotalMin);\n\n  let alreadySentToday = false;\n  if (lastSent) {\n    const lastSentDate = new Date(lastSent).toLocaleDateString('ru-RU', {\n      timeZone: tz,\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit'\n    });\n    alreadySentToday = lastSentDate === userDateStr;\n  }\n\n  if (diffMinutes <= 14 && !alreadySentToday) {\n    usersToNotify.push({\n      json: {\n        telegram_id: user.json.telegram_id,\n        first_name: user.json.first_name,\n        last_name: user.json.last_name,\n        birth_date: user.json.birth_date,\n        city: user.json.city,\n        timezone: tz,\n        preferred_time: preferredTime,\n        user_current_time: userTimeStr,\n        user_current_date: userDateStr\n      }\n    });\n  }\n}\n\nif (usersToNotify.length === 0) {\n  return [];\n}\n\nreturn usersToNotify;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        2240
      ],
      "id": "402c16df-6c57-4951-9d6a-edaf47f0079f",
      "name": "Фильтр: кому сейчас отправлять"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Составь утреннее пожелание на сегодня {{ $json.user_current_date }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "==Ты — астролог, который каждое утро отправляет короткое персональное пожелание на день.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ:\nИмя: {{ $json.first_name || 'не указано' }}\nДата рождения: {{ $json.birth_date || 'не указана' }}\nСегодня: {{ $json.user_current_date }}\n\nТВОЯ ЗАДАЧА:\nПо дате рождения автоматически определи знак зодиака и составь одно короткое пожелание на сегодняшний день.\n\nАВТОМАТИЧЕСКИ ОПРЕДЕЛЕНИЕ ЗНАКА ЗОДИАКА:\nПо дате рождения из базы вычисли знак зодиака пользователя.\n- Овен: 21.03 – 19.04\n- Телец: 20.04 – 20.05\n- Близнецы: 21.05 – 20.06\n- Рак: 21.06 – 22.07\n- Лев: 23.07 – 22.08\n- Дева: 23.08 – 22.09\n- Весы: 23.09 – 22.10\n- Скорпион: 23.10 – 21.11\n- Стрелец: 22.11 – 21.12\n- Козерог: 22.12 – 19.01\n- Водолей: 20.01 – 18.02\n- Рыбы: 19.02 – 20.03\n\nФОРМАТ ОТВЕТА — строго одна строка, ничего больше:\n✨[Пожелание на день]✨\n\nПРАВИЛА:\n- Пожелание короткое — одно предложение, максимум 15 слов\n- Тёплый, чуть ироничный тон — как от мудрого друга\n- Каждый день новое, непохожее на предыдущее\n- Никаких приветствий, подписей, объяснений — только сама строка с ✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1376,
        2240
      ],
      "id": "d8e7fe28-0d52-4c13-b804-a796c84b3968",
      "name": "AI Agent — Ежедневный прогноз",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1408,
        2432
      ],
      "id": "4fb7c8a1-2310-42dd-82ff-4814da77fcda",
      "name": "OpenAI Daily Model",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Фильтр: кому сейчас отправлять').item.json.telegram_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -976,
        2240
      ],
      "id": "3f27ef60-4293-415a-87be-fd0c89c6de2e",
      "name": "Отправить прогноз в Telegram",
      "webhookId": "97f6d7b9-10d3-4f5d-a09f-1669f1cab396",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs",
          "mode": "list",
          "cachedResultName": "Нотальная идея",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWQPKhYxYoZnlzG-juoEDh0wYOP-9XxzhUS1NCH-mWs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Фильтр: кому сейчас отправлять').item.json.telegram_id }}",
            "last_daily_sent": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_daily_sent",
              "displayName": "last_daily_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        2240
      ],
      "id": "c9775582-4734-438d-bdc8-0b8634bea6ad",
      "name": "Обновить last_daily_sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Отлично! ✨\n\nНапиши \"Рассчитай натальную карту\" и ты получишь её.",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        352
      ],
      "id": "4a0f5450-e016-44f2-8de1-9022b5a3d2eb",
      "name": "Натальная карта",
      "webhookId": "natal-self-remind-wh",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Хорошо! 🌟 Расскажи мне о человеке, чью натальную карту хочешь рассчитать.\n\nКак его/её зовут? 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        528
      ],
      "id": "b64e5378-5e26-4070-88cc-133efa005af9",
      "name": "Начало онбординга (натальная — другой)",
      "webhookId": "c24fa53a-6ee9-49cb-aa8e-714f61b5d63b",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Парсим callback').item.json.chatId }}",
        "text": "=Хорошо! 🌟 Расскажи мне о человеке, чью натальную карту хочешь рассчитать.\n\nКак его/её зовут? 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1312
      ],
      "id": "c6a64468-1b95-4ccd-9d98-039df282e224",
      "name": "Начало онбординга (натальная — другой, без профиля)",
      "webhookId": "67e4ba7e-400a-4a84-a7ff-b3a4aa8d6f6f",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Разбираем апдейт').item.json.chatId }}",
        "text": "={{ $json.output }}\n\n✨ Хочешь узнать что-то ещё? Выбери режим:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Гороскоп",
                    "additionalFields": {
                      "callback_data": "mode_horoscope"
                    }
                  },
                  {
                    "text": "Совместимость",
                    "additionalFields": {
                      "callback_data": "mode_compatibility"
                    }
                  },
                  {
                    "text": "Натальная карта",
                    "additionalFields": {
                      "callback_data": "mode_natal"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться",
                    "additionalFields": {
                      "switch_inline_query": "=Твоя натальная карта:\n\n{{ $json.output }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        1120
      ],
      "id": "03933bc2-9aae-432d-ac2c-a2261103131b",
      "name": "Text from bot (Натальная — другой)",
      "webhookId": "586922e7-d72e-47f4-bc32-c7aeca21bfc3",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — помощник-астролог. Твоя задача — собрать данные о человеке, чью натальную карту хочет узнать пользователь. С пользователем здороваться уже не нужно!\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (кто запрашивает):\nИмя: {{ $('Узнаем обращался ли клиент ранее?').item.json.first_name || 'не указано' }}\n\nТВОЯ ЗАДАЧА — собрать три параметра другого человека:\n1. Имя\n2. Дата рождения (день, месяц, год)\n3. Город рождения\n\nСобирай данные последовательно: задавай по одному вопросу за раз.\nСтиль общения: тёплый, неформальный, на ты. Эмодзи приветствуются: ✨💫🌟\n\nКогда все три параметра собраны, ОБЯЗАТЕЛЬНО верни ответ строго в следующем формате (и ничего кроме этого блока):\nДАННЫЕ_СОБРАНЫ\nимя: <имя>\nдата_рождения: <дата>\nгород: <город>\n\nПока данные не собраны — просто задавай вопросы в дружелюбной форме, НЕ выводи блок ДАННЫЕ_СОБРАНЫ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        1280
      ],
      "id": "3b9cb74e-f939-4010-b0fc-2e2225a23a2b",
      "name": "AI Agent 1 (Сбор данных — другой)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        1488
      ],
      "id": "0eb624fb-5081-4bea-9226-ed6a96f8acdd",
      "name": "OpenAI Сбор данных (другой)",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=natal_other_collect_{{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        1488
      ],
      "id": "8761f160-9797-46a5-882a-adedc30ee73c",
      "name": "Memory Сбор данных (другой)"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output || '';\n\nif (output.includes('ДАННЫЕ_СОБРАНЫ')) {\n  // Parse collected data\n  const nameMatch = output.match(/имя:\\s*(.+)/i);\n  const dateMatch = output.match(/дата_рождения:\\s*(.+)/i);\n  const cityMatch = output.match(/город:\\s*(.+)/i);\n\n  const otherName = nameMatch ? nameMatch[1].trim() : '';\n  const otherDate = dateMatch ? dateMatch[1].trim() : '';\n  const otherCity = cityMatch ? cityMatch[1].trim() : '';\n\n  return [{\n    json: {\n      ...$input.item.json,\n      dataReady: true,\n      otherName,\n      otherDate,\n      otherCity,\n      messageToUser: null\n    }\n  }];\n} else {\n  // Still collecting — pass through agent's question to user\n  return [{\n    json: {\n      ...$input.item.json,\n      dataReady: false,\n      messageToUser: output\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1280
      ],
      "id": "3b7543ad-7939-4ae5-8a4b-884cc7bc62ca",
      "name": "Парсим ответ агента 1 (другой)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.dataReady }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cond-data-ready"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Данные собраны"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.dataReady }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "cond-data-not-ready"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ещё вопросы"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1936,
        1440
      ],
      "id": "a1b6e761-ffdd-4827-9141-953fb40ed76e",
      "name": "Данные о другом собраны?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Разбираем апдейт').item.json.chatId }}",
        "text": "={{ $json.messageToUser }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        1472
      ],
      "id": "993a1f9d-283e-4ec2-a83f-e04241569030",
      "name": "Отправить вопрос (сбор данных — другой)",
      "webhookId": "38fc31a0-7a00-49ba-a12d-039daeece6a7",
      "credentials": {
        "telegramApi": {
          "id": "j2vA3zYFe8z83aTv",
          "name": "Natal Chart"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Составь полную натальную карту для человека по имени {{ $json.otherName }}, дата рождения: {{ $json.otherDate }}, город рождения: {{ $json.otherCity }}.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — опытный астролог. Твоя задача — составить натальную карту другого человека и подробно её интерпретировать.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (кто запрашивает):\nИмя: {{ $('Узнаем обращался ли клиент ранее?').item.json.first_name || 'не указано' }}\n\nКАК ТЫ ОБЩАЕШЬСЯ:\n- Стиль общения неформальный, тёплый. Обращайся к пользователю по его имени на ты.\n- Используй астрологическую терминологию, но объясняй её доступно.\n- Избегай категоричных негативных предсказаний.\n- Сообщения сопровождаются эмодзи: ✨🥺💫💞🔮🌠🎑💗🥹\n\nСТРУКТУРА ОТВЕТА:\n☀️ Солнечный знак — ядро личности\n🌙 Лунный знак — эмоциональный мир\n⬆️ Асцендент — как этого человека видят другие\n💫 Доминирующие планеты и их влияние\n🔥 Сильные стороны характера\n🌊 Зоны роста и вызовы\n💼 Профессиональные склонности\n💞 В любви и отношениях\n🌟 Главная жизненная задача\n✨ Аффирмация для него/неё\n\nСтиль: тёплый, вдохновляющий, неформальный. Эмодзи: ✨🌟💫🔮🌙☀️💞\n\nВАЖНЫЕ ПРАВИЛА:\n- Не здоровайся с пользователем, ты уже с ним знаком.\n- Натальную карту ты рассказываешь о другом человеке, не о юзере.\n- Ограничь текст до 2-4 предложений на каждую структуру ответа\n- Не используй '---' для разделов, просто разрыв строки\n- Не делай медицинских, юридических или финансовых рекомендаций\n- Привязывай натальную карту к реальным астрологическим событиям текущего периода"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2240,
        1136
      ],
      "id": "769e5ed3-0135-4a0e-a328-1c07c7682cc1",
      "name": "AI Agent 2 (Натальная карта — другой)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2240,
        1328
      ],
      "id": "968f2c09-f2ed-4c93-a121-fb11df006d1d",
      "name": "OpenAI Натальная (другой)",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=natal_other_chart_{{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2384,
        1328
      ],
      "id": "5702550d-b742-4836-b773-00f1928eb343",
      "name": "Memory Натальная (другой)"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Разбираем апдейт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем апдейт": {
      "main": [
        [
          {
            "node": "Switch по типу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch по типу": {
      "main": [
        [
          {
            "node": "Отправить приветствие с кнопками",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Парсим callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch (текст/голос)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch (текст/голос)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсим callback": {
      "main": [
        [
          {
            "node": "Ответ на callback (убрать часики)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ на callback (убрать часики)": {
      "main": [
        [
          {
            "node": "Проверяем юзера (callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем юзера (callback)": {
      "main": [
        [
          {
            "node": "Сохраняем mode в Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем mode в Sheets": {
      "main": [
        [
          {
            "node": "Профиль заполнен? (callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Профиль заполнен? (callback)": {
      "main": [
        [
          {
            "node": "Роутер по режиму (профиль заполнен)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Роутер по режиму (нет профиля)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Роутер по режиму (профиль заполнен)": {
      "main": [
        [
          {
            "node": "Предложить запросить гороскоп",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Предложить ввести партнёра",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Натальная карта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Начало онбординга (натальная — другой)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Роутер по режиму (нет профиля)": {
      "main": [
        [
          {
            "node": "Начало онбординга (гороскоп)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Начало онбординга (совместимость)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Начало онбординга (натальная)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Начало онбординга (натальная — другой, без профиля)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (текст/голос)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Узнаем обращался ли клиент ранее?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Узнаем обращался ли клиент ранее?": {
      "main": [
        [
          {
            "node": "Профиль заполнен? (текст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Профиль заполнен? (текст)": {
      "main": [
        [
          {
            "node": "Роутер по режиму (текстовое сообщение)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Onboarding Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Роутер по режиму (текстовое сообщение)": {
      "main": [
        [
          {
            "node": "AI Agent (Гороскоп)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Совместимость)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Натальная карта)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent 1 (Сбор данных — другой)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Onboarding": {
      "ai_memory": [
        [
          {
            "node": "Onboarding Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Onboarding Model": {
      "ai_languageModel": [
        [
          {
            "node": "Onboarding Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Agent": {
      "main": [
        [
          {
            "node": "Parse Onboarding Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Onboarding Response": {
      "main": [
        [
          {
            "node": "Онбординг завершён?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Онбординг завершён?": {
      "main": [
        [
          {
            "node": "Сохранить профиль в Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить вопрос онбординга",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить профиль в Sheets": {
      "main": [
        [
          {
            "node": "Отправить приветствие (онбординг завершён)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Гороскоп)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Гороскоп)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Гороскоп)": {
      "main": [
        [
          {
            "node": "Text from bot (Гороскоп)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Совместимость)": {
      "main": [
        [
          {
            "node": "Text from bot (Совместимость)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Натальная карта)": {
      "main": [
        [
          {
            "node": "Text from bot (Натальная)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Совместимость": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Совместимость)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Совместимость": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Совместимость)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Натальная": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Натальная карта)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Натальная": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Натальная карта)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text from bot (Гороскоп)": {
      "main": [
        [
          {
            "node": "Обновить last_time_ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text from bot (Совместимость)": {
      "main": [
        [
          {
            "node": "Обновить last_time_ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text from bot (Натальная)": {
      "main": [
        [
          {
            "node": "Обновить last_time_ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Триггер каждые 15 минут": {
      "main": [
        [
          {
            "node": "Получить всех клиентов из Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить всех клиентов из Sheets": {
      "main": [
        [
          {
            "node": "Фильтр: кому сейчас отправлять",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтр: кому сейчас отправлять": {
      "main": [
        [
          {
            "node": "AI Agent — Ежедневный прогноз",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Ежедневный прогноз": {
      "main": [
        [
          {
            "node": "Отправить прогноз в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Daily Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Ежедневный прогноз",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Отправить прогноз в Telegram": {
      "main": [
        [
          {
            "node": "Обновить last_daily_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text from bot (Натальная — другой)": {
      "main": [
        [
          {
            "node": "Обновить last_time_ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 1 (Сбор данных — другой)": {
      "main": [
        [
          {
            "node": "Парсим ответ агента 1 (другой)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Сбор данных (другой)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 1 (Сбор данных — другой)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Сбор данных (другой)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent 1 (Сбор данных — другой)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Парсим ответ агента 1 (другой)": {
      "main": [
        [
          {
            "node": "Данные о другом собраны?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные о другом собраны?": {
      "main": [
        [
          {
            "node": "AI Agent 2 (Натальная карта — другой)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить вопрос (сбор данных — другой)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 2 (Натальная карта — другой)": {
      "main": [
        [
          {
            "node": "Text from bot (Натальная — другой)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Натальная (другой)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 2 (Натальная карта — другой)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Натальная (другой)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent 2 (Натальная карта — другой)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Триггер каждые 15 минут": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "2ad28efc-5767-4319-861d-a320be7a9c59",
  "activeVersionId": null,
  "versionCounter": 21,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-21T19:11:13.645Z",
      "createdAt": "2026-02-21T19:11:13.645Z",
      "role": "workflow:owner",
      "workflowId": "016tnzspMqq3n7lJ",
      "projectId": "BfEgmNRV6qqyBW3u",
      "project": {
        "updatedAt": "2026-01-08T15:24:28.230Z",
        "createdAt": "2026-01-08T15:24:04.032Z",
        "id": "BfEgmNRV6qqyBW3u",
        "name": "Admin Admin <maxim.eremeev03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
        "projectRelations": [
          {
            "updatedAt": "2026-01-08T15:24:04.032Z",
            "createdAt": "2026-01-08T15:24:04.032Z",
            "userId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
            "projectId": "BfEgmNRV6qqyBW3u",
            "user": {
              "updatedAt": "2026-03-08T11:51:25.359Z",
              "createdAt": "2026-01-08T15:24:03.610Z",
              "id": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
              "email": "maxim.eremeev03@gmail.com",
              "firstName": "Admin",
              "lastName": "Admin",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "W1OITZJdAGvvz0SB",
                "userActivatedAt": 1768331805354,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770323013086
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}