workflows/MrA2UBhPgpxdxtm5_Логопед_v5_—_AI_Agent.json
{
  "updatedAt": "2026-03-03T17:03:45.803Z",
  "createdAt": "2026-02-28T06:39:23.147Z",
  "id": "MrA2UBhPgpxdxtm5",
  "name": "Логопед v5 — AI Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "19621ace-1d6e-4669-ace3-fad4b741d7f9",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        176
      ],
      "webhookId": "989090b8-6bbd-4221-876e-4fb1773b909d",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nlet chatId='', userId='', updateType='', text='', callbackData='', messageId='', callbackQueryId='';\nif (body.message) {\n  chatId = String(body.message.chat.id);\n  userId = String(body.message.from.id);\n  messageId = body.message.message_id;\n  text = body.message.text || '';\n  updateType = (text === '/start' || text.startsWith('/start ')) ? 'start' : 'message';\n} else if (body.callback_query) {\n  const cb = body.callback_query;\n  chatId = String(cb.message.chat.id);\n  userId = String(cb.from.id);\n  callbackData = cb.data || '';\n  callbackQueryId = cb.id || '';\n  updateType = 'callback_query';\n}\nreturn [{ json: { chatId, userId, updateType, text, callbackData, messageId, callbackQueryId } }];\n"
      },
      "id": "b7b6d708-2783-46f4-a5be-f947b2611bb7",
      "name": "Parse Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "callback_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "callback"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "start"
            }
          ]
        },
        "options": {}
      },
      "id": "49440c5b-4913-425f-9fdc-4daf96fb0ec6",
      "name": "Switch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -32,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const moscowOffset = 3 * 60;\nconst now = new Date();\nconst moscowNow = new Date(now.getTime() + moscowOffset * 60000);\n\nlet chatId = '';\nlet userText = '';\n\ntry {\n  const pu = $('Parse Update').first().json;\n  chatId = pu.chatId || '';\n  userText = pu.text || '';\n} catch(e) {}\n\ntry {\n  const cb = $('Parse Callback').first().json;\n  if (cb && cb.isMenuAction && cb.text) {\n    userText = cb.text;\n    if (cb.chatId) chatId = cb.chatId;\n  }\n} catch(e) {}\n\nconst currentDateTime = moscowNow.toLocaleString('ru-RU', {\n  weekday:'long', year:'numeric', month:'long', day:'numeric',\n  hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'\n});\n\n// Не передаём список занятых слотов — AI не должен предлагать даты\nreturn [{ json: { chatId, userText, currentDateTime } }];\n"
      },
      "id": "612fe470-4a4c-4a93-91b1-1495969713c9",
      "name": "Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "5e1a55f6-ca16-4dfb-ba46-bcc72396adc1",
      "name": "GPT-4o mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "ocwGK5BKh9VONU17",
          "name": "OpenAI account (new)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parse Update').first().json.chatId + '_' + $now.toISODate() + '_v3' }}",
        "contextWindowLength": 6
      },
      "id": "559d513b-b1df-44d2-a337-83a8ef355f15",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Format Context').first().json.userText }}",
        "options": {
          "systemMessage": "=Ты — Ассистент логопеда. Помогаешь клиентам:\n1. Записаться на занятие\n2. Отменить занятие\n\nРАСПИСАНИЕ: Понедельник–Суббота, 9:00–18:00 (Москва). Занятие = 60 минут.\nВоскресенье — выходной. Это очень важно!\nВ воскресенье не рабочий день.\n\nСЕЙЧАС (Москва): {{ $('Format Context').first().json.currentDateTime }}\n\nTELEGRAM_ID клиента: {{ $('Format Context').first().json.chatId }}\n\n!!! ДОСТУПНОСТЬ КАЛЕНДАРЯ: НЕДОСТУПНА.\nТы НЕ ЗНАЕШЬ какие слоты свободны. НЕ перечисляй времена и не говори \"свободно\"/\"занято\".\nПроверку доступности сделает система автоматически после записи. !!!\n\n--- ПРАВИЛА ---\n• Общайся дружелюбно, кратко, НА РУССКОМ.\n• При записи: узнай имя клиента (или ребёнка) и желаемые дату/время.\n• Если клиент назвал ДАТУ без времени — спроси ТОЛЬКО: \"В какое время?\". Не перечисляй варианты.\n• Когда клиент назвал имя + дату + время — переспроси: \"Подтвердите, пожалуйста: {name}, {date} в {time}?\"\n• После подтверждения — добавь команду в конец ответа.\n• При отмене: узнай дату занятия, попроси подтвердить, затем добавь команду.\n\nЗАПРЕЩЕНО:\n✘ Никогда не называй конкретные времена (\"в 9:00\", \"в 10:00\" и т.д.)\n✘ Не говори \"свободные слоты\" / \"у нас свободно\"\n✘ Не вычисляй доступность из рабочих часов\n\n--- ФОРМАТ КОМАНДЫ ДЛЯ ЗАПИСИ ---\nДобавь в конец ответа, когда клиент подтвердил:\n%%BOOK%%{\"name\":\"ИМЯ\",\"date\":\"YYYY-MM-DD\",\"time\":\"HH:MM\"}%%END%%\n\n--- ФОРМАТ КОМАНДЫ ДЛЯ ОТМЕНЫ ---\nДобавь в конец ответа, когда клиент подтвердил отмену:\n%%CANCEL%%{\"date\":\"YYYY-MM-DD\",\"time\":\"HH:MM\"}%%END%%\n\nЕсли просто разговор — отвечай только текстом без команд."
        }
      },
      "id": "51ed2c42-6780-4885-9277-8d0467ad855c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output || '';\n\n// Извлечь команды\nconst bookMatch = rawOutput.match(/%%BOOK%%\\s*({[\\s\\S]*?})\\s*%%END%%/);\nconst cancelMatch = rawOutput.match(/%%CANCEL%%\\s*({[\\s\\S]*?})\\s*%%END%%/);\n\n// Очистить текст от команд\nlet replyText = rawOutput\n  .replace(/%%BOOK%%[\\s\\S]*?%%END%%/g, '')\n  .replace(/%%CANCEL%%[\\s\\S]*?%%END%%/g, '')\n  .trim();\n\nlet command = 'none';\nlet commandData = {};\n\nif (bookMatch) {\n  try {\n    commandData = JSON.parse(bookMatch[1]);\n    commandData.chatId = $('Parse Update').first().json.chatId;\n    command = 'book';\n  } catch(e) { console.log('Book parse error:', e.message); }\n}\nif (cancelMatch) {\n  try {\n    commandData = JSON.parse(cancelMatch[1]);\n    commandData.chatId = $('Parse Update').first().json.chatId;\n    command = 'cancel';\n  } catch(e) { console.log('Cancel parse error:', e.message); }\n}\n\nreturn [{ json: { command, commandData, replyText } }];"
      },
      "id": "9a6acc5c-69ab-49b6-bdae-5dd329e19f47",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        192
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "book",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "book"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "21753d63-7af5-4527-b5b6-531fd8981c9b",
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1456,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.commandData;\nconst chatId = d.chatId || $('Parse Update').first().json.chatId;\nconst name = d.name || 'Клиент';\nconst date = d.date; // YYYY-MM-DD\nconst time = d.time; // HH:MM\n\n// Вычислить конец занятия (+60 мин)\nconst [h, m] = time.split(':').map(Number);\nconst endH = h + 1;\nconst endTime = String(endH).padStart(2,'0') + ':' + String(m).padStart(2,'0');\n\n// ISO строки в UTC+3\nconst startISO = date + 'T' + time + ':00+03:00';\nconst endISO   = date + 'T' + endTime + ':00+03:00';\n\n// ID записи\nconst apptId = 'appt_' + Date.now();\n\n// Форматированная дата для уведомлений\nconst dt = new Date(startISO);\nconst formatted = dt.toLocaleString('ru-RU', {weekday:'long',day:'numeric',month:'long',hour:'2-digit',minute:'2-digit',timeZone:'Europe/Moscow'});\n\nreturn [{ json: { chatId, name, date, time, endTime, startISO, endISO, apptId, formatted } }];"
      },
      "id": "10a207c6-681e-4d08-bc13-7fd22cf2f04b",
      "name": "Prep Book",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -112
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "eremeevdaniil137@mail.ru",
          "mode": "list",
          "cachedResultName": "eremeevdaniil137@mail.ru"
        },
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "additionalFields": {
          "description": "={{ 'telegram_id:' + $json.chatId }}",
          "summary": "={{ 'Занятие — ' + $json.name }}"
        }
      },
      "id": "e3b4b8e6-a634-4194-aee7-5fad9f095f90",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2736,
        -48
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "llgActQeqUVxEewb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $('Prep Book').first().json.apptId }}",
            "user_id": "={{ $('Prep Book').first().json.chatId }}",
            "child_name": "={{ $('Prep Book').first().json.name }}",
            "phone": "",
            "datetime": "={{ $('Prep Book').first().json.date + ' ' + $('Prep Book').first().json.time }}",
            "status": "active",
            "feedback_sent": ""
          },
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "child_name",
              "displayName": "child_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datetime",
              "displayName": "datetime",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "feedback_sent",
              "displayName": "feedback_sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ce57704b-260b-453e-8559-7f425384bd00",
      "name": "Save Appointment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2880,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "136356612",
        "text": "=🔔 <b>Новая запись!</b>\n\n👤 {{ $('Prep Book').first().json.name }}\n📅 {{ $('Prep Book').first().json.formatted }}\n🆔 chat_id: {{ $('Prep Book').first().json.chatId }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "28f0e1dd-c0e0-44cf-8db1-6dfbe05e2c75",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3136,
        -48
      ],
      "webhookId": "13b14007-7010-4c33-91a9-219098af8901",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Update').first().json.chatId }}",
        "text": "=✅ <b>Запись оформлена!</b>\n\n👶 {{ $('Prep Book').first().json.name }}\n📅 {{ $('Prep Book').first().json.formatted }}\n\n⏰ Напоминание придёт за 24 часа до занятия.\nЕсли будут вопросы — пишите нам! 😊",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "09393211-4e94-40c9-9603-670322399d34",
      "name": "Reply Book",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3264,
        -48
      ],
      "webhookId": "3f629de9-ea98-4236-9a53-fce2271ddee0",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.commandData;\nconst date = d.date; // YYYY-MM-DD\nconst time = d.time || '00:00';\nconst chatId = d.chatId || $('Parse Update').first().json.chatId;\n\n// Диапазон поиска — весь день\nconst timeMin = date + 'T00:00:00+03:00';\nconst timeMax = date + 'T23:59:59+03:00';\n\nreturn [{ json: { date, time, chatId, timeMin, timeMax } }];"
      },
      "id": "d402a8aa-8b1f-4ffd-a5db-376cb7416a5d",
      "name": "Prep Cancel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        656
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "eremeevdaniil137@mail.ru",
          "mode": "list",
          "cachedResultName": "eremeevdaniil137@mail.ru"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "23000d9b-e6de-4ebe-9cba-5a535edd6986",
      "name": "Get Events Cancel",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2080,
        656
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "llgActQeqUVxEewb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst cancelData = $('Prep Cancel').first().json;\nconst chatId = cancelData.chatId;\nconst targetDate = cancelData.date;  // YYYY-MM-DD\nconst targetTime = cancelData.time;  // HH:MM\n\nlet foundEventId = '';\nlet foundSummary = '';\n\nfor (const ev of events) {\n  const item = ev.json;\n  const desc = item.description || '';\n  const startStr = item.start && (item.start.dateTime || item.start.date);\n  if (!startStr) continue;\n\n  const startD = new Date(startStr);\n  // Дата события в московском времени YYYY-MM-DD\n  const moscowDate = startD.toLocaleDateString('sv-SE', {timeZone: 'Europe/Moscow'});\n  const moscowTime = startD.toLocaleTimeString('ru-RU', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'});\n\n  const hasChatId = desc.includes('telegram_id:' + chatId) || desc.includes('telegram_id: ' + chatId);\n  const matchDate = moscowDate === targetDate;\n  const matchTime = !targetTime || moscowTime === targetTime;\n\n  if (hasChatId && matchDate && matchTime) {\n    foundEventId = item.id;\n    foundSummary = item.summary || '';\n    break;\n  }\n}\n\n// 'нашли' или 'нет' — для IF ноды\nconst status = foundEventId ? 'found' : 'not_found';\nreturn [{ json: { foundEventId, foundSummary, status, chatId, cancelDate: targetDate, cancelTime: targetTime } }];\n"
      },
      "id": "1020d802-829b-412c-9e93-baf0957da6de",
      "name": "Find and Delete Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        656
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ef1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "found"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a5c182cf-7250-4232-9cab-8b4061519fe4",
      "name": "If Event Found",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2400,
        656
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "eremeevdaniil137@mail.ru",
          "mode": "list",
          "cachedResultName": "eremeevdaniil137@mail.ru"
        },
        "eventId": "={{ $json.foundEventId }}",
        "options": {}
      },
      "id": "fd69bc3d-21e6-4b05-9fcb-51cb5e0bc670",
      "name": "Delete Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2560,
        624
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "llgActQeqUVxEewb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "",
            "user_id": "={{ $('Find and Delete Event').first().json.chatId }}",
            "child_name": "",
            "phone": "",
            "datetime": "={{ $('Find and Delete Event').first().json.cancelDate + ' ' + $('Find and Delete Event').first().json.cancelTime }}",
            "status": "cancelled",
            "feedback_sent": ""
          },
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "child_name",
              "displayName": "child_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datetime",
              "displayName": "datetime",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "feedback_sent",
              "displayName": "feedback_sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "matchingColumns": [
            "user_id",
            "datetime"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "df4d1aa8-64eb-46fc-846e-b7eebc8b6856",
      "name": "Update Cancelled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        624
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Find and Delete Event').first().json.chatId }}",
        "text": "=✅ <b>Запись отменена!</b>\n\nЗанятие {{ $('Find and Delete Event').first().json.cancelDate }} в {{ $('Find and Delete Event').first().json.cancelTime }} удалено.\nБудем рады видеть вас снова! 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3caee637-1445-4a47-b368-62743627cfd4",
      "name": "Reply Cancel OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3072,
        624
      ],
      "webhookId": "acf404f5-ea99-4cad-894f-2990e1cfc87e",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Update').first().json.chatId }}",
        "text": "Не удалось найти занятие для отмены. Уточните дату и время, пожалуйста.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d99f4e57-149a-43ac-913c-2ba0bc135aea",
      "name": "Reply Cancel Fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        848
      ],
      "webhookId": "063ce1d0-b220-474e-ae4a-5013ff748f53",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst parseOutput = $('Parse Output').first().json;\nconst text = parseOutput.replyText || '';\n\nlet chatId = '';\ntry { chatId = $('Parse Update').first().json.chatId || ''; } catch(e) {}\nif (!chatId) { try { chatId = $('Parse Callback').first().json.chatId || ''; } catch(e) {} }\n\nif (!chatId || !text) return [{ json: { skipped: true } }];\n\n// Отвечаем на callbackQuery (чтобы кнопка не крутилась)\ntry {\n  const cqId = $('Parse Callback').first().json.callbackQueryId;\n  if (cqId) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: cqId, text: '' })\n    });\n  }\n} catch(e) {}\n\n// Если AI просит подтвердить — добавляем кнопки\nconst lc = text.toLowerCase();\nconst needsConfirm = lc.includes('подтверди');\n\nconst body = { chat_id: chatId, text: text, parse_mode: 'HTML' };\n\nif (needsConfirm) {\n  body.reply_markup = { inline_keyboard: [[\n    { text: '✅ Подтверждаю', callback_data: 'menu_confirm' },\n    { text: '❌ Нет', callback_data: 'cancel_abort' }\n  ]] };\n}\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify(body)\n});\n\nreturn [{ json: { sent: true, hadConfirmButtons: needsConfirm } }];\n"
      },
      "id": "2b1e3695-8674-49a3-9b7d-673875fe1af2",
      "name": "Reply None",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        992
      ],
      "webhookId": "39627c43-1cca-4771-87f7-0764d5a1fcb8"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst chatId = item.chatId || '';\nconst callbackData = item.callbackData || '';\nconst callbackQueryId = item.callbackQueryId || '';\n\n// Кнопки меню\nconst menuMap = {\n  'menu_book': 'Хочу записаться',\n  'menu_cancel': 'Хочу отменить запись',\n  'menu_list': 'Покажи мои записи',\n  'menu_confirm': 'Подтверждаю'\n};\nif (menuMap[callbackData]) {\n  return [{ json: { chatId, callbackQueryId, isMenuAction: true, text: menuMap[callbackData] } }];\n}\n\n// Подтверждение отмены (confirm_cancel_DATE_TIME)\nif (callbackData.startsWith('confirm_cancel_')) {\n  const rest = callbackData.replace('confirm_cancel_', '');\n  const parts = rest.split('_');\n  const cancelDate = parts[0] || '';\n  const cancelTime = (parts[1] || '').replace('-', ':');\n  return [{ json: { chatId, callbackQueryId, isConfirmCancel: true, cancelDate, cancelTime } }];\n}\n\n// Кнопка отмены (cancel_DATE_TIME)\nif (callbackData.startsWith('cancel_')) {\n  const rest = callbackData.replace('cancel_', '');\n  const parts = rest.split('_');\n  const cancelDate = parts[0] || '';\n  const cancelTime = (parts[1] || '').replace('-', ':');\n  if (cancelDate && cancelDate !== 'abort') {\n    return [{ json: { chatId, callbackQueryId, isCancelAction: true, cancelDate, cancelTime } }];\n  }\n  return [{ json: { chatId, callbackQueryId, isNoop: true } }];\n}\n\n// Отзыв (1-5 звёзд)\nconst rating = parseInt(callbackData);\nif (rating >= 1 && rating <= 5) {\n  const stars = '⭐'.repeat(rating);\n  return [{ json: { chatId, callbackQueryId, rating, stars, apptDate: '', isMenuAction: false } }];\n}\n\nreturn [{ json: { chatId, callbackData, callbackQueryId, isMenuAction: false } }];\n"
      },
      "id": "abefec93-08ff-4cf0-9caa-22264749dfde",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        384
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Отзывы",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.chatId }}",
            "appt_date": "={{ $json.apptDate }}",
            "rating": "={{ $json.rating }}",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "appt_date",
              "displayName": "appt_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4f498b3a-130b-4f6e-8507-4faba951f0a9",
      "name": "Save Feedback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback').first().json.chatId }}",
        "text": "=Спасибо за отзыв! {{ $('Parse Callback').first().json.stars }}\n\nВаше мнение очень важно для нас! 🙏",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "028e0d5e-d3d0-43c4-9f19-612d5888a261",
      "name": "Thank Feedback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        992
      ],
      "webhookId": "7dc1b826-e29d-47ac-83e8-89d174bbeda5",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-6"
            }
          ]
        }
      },
      "id": "ab3f207e-b793-4fbd-bd82-16b7b19c2e86",
      "name": "Schedule Reminders",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        1376
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "eremeevdaniil137@mail.ru",
          "mode": "list",
          "cachedResultName": "eremeevdaniil137@mail.ru"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "79f70864-a6d6-4bc9-a56c-00bd60390aa1",
      "name": "Get Tomorrow Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        16,
        1376
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "llgActQeqUVxEewb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst events = $input.all();\nconst result = [];\nfor (const ev of events) {\n  const item = ev.json;\n  if (!item.start) continue;\n  const desc = item.description || '';\n  const match = desc.match(/telegram_id:\\s*(\\d+)/);\n  if (!match) continue;\n  const chatId = match[1];\n  const startStr = item.start.dateTime || item.start.date;\n  const startDate = new Date(startStr);\n  const timeStr = startDate.toLocaleTimeString('ru-RU', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'});\n  const dateStr = startDate.toLocaleDateString('ru-RU', {weekday:'short', day:'numeric', month:'long', timeZone:'Europe/Moscow'});\n  const rawDate = startDate.toLocaleDateString('ru-RU', {timeZone:'Europe/Moscow'}).split('.').reverse().join('-');\n  result.push({ json: { chatId, timeStr, dateStr, rawDate } });\n}\nreturn result.length > 0 ? result : [{ json: { skip: true } }];\n"
      },
      "id": "89f9c828-6725-42ce-a09f-1bc9b8f5605c",
      "name": "Parse Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        1376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a849c7f4-eeea-4b61-a680-c63e12f68973",
      "name": "If Has Reminders",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        1376
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e8bd8ac0-8eee-44a2-bf73-a9d224d99aa4",
      "name": "Split Reminders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst cancelData = `cancel_${item.rawDate}_${item.timeStr.replace(':', '-')}`;\nconst body = {\n  chat_id: item.chatId,\n  text: `\\u23f0 <b>\\u041d\\u0430\\u043f\\u043e\\u043c\\u0438\\u043d\\u0430\\u043d\\u0438\\u0435 \\u043e \\u0437\\u0430\\u043d\\u044f\\u0442\\u0438\\u0438!</b>\\n\\n\\u0417\\u0430\\u0432\\u0442\\u0440\\u0430 ${item.dateStr} \\u0432 ${item.timeStr} \\u0443 \\u0432\\u0430\\u0441 \\u0437\\u0430\\u043d\\u044f\\u0442\\u0438\\u0435 \\u0443 \\u043b\\u043e\\u0433\\u043e\\u043f\\u0435\\u0434\\u0430.`,\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: [\n    [{text: '\\u274c \\u041e\\u0442\\u043c\\u0435\\u043d\\u0438\\u0442\\u044c \\u0437\\u0430\\u043d\\u044f\\u0442\\u0438\\u0435', callback_data: cancelData}]\n  ]}\n};\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify(body)\n});\nreturn [{ json: result }];\n"
      },
      "id": "bc8f575f-0105-4d06-a6e3-2fe89bcbdea5",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1344
      ],
      "webhookId": "e180f1bf-f901-44ab-890f-c36bfa5a5ed4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1-6"
            }
          ]
        }
      },
      "id": "cc29d368-efd4-4122-9275-db071bdbb7b1",
      "name": "Schedule Feedback",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        1936
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
          "mode": "id"
        }
      },
      "id": "f5a8cc63-c467-48e0-895e-6fad9bc642a5",
      "name": "Get Today Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        1936
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst today = new Date().toLocaleDateString('ru-RU', {timeZone:'Europe/Moscow'}).split('.').reverse().join('-');\n// today format: YYYY-MM-DD\n\nconst result = [];\nfor (const row of rows) {\n  const r = row.json;\n  if (!r.user_id || !r.datetime) continue;\n  if (r.status === 'cancelled') continue;\n  if (r.feedback_sent === '1' || r.feedback_sent === 1) continue;\n\n  // Проверить что datetime содержит сегодняшнюю дату\n  const dt = r.datetime || '';\n  const rowDate = dt.split(' ')[0]; // \"YYYY-MM-DD\"\n\n  if (rowDate === today) {\n    const timeStr = dt.split(' ')[1] || '';\n    result.push({ json: {\n      chatId: r.user_id.toString(),\n      name: r.child_name || 'клиент',\n      date: rowDate,\n      time: timeStr,\n      apptId: r.appointment_id\n    }});\n  }\n}\n\nreturn result.length > 0 ? result : [{ json: { skip: true } }];"
      },
      "id": "12625081-c27c-4ba6-b814-f45c08e860c7",
      "name": "Filter Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1936
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ba276998-92fe-4aa3-a434-475f93360ffa",
      "name": "If Has Feedback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        592,
        1952
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2918b184-d603-46fe-91d1-6a56b7bc2e66",
      "name": "Split Feedback",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        1936
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⭐ <b>Как прошло занятие?</b>\n\nОцените сегодняшнее занятие у логопеда:",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "8b56d891-99a7-4485-b882-cd1df28c3cf6",
      "name": "Send Feedback Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        1920
      ],
      "webhookId": "53bdee47-9d8c-45ae-a2f0-fe9a567d39bc",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $json.apptId }}",
            "user_id": "",
            "child_name": "",
            "phone": "",
            "datetime": "",
            "status": "",
            "feedback_sent": "1"
          },
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "child_name",
              "displayName": "child_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datetime",
              "displayName": "datetime",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "feedback_sent",
              "displayName": "feedback_sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "matchingColumns": [
            "appointment_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0660b744-0f1b-437f-bec4-e37653b972fc",
      "name": "Mark Feedback Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1216,
        1920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "136356612",
        "text": "=❌ <b>Отмена записи!</b>\n\n👤 {{ $('Find and Delete Event').first().json.chatId }}\n📅 {{ $('Find and Delete Event').first().json.cancelDate }} в {{ $('Find and Delete Event').first().json.cancelTime }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-admin-cancel-001",
      "name": "Notify Admin Cancel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2752,
        624
      ],
      "webhookId": "d59cf969-1f6b-4f82-899a-b17ead70b1e9",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "136356612",
        "text": "=\\u2b50 <b>\\u041d\\u043e\\u0432\\u044b\\u0439 \\u043e\\u0442\\u0437\\u044b\\u0432!</b>\\n\\n{{ $('Parse Callback').first().json.stars }} \\u043e\\u0442 \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u0430 {{ $('Parse Callback').first().json.chatId }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-admin-feedback-001",
      "name": "Notify Admin Feedback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        992
      ],
      "webhookId": "76f8baa0-974f-4dbb-a34b-ae4dfbc7e5d5",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 1-6"
            }
          ]
        }
      },
      "id": "schedule-morning-001",
      "name": "Schedule Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "eremeevdaniil137@mail.ru",
          "mode": "list",
          "cachedResultName": "eremeevdaniil137@mail.ru"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "get-today-events-001",
      "name": "Get Today Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        64,
        1728
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "llgActQeqUVxEewb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst events = $input.all();\nif (!events.length || !events[0].json.start) {\n  return [{ json: { skip: true, summary: '', dateStr: '' } }];\n}\nconst lines = events.map(ev => {\n  const item = ev.json;\n  const startStr = item.start.dateTime || item.start.date;\n  const timeStr = new Date(startStr).toLocaleTimeString('ru-RU', {hour:'2-digit',minute:'2-digit',timeZone:'Europe/Moscow'});\n  const name = (item.summary || '').replace('Занятие — ', '');\n  return `• ${timeStr} — ${name}`;\n});\nconst dateStr = new Date().toLocaleDateString('ru-RU', {weekday:'long',day:'numeric',month:'long',timeZone:'Europe/Moscow'});\nreturn [{ json: { skip: false, summary: lines.join('\\n'), dateStr } }];\n"
      },
      "id": "format-summary-001",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst events = $input.all();\nconst result = [];\nfor (const ev of events) {\n  const item = ev.json;\n  if (!item.start) continue;\n  const desc = item.description || '';\n  const match = desc.match(/telegram_id:\\s*(\\d+)/);\n  if (!match) continue;\n  const chatId = match[1];\n  const startStr = item.start.dateTime || item.start.date;\n  const timeStr = new Date(startStr).toLocaleTimeString('ru-RU', {hour:'2-digit',minute:'2-digit',timeZone:'Europe/Moscow'});\n  result.push({ json: { chatId, timeStr } });\n}\nreturn result.length > 0 ? result : [{ json: { skip: true } }];\n"
      },
      "id": "format-clients-001",
      "name": "Format Today Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-summary-001",
      "name": "If Has Summary",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-clients-001",
      "name": "If Has Clients Today",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        992,
        1712
      ]
    },
    {
      "parameters": {
        "chatId": "136356612",
        "text": "=📅 <b>Расписание на {{ $json.dateStr }}:</b>\n\n{{ $json.summary }}\n\n🕘 Удачного дня!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-summary-001",
      "name": "Send Morning Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        1712
      ],
      "webhookId": "7eda057c-c6e6-4c49-8e07-bb2e43f7f6a6",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-clients-001",
      "name": "Split Today Clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1232,
        1696
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⏰ <b>Напоминание!</b>\n\nСегодня в {{ $json.timeStr }} у вас занятие у логопеда. Ждём вас! 🙌",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-today-001",
      "name": "Send Today Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        1680
      ],
      "webhookId": "98891f2a-432b-40c2-968c-023a7c643a3a",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-start-001",
      "name": "Is Start Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.chatId;\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst body = {\n  chat_id: chatId,\n  text: '\\u0414\\u043e\\u0431\\u0440\\u043e \\u043f\\u043e\\u0436\\u0430\\u043b\\u043e\\u0432\\u0430\\u0442\\u044c! \\u041d\\u0430\\u043f\\u0438\\u0448\\u0438\\u0442\\u0435 \\u043c\\u043d\\u0435 \\u0438\\u043b\\u0438 \\u0432\\u044b\\u0431\\u0435\\u0440\\u0438\\u0442\\u0435 \\u0434\\u0435\\u0439\\u0441\\u0442\\u0432\\u0438\\u0435:',\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: [\n    [{text: '\\u0417\\u0430\\u043f\\u0438\\u0441\\u0430\\u0442\\u044c\\u0441\\u044f', callback_data: 'menu_book'},\n     {text: '\\u041e\\u0442\\u043c\\u0435\\u043d\\u0438\\u0442\\u044c', callback_data: 'menu_cancel'}],\n    [{text: '\\u041c\\u043e\\u0438 \\u0437\\u0430\\u043f\\u0438\\u0441\\u0438', callback_data: 'menu_list'}]\n  ]}\n};\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify(body)\n});\nreturn [{ json: result }];\n"
      },
      "id": "send-start-001",
      "name": "Send Start Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "rc1",
                    "leftValue": "={{ $json.isCancelAction }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "direct_cancel"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "rc2",
                    "leftValue": "={{ $json.isConfirmCancel }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "confirm_cancel"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "rc3",
                    "leftValue": "={{ $json.isNoop }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "noop"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r0",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Хочу отменить запись",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "cancel_menu"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "mr1",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Покажи мои записи",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "my_records"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.isMenuAction }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                }
              },
              "renameOutput": true,
              "outputKey": "menu"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-cb-001",
      "name": "Switch Callback Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        336,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Подтверждаем получение callback\nconst item = $input.first().json;\nreturn [{ json: { chatId: item.chatId, text: item.text, updateType: 'message', userId: item.chatId } }];\n"
      },
      "id": "prep-menu-001",
      "name": "Prep Menu Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        832
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Prep Book').first().json.chatId }}",
            "child_name": "={{ $('Prep Book').first().json.name }}",
            "age": "",
            "phone": "",
            "reg_date": "={{ new Date().toLocaleDateString('ru-RU', {timeZone:'Europe/Moscow'}) }}"
          },
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "child_name",
              "displayName": "child_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reg_date",
              "displayName": "reg_date",
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "matchingColumns": [
            "user_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "save-client-001",
      "name": "Save Client",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3008,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "options": {}
      },
      "id": "get-user-bookings-001",
      "name": "Get User Bookings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        560,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMfHQBCUu9ZCn7MT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst cb = $('Parse Callback').first().json;\nconst chatId = cb.chatId || '';\nconst callbackQueryId = cb.callbackQueryId || '';\n\n// mode: 'cancel' = показать кнопки отмены, 'list' = показать текстовый список\nconst mode = (cb.text === 'Покажи мои записи') ? 'list' : 'cancel';\n\n// Ответить на callbackQuery\nif (callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\n\nconst now = new Date();\nconst rows = $input.all();\n\nconst upcoming = rows\n  .filter(r => {\n    const j = r.json;\n    if (!j || !j.user_id) return false;\n    if (String(j.user_id) !== String(chatId)) return false;\n    if (j.status !== 'active') return false;\n    if (!j.datetime) return false;\n    const dt = new Date(j.datetime.replace(' ', 'T') + ':00+03:00');\n    return dt > now;\n  })\n  .sort((a, b) => {\n    const da = new Date(a.json.datetime.replace(' ', 'T') + ':00+03:00');\n    const db = new Date(b.json.datetime.replace(' ', 'T') + ':00+03:00');\n    return da - db;\n  });\n\nif (upcoming.length === 0) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${token}/sendMessage`,\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({ chat_id: chatId, text: '💭 У вас нет активных записей.' })\n  });\n  return [{ json: { done: true, count: 0 } }];\n}\n\nif (mode === 'list') {\n  // Текстовый список записей\n  let text = '📋 <b>Ваши записи:</b>\\n\\n';\n  for (const r of upcoming) {\n    const j = r.json;\n    const dt = new Date(j.datetime.replace(' ', 'T') + ':00+03:00');\n    const dateStr = dt.toLocaleDateString('ru-RU', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Moscow' });\n    const timeStr = dt.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Moscow' });\n    const name = j.child_name ? ' — ' + j.child_name : '';\n    text += `📅 ${dateStr} в ${timeStr}${name}\\n`;\n  }\n  text += '\\nДля отмены нажмите кнопку «Отменить».';\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${token}/sendMessage`,\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({ chat_id: chatId, text, parse_mode: 'HTML' })\n  });\n} else {\n  // Inline кнопки для отмены\n  const buttons = upcoming.map(r => {\n    const j = r.json;\n    const isoDate = j.datetime.slice(0, 10);\n    const rawTime = j.datetime.slice(11, 16);\n    const dt = new Date(j.datetime.replace(' ', 'T') + ':00+03:00');\n    const dateStr = dt.toLocaleDateString('ru-RU', { day: 'numeric', month: 'short', timeZone: 'Europe/Moscow' });\n    const timeStr = dt.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Moscow' });\n    const name = j.child_name ? ' — ' + j.child_name : '';\n    const timeCb = rawTime.replace(':', '-');\n    return [{ text: '📅 ' + dateStr + ', ' + timeStr + name,\n              callback_data: 'cancel_' + isoDate + '_' + timeCb }];\n  });\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${token}/sendMessage`,\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({\n      chat_id: chatId,\n      text: 'Выберите запись для отмены:',\n      reply_markup: { inline_keyboard: buttons }\n    })\n  });\n}\n\nreturn [{ json: { done: true, count: upcoming.length, mode } }];\n"
      },
      "id": "show-cancel-menu-001",
      "name": "Show Cancel Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst cb = $input.first().json;\nconst chatId = cb.chatId;\nconst callbackQueryId = cb.callbackQueryId || '';\nconst cancelDate = cb.cancelDate;  // YYYY-MM-DD\nconst cancelTime = cb.cancelTime;  // HH:MM\n\n// Убрать индикатор загрузки\nif (callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\n\n// Форматировать дату для отображения\nlet dateLabel = cancelDate;\ntry {\n  const dt = new Date(cancelDate + 'T' + cancelTime + ':00');\n  dateLabel = dt.toLocaleDateString('ru-RU', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Moscow' });\n} catch(e) {}\n\n// callback_data для подтверждения\nconst confirmCb = 'confirm_cancel_' + cancelDate + '_' + cancelTime.replace(':', '-');\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify({\n    chat_id: chatId,\n    text: `\\u2753 <b>\\u041f\\u043e\\u0434\\u0442\\u0432\\u0435\\u0440\\u0434\\u0438\\u0442\\u044c \\u043e\\u0442\\u043c\\u0435\\u043d\\u0443?</b>\\n\\n\\ud83d\\udcc5 ${dateLabel} \\u0432 ${cancelTime}`,\n    parse_mode: 'HTML',\n    reply_markup: { inline_keyboard: [\n      [\n        { text: '\\u2705 \\u0414\\u0430, \\u043e\\u0442\\u043c\\u0435\\u043d\\u0438\\u0442\\u044c', callback_data: confirmCb },\n        { text: '\\u274c \\u041d\\u0435\\u0442', callback_data: 'cancel_abort' }\n      ]\n    ]}\n  })\n});\nreturn [{ json: { done: true, chatId, cancelDate, cancelTime } }];\n"
      },
      "id": "ask-cancel-confirm-001",
      "name": "Ask Cancel Confirm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const cb = $input.first().json;\nconst chatId = cb.chatId;\nconst callbackQueryId = cb.callbackQueryId || '';\nconst cancelDate = cb.cancelDate;  // YYYY-MM-DD\nconst cancelTime = cb.cancelTime;  // HH:MM\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\n\n// Убрать индикатор загрузки\nif (callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\n\n// Формат для Prep Cancel\nreturn [{ json: { commandData: { date: cancelDate, time: cancelTime, chatId } } }];\n"
      },
      "id": "prep-direct-cancel-001",
      "name": "Prep Direct Cancel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const cb = $input.first().json;\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nif (cb.callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: cb.callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\nreturn [{ json: { done: true } }];\n"
      },
      "id": "answer-noop-001",
      "name": "Answer Noop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        544
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "eremeevdaniil137@mail.ru",
          "mode": "list",
          "cachedResultName": "eremeevdaniil137@mail.ru"
        },
        "returnAll": true,
        "options": {
          "singleEvents": true
        }
      },
      "id": "get-slot-check",
      "name": "Get Slot Check",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        2080,
        -112
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "llgActQeqUVxEewb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bookData = $('Prep Book').first().json;\nconst events = $input.all();\nconst targetDate = bookData.date;\nconst targetTime = bookData.time;\n\nconst [h, m] = targetTime.split(':').map(Number);\nconst dt = new Date(bookData.startISO);\nconst dayOfWeek = dt.getDay();\n\nif (dayOfWeek === 0) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'Воскресенье - выходной. Запись Пн-Сб.' } }];\n}\n\nif (h < 9 || h > 17 || (h === 17 && m > 0)) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'Запись доступна с 9:00 до 17:00. Напишите другое время.' } }];\n}\n\nconst now = new Date();\nconst moscowNow = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Moscow'}));\nif (dt < moscowNow) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'Это время уже прошло. Выберите будущую дату/время.' } }];\n}\n\nlet isTaken = false;\nfor (const ev of events) {\n  const item = ev.json;\n  if (!item || !item.start) continue;\n  const startStr = item.start.dateTime || item.start.date;\n  if (!startStr) continue;\n  const startD = new Date(startStr);\n  const moscowDate = startD.toLocaleDateString('sv-SE', {timeZone: 'Europe/Moscow'});\n  const moscowTime = startD.toLocaleTimeString('ru-RU', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'});\n  if (moscowDate === targetDate && moscowTime === targetTime) {\n    isTaken = true;\n    break;\n  }\n}\n\nif (isTaken) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'К сожалению, ' + targetDate + ' в ' + targetTime + ' уже занято. Напишите другое удобное время.' } }];\n}\n\nreturn [{ json: { ...bookData, slotFree: true, slotTakenMessage: '' } }];"
      },
      "id": "check-slot-free",
      "name": "Check Slot Free",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "sf1",
              "leftValue": "={{ $json.slotFree }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-slot-free",
      "name": "If Slot Free",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2448,
        -112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.slotTakenMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "reply-slot-taken",
      "name": "Reply Slot Taken",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2736,
        -224
      ],
      "webhookId": "633e2f8a-fcb1-486e-9f55-436dfc2ec3ae",
      "credentials": {
        "telegramApi": {
          "id": "vreHOidWlmOz9B1Y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📥 Вход и маршрутизация\nTelegram Trigger принимает сообщения и callback-кнопки.\nParse Update — извлекает chatId, текст, тип обновления.\nSwitch Type — направляет: текстовое сообщение → AI, callback → обработка отзыва.",
        "height": 210,
        "width": 744,
        "color": 4
      },
      "id": "7b4a909f-e62c-4efa-abb3-7aba475498f7",
      "name": "Note: Вход",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI-обработка сообщения\n1. **Get Calendar** — загружает занятые слоты из Google Calendar на 2 недели вперёд\n2. **Format Context** — формирует текущую дату (МСК) и список занятых слотов\n3. **AI Agent** (GPT-4o mini + Window Memory) — ведёт диалог с клиентом, помогает записаться/отменить/узнать расписание\n4. **Parse Output** — извлекает команды %%BOOK%% / %%CANCEL%% из ответа AI\n5. **Switch Command** — направляет: book → запись, cancel → отмена, none → просто ответ",
        "height": 248,
        "width": 1140,
        "color": 2
      },
      "id": "241dafa0-0611-4f44-8695-f013c630ca3e",
      "name": "Note: AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## 📝 Запись на занятие (BOOK)\nPrep Book — готовит данные (ISO даты, ID записи) → Create Event — создаёт событие в Google Calendar → Save Appointment — сохраняет в Sheets → Notify Admin — уведомляет логопеда в Telegram → Reply Book — отвечает клиенту",
        "height": 468,
        "width": 1608,
        "color": 5
      },
      "id": "4ad5d7ec-1111-40b8-9e3d-09e33015f4f1",
      "name": "Note: Запись",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1856,
        -304
      ]
    },
    {
      "parameters": {
        "content": "## ❌ Отмена занятия (CANCEL)\nPrep Cancel — готовит диапазон дат для поиска → Get Events Cancel — ищет события за этот день → Find and Delete — находит событие клиента по telegram_id и времени → If Event Found:\n  ✅ Найдено → Delete Event → Update Cancelled (Sheets) → Reply Cancel OK\n  ❌ Не найдено → Reply Cancel Fail\n\n**Reply None** — обычный текстовый ответ AI (без команд)",
        "height": 166,
        "width": 1448,
        "color": 3
      },
      "id": "acc42049-2d8d-43e1-a83e-eca1743a4710",
      "name": "Note: Отмена",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1776,
        448
      ]
    },
    {
      "parameters": {
        "content": "## ⭐ Обработка отзывов (Callback)\nКлиент нажимает inline-кнопку (fb_1..fb_5).\nParse Callback — извлекает рейтинг и дату → Save Feedback — сохраняет в лист «Отзывы» → Thank Feedback — благодарит клиента с эмодзи-звёздами",
        "height": 180,
        "width": 680,
        "color": 6
      },
      "id": "6416e96c-531b-4016-95ef-6daead1f098d",
      "name": "Note: Отзывы",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        880
      ]
    },
    {
      "parameters": {
        "content": "## ⏰ Автоматические напоминания (cron 06:00 Пн-Сб)\nКаждое утро в 6:00 проверяет Calendar на завтрашние события.\nParse Reminders — извлекает telegram_id из описания события → If Has Reminders → Split (по одному) → Send Reminder — отправляет каждому клиенту напоминание о завтрашнем занятии",
        "height": 180,
        "width": 1768
      },
      "id": "97f23868-f874-4008-b1be-0aaa5513854e",
      "name": "Note: Напоминания",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        1168
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Запрос оценки после занятия (cron 15:00 Пн-Сб)\nВ 15:00 проверяет Sheets: кто был на занятии сегодня и кому ещё не отправлен запрос.\nFilter Feedback — фильтрует active записи без feedback_sent → If Has Feedback → Split → Send Feedback Request — отправляет inline-кнопки (⭐1..⭐5) → Mark Feedback Sent — помечает в Sheets",
        "height": 340,
        "width": 1768
      },
      "id": "e8908b38-9701-418b-9a7c-82a35d1b8a10",
      "name": "Note: Сбор оценок",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        1552
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Start Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Switch Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch Command": {
      "main": [
        [
          {
            "node": "Prep Book",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply None",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Book": {
      "main": [
        [
          {
            "node": "Get Slot Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Save Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Appointment": {
      "main": [
        [
          {
            "node": "Save Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        [
          {
            "node": "Reply Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cancel": {
      "main": [
        [
          {
            "node": "Get Events Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events Cancel": {
      "main": [
        [
          {
            "node": "Find and Delete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find and Delete Event": {
      "main": [
        [
          {
            "node": "If Event Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Event Found": {
      "main": [
        [
          {
            "node": "Delete Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Cancel Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "main": [
        [
          {
            "node": "Notify Admin Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cancelled": {
      "main": [
        [
          {
            "node": "Reply Cancel OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Switch Callback Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Feedback": {
      "main": [
        [
          {
            "node": "Notify Admin Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Reminders": {
      "main": [
        [
          {
            "node": "Get Tomorrow Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tomorrow Events": {
      "main": [
        [
          {
            "node": "Parse Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reminders": {
      "main": [
        [
          {
            "node": "If Has Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Reminders": {
      "main": [
        [
          {
            "node": "Split Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reminders": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Split Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Feedback": {
      "main": [
        [
          {
            "node": "Get Today Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Appointments": {
      "main": [
        [
          {
            "node": "Filter Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Feedback": {
      "main": [
        [
          {
            "node": "If Has Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Feedback": {
      "main": [
        [
          {
            "node": "Split Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Feedback": {
      "main": [
        [
          {
            "node": "Send Feedback Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Feedback Request": {
      "main": [
        [
          {
            "node": "Mark Feedback Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Feedback Sent": {
      "main": [
        [
          {
            "node": "Split Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin Cancel": {
      "main": [
        [
          {
            "node": "Update Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin Feedback": {
      "main": [
        [
          {
            "node": "Thank Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Morning": {
      "main": [
        [
          {
            "node": "Get Today Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Events": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "If Has Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Summary": {
      "main": [
        [
          {
            "node": "Send Morning Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Morning Summary": {
      "main": [
        [
          {
            "node": "Format Today Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Today Clients": {
      "main": [
        [
          {
            "node": "If Has Clients Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Clients Today": {
      "main": [
        [
          {
            "node": "Split Today Clients",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Today Clients": {
      "main": [
        [
          {
            "node": "Send Today Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Today Reminder": {
      "main": [
        [
          {
            "node": "Split Today Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command": {
      "main": [
        [
          {
            "node": "Send Start Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Callback Type": {
      "main": [
        [
          {
            "node": "Ask Cancel Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Direct Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Noop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Menu Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Menu Action": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Client": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Bookings": {
      "main": [
        [
          {
            "node": "Show Cancel Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Direct Cancel": {
      "main": [
        [
          {
            "node": "Prep Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Slot Check": {
      "main": [
        [
          {
            "node": "Check Slot Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Slot Free": {
      "main": [
        [
          {
            "node": "If Slot Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Slot Free": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Slot Taken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Reminders": {
      "recurrenceRules": []
    },
    "node:Schedule Feedback": {
      "recurrenceRules": []
    },
    "node:Schedule Morning": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "9ef60002-daf4-4d85-adc5-1d7f18ca1c87",
  "activeVersionId": "9ef60002-daf4-4d85-adc5-1d7f18ca1c87",
  "versionCounter": 220,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2026-02-28T06:39:23.147Z",
      "createdAt": "2026-02-28T06:39:23.147Z",
      "role": "workflow:owner",
      "workflowId": "MrA2UBhPgpxdxtm5",
      "projectId": "PInAUioNaxOJ4NoS",
      "project": {
        "updatedAt": "2026-02-05T20:29:17.832Z",
        "createdAt": "2026-02-05T20:28:31.627Z",
        "id": "PInAUioNaxOJ4NoS",
        "name": "Daniil Eremeev <eremeevdaniil137@mail.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6c6302e5-57bb-4489-affe-e0566560a18c",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T20:28:31.627Z",
            "createdAt": "2026-02-05T20:28:31.627Z",
            "userId": "6c6302e5-57bb-4489-affe-e0566560a18c",
            "projectId": "PInAUioNaxOJ4NoS",
            "user": {
              "updatedAt": "2026-03-08T06:35:13.555Z",
              "createdAt": "2026-02-05T20:28:31.627Z",
              "id": "6c6302e5-57bb-4489-affe-e0566560a18c",
              "email": "eremeevdaniil137@mail.ru",
              "firstName": "Daniil",
              "lastName": "Eremeev",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "9ZTFsqjRJ0hGYxM0",
                "userActivated": true,
                "userActivatedAt": 1770443072107,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772560365050
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-03T17:03:45.805Z",
    "createdAt": "2026-03-03T17:03:45.805Z",
    "versionId": "9ef60002-daf4-4d85-adc5-1d7f18ca1c87",
    "workflowId": "MrA2UBhPgpxdxtm5",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "id": "19621ace-1d6e-4669-ace3-fad4b741d7f9",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          -336,
          176
        ],
        "webhookId": "989090b8-6bbd-4221-876e-4fb1773b909d",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json;\nlet chatId='', userId='', updateType='', text='', callbackData='', messageId='', callbackQueryId='';\nif (body.message) {\n  chatId = String(body.message.chat.id);\n  userId = String(body.message.from.id);\n  messageId = body.message.message_id;\n  text = body.message.text || '';\n  updateType = (text === '/start' || text.startsWith('/start ')) ? 'start' : 'message';\n} else if (body.callback_query) {\n  const cb = body.callback_query;\n  chatId = String(cb.message.chat.id);\n  userId = String(cb.from.id);\n  callbackData = cb.data || '';\n  callbackQueryId = cb.id || '';\n  updateType = 'callback_query';\n}\nreturn [{ json: { chatId, userId, updateType, text, callbackData, messageId, callbackQueryId } }];\n"
        },
        "id": "b7b6d708-2783-46f4-a5be-f947b2611bb7",
        "name": "Parse Update",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -192,
          176
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r1",
                      "leftValue": "={{ $json.updateType }}",
                      "rightValue": "message",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  }
                },
                "renameOutput": true,
                "outputKey": "message"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r2",
                      "leftValue": "={{ $json.updateType }}",
                      "rightValue": "callback_query",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  }
                },
                "renameOutput": true,
                "outputKey": "callback"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r3",
                      "leftValue": "={{ $json.updateType }}",
                      "rightValue": "start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  }
                },
                "renameOutput": true,
                "outputKey": "start"
              }
            ]
          },
          "options": {}
        },
        "id": "49440c5b-4913-425f-9fdc-4daf96fb0ec6",
        "name": "Switch Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -32,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const moscowOffset = 3 * 60;\nconst now = new Date();\nconst moscowNow = new Date(now.getTime() + moscowOffset * 60000);\n\nlet chatId = '';\nlet userText = '';\n\ntry {\n  const pu = $('Parse Update').first().json;\n  chatId = pu.chatId || '';\n  userText = pu.text || '';\n} catch(e) {}\n\ntry {\n  const cb = $('Parse Callback').first().json;\n  if (cb && cb.isMenuAction && cb.text) {\n    userText = cb.text;\n    if (cb.chatId) chatId = cb.chatId;\n  }\n} catch(e) {}\n\nconst currentDateTime = moscowNow.toLocaleString('ru-RU', {\n  weekday:'long', year:'numeric', month:'long', day:'numeric',\n  hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'\n});\n\n// Не передаём список занятых слотов — AI не должен предлагать даты\nreturn [{ json: { chatId, userText, currentDateTime } }];\n"
        },
        "id": "612fe470-4a4c-4a93-91b1-1495969713c9",
        "name": "Format Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          192
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "5e1a55f6-ca16-4dfb-ba46-bcc72396adc1",
        "name": "GPT-4o mini",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          944,
          336
        ],
        "credentials": {
          "openAiApi": {
            "id": "ocwGK5BKh9VONU17",
            "name": "OpenAI account (new)"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Parse Update').first().json.chatId + '_' + $now.toISODate() + '_v3' }}",
          "contextWindowLength": 6
        },
        "id": "559d513b-b1df-44d2-a337-83a8ef355f15",
        "name": "Window Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1056,
          336
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Format Context').first().json.userText }}",
          "options": {
            "systemMessage": "=Ты — Ассистент логопеда. Помогаешь клиентам:\n1. Записаться на занятие\n2. Отменить занятие\n\nРАСПИСАНИЕ: Понедельник–Суббота, 9:00–18:00 (Москва). Занятие = 60 минут.\nВоскресенье — выходной. Это очень важно!\nВ воскресенье не рабочий день.\n\nСЕЙЧАС (Москва): {{ $('Format Context').first().json.currentDateTime }}\n\nTELEGRAM_ID клиента: {{ $('Format Context').first().json.chatId }}\n\n!!! ДОСТУПНОСТЬ КАЛЕНДАРЯ: НЕДОСТУПНА.\nТы НЕ ЗНАЕШЬ какие слоты свободны. НЕ перечисляй времена и не говори \"свободно\"/\"занято\".\nПроверку доступности сделает система автоматически после записи. !!!\n\n--- ПРАВИЛА ---\n• Общайся дружелюбно, кратко, НА РУССКОМ.\n• При записи: узнай имя клиента (или ребёнка) и желаемые дату/время.\n• Если клиент назвал ДАТУ без времени — спроси ТОЛЬКО: \"В какое время?\". Не перечисляй варианты.\n• Когда клиент назвал имя + дату + время — переспроси: \"Подтвердите, пожалуйста: {name}, {date} в {time}?\"\n• После подтверждения — добавь команду в конец ответа.\n• При отмене: узнай дату занятия, попроси подтвердить, затем добавь команду.\n\nЗАПРЕЩЕНО:\n✘ Никогда не называй конкретные времена (\"в 9:00\", \"в 10:00\" и т.д.)\n✘ Не говори \"свободные слоты\" / \"у нас свободно\"\n✘ Не вычисляй доступность из рабочих часов\n\n--- ФОРМАТ КОМАНДЫ ДЛЯ ЗАПИСИ ---\nДобавь в конец ответа, когда клиент подтвердил:\n%%BOOK%%{\"name\":\"ИМЯ\",\"date\":\"YYYY-MM-DD\",\"time\":\"HH:MM\"}%%END%%\n\n--- ФОРМАТ КОМАНДЫ ДЛЯ ОТМЕНЫ ---\nДобавь в конец ответа, когда клиент подтвердил отмену:\n%%CANCEL%%{\"date\":\"YYYY-MM-DD\",\"time\":\"HH:MM\"}%%END%%\n\nЕсли просто разговор — отвечай только текстом без команд."
          }
        },
        "id": "51ed2c42-6780-4885-9277-8d0467ad855c",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          960,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "const rawOutput = $input.first().json.output || '';\n\n// Извлечь команды\nconst bookMatch = rawOutput.match(/%%BOOK%%\\s*({[\\s\\S]*?})\\s*%%END%%/);\nconst cancelMatch = rawOutput.match(/%%CANCEL%%\\s*({[\\s\\S]*?})\\s*%%END%%/);\n\n// Очистить текст от команд\nlet replyText = rawOutput\n  .replace(/%%BOOK%%[\\s\\S]*?%%END%%/g, '')\n  .replace(/%%CANCEL%%[\\s\\S]*?%%END%%/g, '')\n  .trim();\n\nlet command = 'none';\nlet commandData = {};\n\nif (bookMatch) {\n  try {\n    commandData = JSON.parse(bookMatch[1]);\n    commandData.chatId = $('Parse Update').first().json.chatId;\n    command = 'book';\n  } catch(e) { console.log('Book parse error:', e.message); }\n}\nif (cancelMatch) {\n  try {\n    commandData = JSON.parse(cancelMatch[1]);\n    commandData.chatId = $('Parse Update').first().json.chatId;\n    command = 'cancel';\n  } catch(e) { console.log('Cancel parse error:', e.message); }\n}\n\nreturn [{ json: { command, commandData, replyText } }];"
        },
        "id": "9a6acc5c-69ab-49b6-bdae-5dd329e19f47",
        "name": "Parse Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          192
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r1",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "book",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  }
                },
                "renameOutput": true,
                "outputKey": "book"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r2",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "cancel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  }
                },
                "renameOutput": true,
                "outputKey": "cancel"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r3",
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "none",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  }
                },
                "renameOutput": true,
                "outputKey": "none"
              }
            ]
          },
          "options": {}
        },
        "id": "21753d63-7af5-4527-b5b6-531fd8981c9b",
        "name": "Switch Command",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1456,
          176
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json.commandData;\nconst chatId = d.chatId || $('Parse Update').first().json.chatId;\nconst name = d.name || 'Клиент';\nconst date = d.date; // YYYY-MM-DD\nconst time = d.time; // HH:MM\n\n// Вычислить конец занятия (+60 мин)\nconst [h, m] = time.split(':').map(Number);\nconst endH = h + 1;\nconst endTime = String(endH).padStart(2,'0') + ':' + String(m).padStart(2,'0');\n\n// ISO строки в UTC+3\nconst startISO = date + 'T' + time + ':00+03:00';\nconst endISO   = date + 'T' + endTime + ':00+03:00';\n\n// ID записи\nconst apptId = 'appt_' + Date.now();\n\n// Форматированная дата для уведомлений\nconst dt = new Date(startISO);\nconst formatted = dt.toLocaleString('ru-RU', {weekday:'long',day:'numeric',month:'long',hour:'2-digit',minute:'2-digit',timeZone:'Europe/Moscow'});\n\nreturn [{ json: { chatId, name, date, time, endTime, startISO, endISO, apptId, formatted } }];"
        },
        "id": "10a207c6-681e-4d08-bc13-7fd22cf2f04b",
        "name": "Prep Book",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          -112
        ]
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "eremeevdaniil137@mail.ru",
            "mode": "list",
            "cachedResultName": "eremeevdaniil137@mail.ru"
          },
          "start": "={{ $json.startISO }}",
          "end": "={{ $json.endISO }}",
          "additionalFields": {
            "description": "={{ 'telegram_id:' + $json.chatId }}",
            "summary": "={{ 'Занятие — ' + $json.name }}"
          }
        },
        "id": "e3b4b8e6-a634-4194-aee7-5fad9f095f90",
        "name": "Create Event",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          2736,
          -48
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "llgActQeqUVxEewb",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Appointments",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "appointment_id": "={{ $('Prep Book').first().json.apptId }}",
              "user_id": "={{ $('Prep Book').first().json.chatId }}",
              "child_name": "={{ $('Prep Book').first().json.name }}",
              "phone": "",
              "datetime": "={{ $('Prep Book').first().json.date + ' ' + $('Prep Book').first().json.time }}",
              "status": "active",
              "feedback_sent": ""
            },
            "schema": [
              {
                "id": "appointment_id",
                "displayName": "appointment_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "child_name",
                "displayName": "child_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone",
                "displayName": "phone",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "datetime",
                "displayName": "datetime",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "feedback_sent",
                "displayName": "feedback_sent",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "ce57704b-260b-453e-8559-7f425384bd00",
        "name": "Save Appointment",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2880,
          -48
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "136356612",
          "text": "=🔔 <b>Новая запись!</b>\n\n👤 {{ $('Prep Book').first().json.name }}\n📅 {{ $('Prep Book').first().json.formatted }}\n🆔 chat_id: {{ $('Prep Book').first().json.chatId }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "28f0e1dd-c0e0-44cf-8db1-6dfbe05e2c75",
        "name": "Notify Admin",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3136,
          -48
        ],
        "webhookId": "13b14007-7010-4c33-91a9-219098af8901",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Update').first().json.chatId }}",
          "text": "=✅ <b>Запись оформлена!</b>\n\n👶 {{ $('Prep Book').first().json.name }}\n📅 {{ $('Prep Book').first().json.formatted }}\n\n⏰ Напоминание придёт за 24 часа до занятия.\nЕсли будут вопросы — пишите нам! 😊",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "09393211-4e94-40c9-9603-670322399d34",
        "name": "Reply Book",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3264,
          -48
        ],
        "webhookId": "3f629de9-ea98-4236-9a53-fce2271ddee0",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json.commandData;\nconst date = d.date; // YYYY-MM-DD\nconst time = d.time || '00:00';\nconst chatId = d.chatId || $('Parse Update').first().json.chatId;\n\n// Диапазон поиска — весь день\nconst timeMin = date + 'T00:00:00+03:00';\nconst timeMax = date + 'T23:59:59+03:00';\n\nreturn [{ json: { date, time, chatId, timeMin, timeMax } }];"
        },
        "id": "d402a8aa-8b1f-4ffd-a5db-376cb7416a5d",
        "name": "Prep Cancel",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          656
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "eremeevdaniil137@mail.ru",
            "mode": "list",
            "cachedResultName": "eremeevdaniil137@mail.ru"
          },
          "returnAll": true,
          "options": {}
        },
        "id": "23000d9b-e6de-4ebe-9cba-5a535edd6986",
        "name": "Get Events Cancel",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          2080,
          656
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "llgActQeqUVxEewb",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const events = $input.all();\nconst cancelData = $('Prep Cancel').first().json;\nconst chatId = cancelData.chatId;\nconst targetDate = cancelData.date;  // YYYY-MM-DD\nconst targetTime = cancelData.time;  // HH:MM\n\nlet foundEventId = '';\nlet foundSummary = '';\n\nfor (const ev of events) {\n  const item = ev.json;\n  const desc = item.description || '';\n  const startStr = item.start && (item.start.dateTime || item.start.date);\n  if (!startStr) continue;\n\n  const startD = new Date(startStr);\n  // Дата события в московском времени YYYY-MM-DD\n  const moscowDate = startD.toLocaleDateString('sv-SE', {timeZone: 'Europe/Moscow'});\n  const moscowTime = startD.toLocaleTimeString('ru-RU', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'});\n\n  const hasChatId = desc.includes('telegram_id:' + chatId) || desc.includes('telegram_id: ' + chatId);\n  const matchDate = moscowDate === targetDate;\n  const matchTime = !targetTime || moscowTime === targetTime;\n\n  if (hasChatId && matchDate && matchTime) {\n    foundEventId = item.id;\n    foundSummary = item.summary || '';\n    break;\n  }\n}\n\n// 'нашли' или 'нет' — для IF ноды\nconst status = foundEventId ? 'found' : 'not_found';\nreturn [{ json: { foundEventId, foundSummary, status, chatId, cancelDate: targetDate, cancelTime: targetTime } }];\n"
        },
        "id": "1020d802-829b-412c-9e93-baf0957da6de",
        "name": "Find and Delete Event",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          656
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "ef1",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "found",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "found"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "a5c182cf-7250-4232-9cab-8b4061519fe4",
        "name": "If Event Found",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2400,
          656
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "eremeevdaniil137@mail.ru",
            "mode": "list",
            "cachedResultName": "eremeevdaniil137@mail.ru"
          },
          "eventId": "={{ $json.foundEventId }}",
          "options": {}
        },
        "id": "fd69bc3d-21e6-4b05-9fcb-51cb5e0bc670",
        "name": "Delete Event",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          2560,
          624
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "llgActQeqUVxEewb",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Appointments",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "appointment_id": "",
              "user_id": "={{ $('Find and Delete Event').first().json.chatId }}",
              "child_name": "",
              "phone": "",
              "datetime": "={{ $('Find and Delete Event').first().json.cancelDate + ' ' + $('Find and Delete Event').first().json.cancelTime }}",
              "status": "cancelled",
              "feedback_sent": ""
            },
            "schema": [
              {
                "id": "appointment_id",
                "displayName": "appointment_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "child_name",
                "displayName": "child_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone",
                "displayName": "phone",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "datetime",
                "displayName": "datetime",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "feedback_sent",
                "displayName": "feedback_sent",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              }
            ],
            "matchingColumns": [
              "user_id",
              "datetime"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "df4d1aa8-64eb-46fc-846e-b7eebc8b6856",
        "name": "Update Cancelled",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2912,
          624
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Find and Delete Event').first().json.chatId }}",
          "text": "=✅ <b>Запись отменена!</b>\n\nЗанятие {{ $('Find and Delete Event').first().json.cancelDate }} в {{ $('Find and Delete Event').first().json.cancelTime }} удалено.\nБудем рады видеть вас снова! 😊",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "3caee637-1445-4a47-b368-62743627cfd4",
        "name": "Reply Cancel OK",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3072,
          624
        ],
        "webhookId": "acf404f5-ea99-4cad-894f-2990e1cfc87e",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Update').first().json.chatId }}",
          "text": "Не удалось найти занятие для отмены. Уточните дату и время, пожалуйста.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "d99f4e57-149a-43ac-913c-2ba0bc135aea",
        "name": "Reply Cancel Fail",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2560,
          848
        ],
        "webhookId": "063ce1d0-b220-474e-ae4a-5013ff748f53",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst parseOutput = $('Parse Output').first().json;\nconst text = parseOutput.replyText || '';\n\nlet chatId = '';\ntry { chatId = $('Parse Update').first().json.chatId || ''; } catch(e) {}\nif (!chatId) { try { chatId = $('Parse Callback').first().json.chatId || ''; } catch(e) {} }\n\nif (!chatId || !text) return [{ json: { skipped: true } }];\n\n// Отвечаем на callbackQuery (чтобы кнопка не крутилась)\ntry {\n  const cqId = $('Parse Callback').first().json.callbackQueryId;\n  if (cqId) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: cqId, text: '' })\n    });\n  }\n} catch(e) {}\n\n// Если AI просит подтвердить — добавляем кнопки\nconst lc = text.toLowerCase();\nconst needsConfirm = lc.includes('подтверди');\n\nconst body = { chat_id: chatId, text: text, parse_mode: 'HTML' };\n\nif (needsConfirm) {\n  body.reply_markup = { inline_keyboard: [[\n    { text: '✅ Подтверждаю', callback_data: 'menu_confirm' },\n    { text: '❌ Нет', callback_data: 'cancel_abort' }\n  ]] };\n}\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify(body)\n});\n\nreturn [{ json: { sent: true, hadConfirmButtons: needsConfirm } }];\n"
        },
        "id": "2b1e3695-8674-49a3-9b7d-673875fe1af2",
        "name": "Reply None",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          992
        ],
        "webhookId": "39627c43-1cca-4771-87f7-0764d5a1fcb8"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst chatId = item.chatId || '';\nconst callbackData = item.callbackData || '';\nconst callbackQueryId = item.callbackQueryId || '';\n\n// Кнопки меню\nconst menuMap = {\n  'menu_book': 'Хочу записаться',\n  'menu_cancel': 'Хочу отменить запись',\n  'menu_list': 'Покажи мои записи',\n  'menu_confirm': 'Подтверждаю'\n};\nif (menuMap[callbackData]) {\n  return [{ json: { chatId, callbackQueryId, isMenuAction: true, text: menuMap[callbackData] } }];\n}\n\n// Подтверждение отмены (confirm_cancel_DATE_TIME)\nif (callbackData.startsWith('confirm_cancel_')) {\n  const rest = callbackData.replace('confirm_cancel_', '');\n  const parts = rest.split('_');\n  const cancelDate = parts[0] || '';\n  const cancelTime = (parts[1] || '').replace('-', ':');\n  return [{ json: { chatId, callbackQueryId, isConfirmCancel: true, cancelDate, cancelTime } }];\n}\n\n// Кнопка отмены (cancel_DATE_TIME)\nif (callbackData.startsWith('cancel_')) {\n  const rest = callbackData.replace('cancel_', '');\n  const parts = rest.split('_');\n  const cancelDate = parts[0] || '';\n  const cancelTime = (parts[1] || '').replace('-', ':');\n  if (cancelDate && cancelDate !== 'abort') {\n    return [{ json: { chatId, callbackQueryId, isCancelAction: true, cancelDate, cancelTime } }];\n  }\n  return [{ json: { chatId, callbackQueryId, isNoop: true } }];\n}\n\n// Отзыв (1-5 звёзд)\nconst rating = parseInt(callbackData);\nif (rating >= 1 && rating <= 5) {\n  const stars = '⭐'.repeat(rating);\n  return [{ json: { chatId, callbackQueryId, rating, stars, apptDate: '', isMenuAction: false } }];\n}\n\nreturn [{ json: { chatId, callbackData, callbackQueryId, isMenuAction: false } }];\n"
        },
        "id": "abefec93-08ff-4cf0-9caa-22264749dfde",
        "name": "Parse Callback",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          384
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Отзывы",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telegram_id": "={{ $json.chatId }}",
              "appt_date": "={{ $json.apptDate }}",
              "rating": "={{ $json.rating }}",
              "timestamp": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "appt_date",
                "displayName": "appt_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "rating",
                "displayName": "rating",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "4f498b3a-130b-4f6e-8507-4faba951f0a9",
        "name": "Save Feedback",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          560,
          992
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Callback').first().json.chatId }}",
          "text": "=Спасибо за отзыв! {{ $('Parse Callback').first().json.stars }}\n\nВаше мнение очень важно для нас! 🙏",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "028e0d5e-d3d0-43c4-9f19-612d5888a261",
        "name": "Thank Feedback",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          928,
          992
        ],
        "webhookId": "7dc1b826-e29d-47ac-83e8-89d174bbeda5",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * 1-6"
              }
            ]
          }
        },
        "id": "ab3f207e-b793-4fbd-bd82-16b7b19c2e86",
        "name": "Schedule Reminders",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -160,
          1376
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "eremeevdaniil137@mail.ru",
            "mode": "list",
            "cachedResultName": "eremeevdaniil137@mail.ru"
          },
          "returnAll": true,
          "options": {}
        },
        "id": "79f70864-a6d6-4bc9-a56c-00bd60390aa1",
        "name": "Get Tomorrow Events",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          16,
          1376
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "llgActQeqUVxEewb",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst events = $input.all();\nconst result = [];\nfor (const ev of events) {\n  const item = ev.json;\n  if (!item.start) continue;\n  const desc = item.description || '';\n  const match = desc.match(/telegram_id:\\s*(\\d+)/);\n  if (!match) continue;\n  const chatId = match[1];\n  const startStr = item.start.dateTime || item.start.date;\n  const startDate = new Date(startStr);\n  const timeStr = startDate.toLocaleTimeString('ru-RU', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'});\n  const dateStr = startDate.toLocaleDateString('ru-RU', {weekday:'short', day:'numeric', month:'long', timeZone:'Europe/Moscow'});\n  const rawDate = startDate.toLocaleDateString('ru-RU', {timeZone:'Europe/Moscow'}).split('.').reverse().join('-');\n  result.push({ json: { chatId, timeStr, dateStr, rawDate } });\n}\nreturn result.length > 0 ? result : [{ json: { skip: true } }];\n"
        },
        "id": "89f9c828-6725-42ce-a09f-1bc9b8f5605c",
        "name": "Parse Reminders",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          1376
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "a849c7f4-eeea-4b61-a680-c63e12f68973",
        "name": "If Has Reminders",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          352,
          1376
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "e8bd8ac0-8eee-44a2-bf73-a9d224d99aa4",
        "name": "Split Reminders",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          544,
          1360
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst cancelData = `cancel_${item.rawDate}_${item.timeStr.replace(':', '-')}`;\nconst body = {\n  chat_id: item.chatId,\n  text: `\\u23f0 <b>\\u041d\\u0430\\u043f\\u043e\\u043c\\u0438\\u043d\\u0430\\u043d\\u0438\\u0435 \\u043e \\u0437\\u0430\\u043d\\u044f\\u0442\\u0438\\u0438!</b>\\n\\n\\u0417\\u0430\\u0432\\u0442\\u0440\\u0430 ${item.dateStr} \\u0432 ${item.timeStr} \\u0443 \\u0432\\u0430\\u0441 \\u0437\\u0430\\u043d\\u044f\\u0442\\u0438\\u0435 \\u0443 \\u043b\\u043e\\u0433\\u043e\\u043f\\u0435\\u0434\\u0430.`,\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: [\n    [{text: '\\u274c \\u041e\\u0442\\u043c\\u0435\\u043d\\u0438\\u0442\\u044c \\u0437\\u0430\\u043d\\u044f\\u0442\\u0438\\u0435', callback_data: cancelData}]\n  ]}\n};\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify(body)\n});\nreturn [{ json: result }];\n"
        },
        "id": "bc8f575f-0105-4d06-a6e3-2fe89bcbdea5",
        "name": "Send Reminder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          1344
        ],
        "webhookId": "e180f1bf-f901-44ab-890f-c36bfa5a5ed4"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 15 * * 1-6"
              }
            ]
          }
        },
        "id": "cc29d368-efd4-4122-9275-db071bdbb7b1",
        "name": "Schedule Feedback",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -128,
          1936
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "documentId": {
            "__rl": true,
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
            "mode": "id"
          }
        },
        "id": "f5a8cc63-c467-48e0-895e-6fad9bc642a5",
        "name": "Get Today Appointments",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          160,
          1936
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all();\nconst today = new Date().toLocaleDateString('ru-RU', {timeZone:'Europe/Moscow'}).split('.').reverse().join('-');\n// today format: YYYY-MM-DD\n\nconst result = [];\nfor (const row of rows) {\n  const r = row.json;\n  if (!r.user_id || !r.datetime) continue;\n  if (r.status === 'cancelled') continue;\n  if (r.feedback_sent === '1' || r.feedback_sent === 1) continue;\n\n  // Проверить что datetime содержит сегодняшнюю дату\n  const dt = r.datetime || '';\n  const rowDate = dt.split(' ')[0]; // \"YYYY-MM-DD\"\n\n  if (rowDate === today) {\n    const timeStr = dt.split(' ')[1] || '';\n    result.push({ json: {\n      chatId: r.user_id.toString(),\n      name: r.child_name || 'клиент',\n      date: rowDate,\n      time: timeStr,\n      apptId: r.appointment_id\n    }});\n  }\n}\n\nreturn result.length > 0 ? result : [{ json: { skip: true } }];"
        },
        "id": "12625081-c27c-4ba6-b814-f45c08e860c7",
        "name": "Filter Feedback",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          1936
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "ba276998-92fe-4aa3-a434-475f93360ffa",
        "name": "If Has Feedback",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          592,
          1952
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "2918b184-d603-46fe-91d1-6a56b7bc2e66",
        "name": "Split Feedback",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          832,
          1936
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "=⭐ <b>Как прошло занятие?</b>\n\nОцените сегодняшнее занятие у логопеда:",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "8b56d891-99a7-4485-b882-cd1df28c3cf6",
        "name": "Send Feedback Request",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1024,
          1920
        ],
        "webhookId": "53bdee47-9d8c-45ae-a2f0-fe9a567d39bc",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Appointments",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "appointment_id": "={{ $json.apptId }}",
              "user_id": "",
              "child_name": "",
              "phone": "",
              "datetime": "",
              "status": "",
              "feedback_sent": "1"
            },
            "schema": [
              {
                "id": "appointment_id",
                "displayName": "appointment_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "child_name",
                "displayName": "child_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone",
                "displayName": "phone",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "datetime",
                "displayName": "datetime",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "feedback_sent",
                "displayName": "feedback_sent",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              }
            ],
            "matchingColumns": [
              "appointment_id"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "0660b744-0f1b-437f-bec4-e37653b972fc",
        "name": "Mark Feedback Sent",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1216,
          1920
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "136356612",
          "text": "=❌ <b>Отмена записи!</b>\n\n👤 {{ $('Find and Delete Event').first().json.chatId }}\n📅 {{ $('Find and Delete Event').first().json.cancelDate }} в {{ $('Find and Delete Event').first().json.cancelTime }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "notify-admin-cancel-001",
        "name": "Notify Admin Cancel",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2752,
          624
        ],
        "webhookId": "d59cf969-1f6b-4f82-899a-b17ead70b1e9",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "chatId": "136356612",
          "text": "=\\u2b50 <b>\\u041d\\u043e\\u0432\\u044b\\u0439 \\u043e\\u0442\\u0437\\u044b\\u0432!</b>\\n\\n{{ $('Parse Callback').first().json.stars }} \\u043e\\u0442 \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u0430 {{ $('Parse Callback').first().json.chatId }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "notify-admin-feedback-001",
        "name": "Notify Admin Feedback",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          752,
          992
        ],
        "webhookId": "76f8baa0-974f-4dbb-a34b-ae4dfbc7e5d5",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 5 * * 1-6"
              }
            ]
          }
        },
        "id": "schedule-morning-001",
        "name": "Schedule Morning",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -128,
          1728
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "eremeevdaniil137@mail.ru",
            "mode": "list",
            "cachedResultName": "eremeevdaniil137@mail.ru"
          },
          "returnAll": true,
          "options": {}
        },
        "id": "get-today-events-001",
        "name": "Get Today Events",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          64,
          1728
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "llgActQeqUVxEewb",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst events = $input.all();\nif (!events.length || !events[0].json.start) {\n  return [{ json: { skip: true, summary: '', dateStr: '' } }];\n}\nconst lines = events.map(ev => {\n  const item = ev.json;\n  const startStr = item.start.dateTime || item.start.date;\n  const timeStr = new Date(startStr).toLocaleTimeString('ru-RU', {hour:'2-digit',minute:'2-digit',timeZone:'Europe/Moscow'});\n  const name = (item.summary || '').replace('Занятие — ', '');\n  return `• ${timeStr} — ${name}`;\n});\nconst dateStr = new Date().toLocaleDateString('ru-RU', {weekday:'long',day:'numeric',month:'long',timeZone:'Europe/Moscow'});\nreturn [{ json: { skip: false, summary: lines.join('\\n'), dateStr } }];\n"
        },
        "id": "format-summary-001",
        "name": "Format Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          1728
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst events = $input.all();\nconst result = [];\nfor (const ev of events) {\n  const item = ev.json;\n  if (!item.start) continue;\n  const desc = item.description || '';\n  const match = desc.match(/telegram_id:\\s*(\\d+)/);\n  if (!match) continue;\n  const chatId = match[1];\n  const startStr = item.start.dateTime || item.start.date;\n  const timeStr = new Date(startStr).toLocaleTimeString('ru-RU', {hour:'2-digit',minute:'2-digit',timeZone:'Europe/Moscow'});\n  result.push({ json: { chatId, timeStr } });\n}\nreturn result.length > 0 ? result : [{ json: { skip: true } }];\n"
        },
        "id": "format-clients-001",
        "name": "Format Today Clients",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          1712
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "if-summary-001",
        "name": "If Has Summary",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          416,
          1728
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "if-clients-001",
        "name": "If Has Clients Today",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          992,
          1712
        ]
      },
      {
        "parameters": {
          "chatId": "136356612",
          "text": "=📅 <b>Расписание на {{ $json.dateStr }}:</b>\n\n{{ $json.summary }}\n\n🕘 Удачного дня!",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "send-summary-001",
        "name": "Send Morning Summary",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          624,
          1712
        ],
        "webhookId": "7eda057c-c6e6-4c49-8e07-bb2e43f7f6a6",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "split-clients-001",
        "name": "Split Today Clients",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1232,
          1696
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "=⏰ <b>Напоминание!</b>\n\nСегодня в {{ $json.timeStr }} у вас занятие у логопеда. Ждём вас! 🙌",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "send-today-001",
        "name": "Send Today Reminder",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1424,
          1680
        ],
        "webhookId": "98891f2a-432b-40c2-968c-023a7c643a3a",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.text }}",
                "rightValue": "/start",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "is-start-001",
        "name": "Is Start Command",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -32,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "const chatId = $input.first().json.chatId;\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst body = {\n  chat_id: chatId,\n  text: '\\u0414\\u043e\\u0431\\u0440\\u043e \\u043f\\u043e\\u0436\\u0430\\u043b\\u043e\\u0432\\u0430\\u0442\\u044c! \\u041d\\u0430\\u043f\\u0438\\u0448\\u0438\\u0442\\u0435 \\u043c\\u043d\\u0435 \\u0438\\u043b\\u0438 \\u0432\\u044b\\u0431\\u0435\\u0440\\u0438\\u0442\\u0435 \\u0434\\u0435\\u0439\\u0441\\u0442\\u0432\\u0438\\u0435:',\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: [\n    [{text: '\\u0417\\u0430\\u043f\\u0438\\u0441\\u0430\\u0442\\u044c\\u0441\\u044f', callback_data: 'menu_book'},\n     {text: '\\u041e\\u0442\\u043c\\u0435\\u043d\\u0438\\u0442\\u044c', callback_data: 'menu_cancel'}],\n    [{text: '\\u041c\\u043e\\u0438 \\u0437\\u0430\\u043f\\u0438\\u0441\\u0438', callback_data: 'menu_list'}]\n  ]}\n};\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify(body)\n});\nreturn [{ json: result }];\n"
        },
        "id": "send-start-001",
        "name": "Send Start Menu",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          224
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "rc1",
                      "leftValue": "={{ $json.isCancelAction }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "direct_cancel"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "rc2",
                      "leftValue": "={{ $json.isConfirmCancel }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "confirm_cancel"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "rc3",
                      "leftValue": "={{ $json.isNoop }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "noop"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r0",
                      "leftValue": "={{ $json.text }}",
                      "rightValue": "Хочу отменить запись",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "cancel_menu"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "mr1",
                      "leftValue": "={{ $json.text }}",
                      "rightValue": "Покажи мои записи",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "my_records"
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "r1",
                      "leftValue": "={{ $json.isMenuAction }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true"
                      }
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  }
                },
                "renameOutput": true,
                "outputKey": "menu"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "switch-cb-001",
        "name": "Switch Callback Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          336,
          560
        ]
      },
      {
        "parameters": {
          "jsCode": "\n// Подтверждаем получение callback\nconst item = $input.first().json;\nreturn [{ json: { chatId: item.chatId, text: item.text, updateType: 'message', userId: item.chatId } }];\n"
        },
        "id": "prep-menu-001",
        "name": "Prep Menu Action",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          832
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Clients",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('Prep Book').first().json.chatId }}",
              "child_name": "={{ $('Prep Book').first().json.name }}",
              "age": "",
              "phone": "",
              "reg_date": "={{ new Date().toLocaleDateString('ru-RU', {timeZone:'Europe/Moscow'}) }}"
            },
            "schema": [
              {
                "id": "user_id",
                "displayName": "user_id",
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "child_name",
                "displayName": "child_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "age",
                "displayName": "age",
                "defaultMatch": false,
                "canBeUsedToMatch": false,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone",
                "displayName": "phone",
                "defaultMatch": false,
                "canBeUsedToMatch": false,
                "display": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "reg_date",
                "displayName": "reg_date",
                "defaultMatch": false,
                "canBeUsedToMatch": false,
                "display": true,
                "type": "string",
                "removed": false
              }
            ],
            "matchingColumns": [
              "user_id"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "save-client-001",
        "name": "Save Client",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          3008,
          -48
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1uIJugsf5bsJ5CcAn7f6tzBWPEEY7fvNmmSkhKbczp64"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Appointments"
          },
          "options": {}
        },
        "id": "get-user-bookings-001",
        "name": "Get User Bookings",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          560,
          672
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cMfHQBCUu9ZCn7MT",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst cb = $('Parse Callback').first().json;\nconst chatId = cb.chatId || '';\nconst callbackQueryId = cb.callbackQueryId || '';\n\n// mode: 'cancel' = показать кнопки отмены, 'list' = показать текстовый список\nconst mode = (cb.text === 'Покажи мои записи') ? 'list' : 'cancel';\n\n// Ответить на callbackQuery\nif (callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\n\nconst now = new Date();\nconst rows = $input.all();\n\nconst upcoming = rows\n  .filter(r => {\n    const j = r.json;\n    if (!j || !j.user_id) return false;\n    if (String(j.user_id) !== String(chatId)) return false;\n    if (j.status !== 'active') return false;\n    if (!j.datetime) return false;\n    const dt = new Date(j.datetime.replace(' ', 'T') + ':00+03:00');\n    return dt > now;\n  })\n  .sort((a, b) => {\n    const da = new Date(a.json.datetime.replace(' ', 'T') + ':00+03:00');\n    const db = new Date(b.json.datetime.replace(' ', 'T') + ':00+03:00');\n    return da - db;\n  });\n\nif (upcoming.length === 0) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${token}/sendMessage`,\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({ chat_id: chatId, text: '💭 У вас нет активных записей.' })\n  });\n  return [{ json: { done: true, count: 0 } }];\n}\n\nif (mode === 'list') {\n  // Текстовый список записей\n  let text = '📋 <b>Ваши записи:</b>\\n\\n';\n  for (const r of upcoming) {\n    const j = r.json;\n    const dt = new Date(j.datetime.replace(' ', 'T') + ':00+03:00');\n    const dateStr = dt.toLocaleDateString('ru-RU', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Moscow' });\n    const timeStr = dt.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Moscow' });\n    const name = j.child_name ? ' — ' + j.child_name : '';\n    text += `📅 ${dateStr} в ${timeStr}${name}\\n`;\n  }\n  text += '\\nДля отмены нажмите кнопку «Отменить».';\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${token}/sendMessage`,\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({ chat_id: chatId, text, parse_mode: 'HTML' })\n  });\n} else {\n  // Inline кнопки для отмены\n  const buttons = upcoming.map(r => {\n    const j = r.json;\n    const isoDate = j.datetime.slice(0, 10);\n    const rawTime = j.datetime.slice(11, 16);\n    const dt = new Date(j.datetime.replace(' ', 'T') + ':00+03:00');\n    const dateStr = dt.toLocaleDateString('ru-RU', { day: 'numeric', month: 'short', timeZone: 'Europe/Moscow' });\n    const timeStr = dt.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Moscow' });\n    const name = j.child_name ? ' — ' + j.child_name : '';\n    const timeCb = rawTime.replace(':', '-');\n    return [{ text: '📅 ' + dateStr + ', ' + timeStr + name,\n              callback_data: 'cancel_' + isoDate + '_' + timeCb }];\n  });\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${token}/sendMessage`,\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({\n      chat_id: chatId,\n      text: 'Выберите запись для отмены:',\n      reply_markup: { inline_keyboard: buttons }\n    })\n  });\n}\n\nreturn [{ json: { done: true, count: upcoming.length, mode } }];\n"
        },
        "id": "show-cancel-menu-001",
        "name": "Show Cancel Menu",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          672
        ]
      },
      {
        "parameters": {
          "jsCode": "const token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nconst cb = $input.first().json;\nconst chatId = cb.chatId;\nconst callbackQueryId = cb.callbackQueryId || '';\nconst cancelDate = cb.cancelDate;  // YYYY-MM-DD\nconst cancelTime = cb.cancelTime;  // HH:MM\n\n// Убрать индикатор загрузки\nif (callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\n\n// Форматировать дату для отображения\nlet dateLabel = cancelDate;\ntry {\n  const dt = new Date(cancelDate + 'T' + cancelTime + ':00');\n  dateLabel = dt.toLocaleDateString('ru-RU', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Moscow' });\n} catch(e) {}\n\n// callback_data для подтверждения\nconst confirmCb = 'confirm_cancel_' + cancelDate + '_' + cancelTime.replace(':', '-');\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${token}/sendMessage`,\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify({\n    chat_id: chatId,\n    text: `\\u2753 <b>\\u041f\\u043e\\u0434\\u0442\\u0432\\u0435\\u0440\\u0434\\u0438\\u0442\\u044c \\u043e\\u0442\\u043c\\u0435\\u043d\\u0443?</b>\\n\\n\\ud83d\\udcc5 ${dateLabel} \\u0432 ${cancelTime}`,\n    parse_mode: 'HTML',\n    reply_markup: { inline_keyboard: [\n      [\n        { text: '\\u2705 \\u0414\\u0430, \\u043e\\u0442\\u043c\\u0435\\u043d\\u0438\\u0442\\u044c', callback_data: confirmCb },\n        { text: '\\u274c \\u041d\\u0435\\u0442', callback_data: 'cancel_abort' }\n      ]\n    ]}\n  })\n});\nreturn [{ json: { done: true, chatId, cancelDate, cancelTime } }];\n"
        },
        "id": "ask-cancel-confirm-001",
        "name": "Ask Cancel Confirm",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          272
        ]
      },
      {
        "parameters": {
          "jsCode": "const cb = $input.first().json;\nconst chatId = cb.chatId;\nconst callbackQueryId = cb.callbackQueryId || '';\nconst cancelDate = cb.cancelDate;  // YYYY-MM-DD\nconst cancelTime = cb.cancelTime;  // HH:MM\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\n\n// Убрать индикатор загрузки\nif (callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\n\n// Формат для Prep Cancel\nreturn [{ json: { commandData: { date: cancelDate, time: cancelTime, chatId } } }];\n"
        },
        "id": "prep-direct-cancel-001",
        "name": "Prep Direct Cancel",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const cb = $input.first().json;\nconst token = '8280013265:AAGqlHlsmN5_-wTBmlCJ9A4bB4fzl9AIGMs';\nif (cb.callbackQueryId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${token}/answerCallbackQuery`,\n      headers: {'Content-Type': 'application/json'},\n      body: JSON.stringify({ callback_query_id: cb.callbackQueryId, text: '' })\n    });\n  } catch(e) {}\n}\nreturn [{ json: { done: true } }];\n"
        },
        "id": "answer-noop-001",
        "name": "Answer Noop",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          544
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "eremeevdaniil137@mail.ru",
            "mode": "list",
            "cachedResultName": "eremeevdaniil137@mail.ru"
          },
          "returnAll": true,
          "options": {
            "singleEvents": true
          }
        },
        "id": "get-slot-check",
        "name": "Get Slot Check",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1,
        "position": [
          2080,
          -112
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "llgActQeqUVxEewb",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const bookData = $('Prep Book').first().json;\nconst events = $input.all();\nconst targetDate = bookData.date;\nconst targetTime = bookData.time;\n\nconst [h, m] = targetTime.split(':').map(Number);\nconst dt = new Date(bookData.startISO);\nconst dayOfWeek = dt.getDay();\n\nif (dayOfWeek === 0) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'Воскресенье - выходной. Запись Пн-Сб.' } }];\n}\n\nif (h < 9 || h > 17 || (h === 17 && m > 0)) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'Запись доступна с 9:00 до 17:00. Напишите другое время.' } }];\n}\n\nconst now = new Date();\nconst moscowNow = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Moscow'}));\nif (dt < moscowNow) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'Это время уже прошло. Выберите будущую дату/время.' } }];\n}\n\nlet isTaken = false;\nfor (const ev of events) {\n  const item = ev.json;\n  if (!item || !item.start) continue;\n  const startStr = item.start.dateTime || item.start.date;\n  if (!startStr) continue;\n  const startD = new Date(startStr);\n  const moscowDate = startD.toLocaleDateString('sv-SE', {timeZone: 'Europe/Moscow'});\n  const moscowTime = startD.toLocaleTimeString('ru-RU', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Moscow'});\n  if (moscowDate === targetDate && moscowTime === targetTime) {\n    isTaken = true;\n    break;\n  }\n}\n\nif (isTaken) {\n  return [{ json: { ...bookData, slotFree: false, slotTakenMessage: 'К сожалению, ' + targetDate + ' в ' + targetTime + ' уже занято. Напишите другое удобное время.' } }];\n}\n\nreturn [{ json: { ...bookData, slotFree: true, slotTakenMessage: '' } }];"
        },
        "id": "check-slot-free",
        "name": "Check Slot Free",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          -112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "sf1",
                "leftValue": "={{ $json.slotFree }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "if-slot-free",
        "name": "If Slot Free",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2448,
          -112
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "={{ $json.slotTakenMessage }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "reply-slot-taken",
        "name": "Reply Slot Taken",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          2736,
          -224
        ],
        "webhookId": "633e2f8a-fcb1-486e-9f55-436dfc2ec3ae",
        "credentials": {
          "telegramApi": {
            "id": "vreHOidWlmOz9B1Y",
            "name": "Telegram account 4"
          }
        }
      },
      {
        "parameters": {
          "content": "## 📥 Вход и маршрутизация\nTelegram Trigger принимает сообщения и callback-кнопки.\nParse Update — извлекает chatId, текст, тип обновления.\nSwitch Type — направляет: текстовое сообщение → AI, callback → обработка отзыва.",
          "height": 210,
          "width": 744,
          "color": 4
        },
        "id": "7b4a909f-e62c-4efa-abb3-7aba475498f7",
        "name": "Note: Вход",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -400,
          -64
        ]
      },
      {
        "parameters": {
          "content": "## 🤖 AI-обработка сообщения\n1. **Get Calendar** — загружает занятые слоты из Google Calendar на 2 недели вперёд\n2. **Format Context** — формирует текущую дату (МСК) и список занятых слотов\n3. **AI Agent** (GPT-4o mini + Window Memory) — ведёт диалог с клиентом, помогает записаться/отменить/узнать расписание\n4. **Parse Output** — извлекает команды %%BOOK%% / %%CANCEL%% из ответа AI\n5. **Switch Command** — направляет: book → запись, cancel → отмена, none → просто ответ",
          "height": 248,
          "width": 1140,
          "color": 2
        },
        "id": "241dafa0-0611-4f44-8695-f013c630ca3e",
        "name": "Note: AI",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          640,
          -80
        ]
      },
      {
        "parameters": {
          "content": "## 📝 Запись на занятие (BOOK)\nPrep Book — готовит данные (ISO даты, ID записи) → Create Event — создаёт событие в Google Calendar → Save Appointment — сохраняет в Sheets → Notify Admin — уведомляет логопеда в Telegram → Reply Book — отвечает клиенту",
          "height": 468,
          "width": 1608,
          "color": 5
        },
        "id": "4ad5d7ec-1111-40b8-9e3d-09e33015f4f1",
        "name": "Note: Запись",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1856,
          -304
        ]
      },
      {
        "parameters": {
          "content": "## ❌ Отмена занятия (CANCEL)\nPrep Cancel — готовит диапазон дат для поиска → Get Events Cancel — ищет события за этот день → Find and Delete — находит событие клиента по telegram_id и времени → If Event Found:\n  ✅ Найдено → Delete Event → Update Cancelled (Sheets) → Reply Cancel OK\n  ❌ Не найдено → Reply Cancel Fail\n\n**Reply None** — обычный текстовый ответ AI (без команд)",
          "height": 166,
          "width": 1448,
          "color": 3
        },
        "id": "acc42049-2d8d-43e1-a83e-eca1743a4710",
        "name": "Note: Отмена",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1776,
          448
        ]
      },
      {
        "parameters": {
          "content": "## ⭐ Обработка отзывов (Callback)\nКлиент нажимает inline-кнопку (fb_1..fb_5).\nParse Callback — извлекает рейтинг и дату → Save Feedback — сохраняет в лист «Отзывы» → Thank Feedback — благодарит клиента с эмодзи-звёздами",
          "height": 180,
          "width": 680,
          "color": 6
        },
        "id": "6416e96c-531b-4016-95ef-6daead1f098d",
        "name": "Note: Отзывы",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -176,
          880
        ]
      },
      {
        "parameters": {
          "content": "## ⏰ Автоматические напоминания (cron 06:00 Пн-Сб)\nКаждое утро в 6:00 проверяет Calendar на завтрашние события.\nParse Reminders — извлекает telegram_id из описания события → If Has Reminders → Split (по одному) → Send Reminder — отправляет каждому клиенту напоминание о завтрашнем занятии",
          "height": 180,
          "width": 1768
        },
        "id": "97f23868-f874-4008-b1be-0aaa5513854e",
        "name": "Note: Напоминания",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -176,
          1168
        ]
      },
      {
        "parameters": {
          "content": "## 📊 Запрос оценки после занятия (cron 15:00 Пн-Сб)\nВ 15:00 проверяет Sheets: кто был на занятии сегодня и кому ещё не отправлен запрос.\nFilter Feedback — фильтрует active записи без feedback_sent → If Has Feedback → Split → Send Feedback Request — отправляет inline-кнопки (⭐1..⭐5) → Mark Feedback Sent — помечает в Sheets",
          "height": 340,
          "width": 1768
        },
        "id": "e8908b38-9701-418b-9a7c-82a35d1b8a10",
        "name": "Note: Сбор оценок",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -176,
          1552
        ]
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Parse Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Update": {
        "main": [
          [
            {
              "node": "Switch Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Type": {
        "main": [
          [
            {
              "node": "Format Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse Callback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Start Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Context": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Parse Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Output": {
        "main": [
          [
            {
              "node": "Switch Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o mini": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Window Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Switch Command": {
        "main": [
          [
            {
              "node": "Prep Book",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply None",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Book": {
        "main": [
          [
            {
              "node": "Get Slot Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Event": {
        "main": [
          [
            {
              "node": "Save Appointment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Appointment": {
        "main": [
          [
            {
              "node": "Save Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Admin": {
        "main": [
          [
            {
              "node": "Reply Book",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Cancel": {
        "main": [
          [
            {
              "node": "Get Events Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Events Cancel": {
        "main": [
          [
            {
              "node": "Find and Delete Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find and Delete Event": {
        "main": [
          [
            {
              "node": "If Event Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Event Found": {
        "main": [
          [
            {
              "node": "Delete Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply Cancel Fail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Event": {
        "main": [
          [
            {
              "node": "Notify Admin Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Cancelled": {
        "main": [
          [
            {
              "node": "Reply Cancel OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Callback": {
        "main": [
          [
            {
              "node": "Switch Callback Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Feedback": {
        "main": [
          [
            {
              "node": "Notify Admin Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Reminders": {
        "main": [
          [
            {
              "node": "Get Tomorrow Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Tomorrow Events": {
        "main": [
          [
            {
              "node": "Parse Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Reminders": {
        "main": [
          [
            {
              "node": "If Has Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Has Reminders": {
        "main": [
          [
            {
              "node": "Split Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Reminders": {
        "main": [
          [
            {
              "node": "Send Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reminder": {
        "main": [
          [
            {
              "node": "Split Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Feedback": {
        "main": [
          [
            {
              "node": "Get Today Appointments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Today Appointments": {
        "main": [
          [
            {
              "node": "Filter Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Feedback": {
        "main": [
          [
            {
              "node": "If Has Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Has Feedback": {
        "main": [
          [
            {
              "node": "Split Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Feedback": {
        "main": [
          [
            {
              "node": "Send Feedback Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Feedback Request": {
        "main": [
          [
            {
              "node": "Mark Feedback Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Feedback Sent": {
        "main": [
          [
            {
              "node": "Split Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Admin Cancel": {
        "main": [
          [
            {
              "node": "Update Cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Admin Feedback": {
        "main": [
          [
            {
              "node": "Thank Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Morning": {
        "main": [
          [
            {
              "node": "Get Today Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Today Events": {
        "main": [
          [
            {
              "node": "Format Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Summary": {
        "main": [
          [
            {
              "node": "If Has Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Has Summary": {
        "main": [
          [
            {
              "node": "Send Morning Summary",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Send Morning Summary": {
        "main": [
          [
            {
              "node": "Format Today Clients",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Today Clients": {
        "main": [
          [
            {
              "node": "If Has Clients Today",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Has Clients Today": {
        "main": [
          [
            {
              "node": "Split Today Clients",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Split Today Clients": {
        "main": [
          [
            {
              "node": "Send Today Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Today Reminder": {
        "main": [
          [
            {
              "node": "Split Today Clients",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Start Command": {
        "main": [
          [
            {
              "node": "Send Start Menu",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Callback Type": {
        "main": [
          [
            {
              "node": "Ask Cancel Confirm",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Direct Cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Answer Noop",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get User Bookings",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get User Bookings",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Menu Action",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Menu Action": {
        "main": [
          [
            {
              "node": "Format Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Client": {
        "main": [
          [
            {
              "node": "Notify Admin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Bookings": {
        "main": [
          [
            {
              "node": "Show Cancel Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Direct Cancel": {
        "main": [
          [
            {
              "node": "Prep Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Slot Check": {
        "main": [
          [
            {
              "node": "Check Slot Free",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Slot Free": {
        "main": [
          [
            {
              "node": "If Slot Free",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Slot Free": {
        "main": [
          [
            {
              "node": "Create Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply Slot Taken",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Daniil Eremeev",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T17:03:46.390Z",
        "id": 519,
        "workflowId": "MrA2UBhPgpxdxtm5",
        "versionId": "9ef60002-daf4-4d85-adc5-1d7f18ca1c87",
        "event": "activated",
        "userId": "6c6302e5-57bb-4489-affe-e0566560a18c"
      },
      {
        "createdAt": "2026-03-03T17:03:48.790Z",
        "id": 520,
        "workflowId": "MrA2UBhPgpxdxtm5",
        "versionId": "9ef60002-daf4-4d85-adc5-1d7f18ca1c87",
        "event": "activated",
        "userId": "6c6302e5-57bb-4489-affe-e0566560a18c"
      }
    ]
  }
}