workflows/N8LCO15gynQn0PmT_My_workflow_45.json
{
  "updatedAt": "2026-03-07T15:33:14.458Z",
  "createdAt": "2026-03-07T15:16:10.894Z",
  "id": "N8LCO15gynQn0PmT",
  "name": "My workflow 45",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        752
      ],
      "id": "c90cc0c5-7838-42c7-90e6-be3aa53efd52",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        448
      ],
      "id": "20fbe912-de12-456c-a50c-a1f71bf2e195",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Ссылка на оформление отправлена (' + $json.task_bank + '). Ждём дату/время доставки.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2304,
        448
      ],
      "id": "7eeffe43-9568-4137-9ade-d5da7c791a31",
      "name": "Уведомить админа (SEND_LINK)",
      "webhookId": "95243b71-57d6-4e4b-be16-52e3abfed02e",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Шаг 1 — оставь заявку по ссылке: {{ $json.bank_link }}\n\nПосле оформления выбери дату/время доставки (или встречи) и пришли мне — дату и интервал времени (можно текстом).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        448
      ],
      "id": "3ae79bd7-848a-407d-8c62-45f6ef636528",
      "name": "Отправить ссылку (SEND_LINK)",
      "webhookId": "2ed9b8da-6cdb-404c-87c6-adad90e95115",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-link",
              "name": "bank_link",
              "value": "={{ ({'vtb_bank': 'https://www.vtb.ru/', 'gpb_bank': 'https://www.gazprombank.ru/', 'otp_bank': 'https://www.otpbank.ru/', 'alfa_bank': 'https://alfabank.ru/', 'tbank_bank': 'https://www.tbank.ru/'})[$('Parse FORMAT output').item.json.task_bank] || 'ссылка не найдена' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        448
      ],
      "id": "306875f4-750d-48f5-9c7c-d73343715994",
      "name": "Определить ссылку банка"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        576
      ],
      "id": "0b605bd2-689a-4fcc-b968-44f3d77ff8cb",
      "name": "Отправить ответ ROUTING",
      "webhookId": "336d0831-6459-49a9-85fc-4eb0acb6a41e",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        752
      ],
      "id": "888f93e9-0482-451d-8c63-df43db49c10d",
      "name": "OpenAI Chat Model - ROUTING",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Текущий этап: {{ $json.current_stage }}\n- История диалога: {{ $json.history_of_messages }}\n- Банки уже оформленные ранее: {{ $json._completed_banks || 'нет' }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), ОДИН вопрос за сообщение.\n- Умеренно эмодзи.\n- НЕ называй сразу все банки — задавай вопросы строго по одному, по шагам ниже.\n- НЕ запрашивай данные — они уже есть.\n- НЕ упоминай, что ты ИИ.\n\n========================\nСТРОГАЯ ЛОГИКА ПОДБОРА БАНКА:\n\nСначала определи ветку по возрасту клиента:\n- Если возраст < 18 → иди по ВЕТКЕ ДО 18\n- Если возраст >= 18 → иди по ВЕТКЕ 18+\n\n========================\nВАЖНО: поле «Банки уже оформленные ранее» содержит коды банков которые пользователь УЖЕ ОФОРМИЛ в рамках нашего проекта. Эти банки ПРОПУСКАЙ — не предлагай их снова, даже если пользователь говорит что у него нет там карты. Начинай сразу со следующего шага.\n\n━━━ ВЕТКА 18+ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nШАГ 1. Задай вопрос:\n«Ты уже являешься клиентом ВТБ — есть карта или счёт?»\n\n→ Клиент ответил НЕТ:\n   Предложи ВТБ: «Отлично! Тогда начнём с ВТБ — сейчас по нему хорошее вознаграждение 💳 Готов оформить?»\n   — Клиент согласился → SEND_LINK, task_bank = vtb_bank\n   — Клиент отказался от оформления → ШАГ 2\n\n→ Клиент ответил ДА → ШАГ 2\n\nШАГ 2. Задай вопрос:\n«А в Т-Банке карта есть?»\n\n→ Клиент ответил НЕТ:\n   Предложи Т-Банк: «Тогда предлагаю Т-Банк — быстрое оформление онлайн, хорошее вознаграждение 👍 Подходит?»\n   — Клиент согласился → SEND_LINK, task_bank = tbank_bank\n   — Клиент отказался от оформления → ШАГ 3\n\n→ Клиент ответил ДА → ШАГ 3\n\nШАГ 3. Задай вопрос:\n«Газпромбанком пользуешься?»\n\n→ Клиент ответил НЕТ:\n   Предложи Газпромбанк: «Отлично, тогда Газпромбанк — оформляется онлайн за пару минут 🙂 Готов?»\n   — Клиент согласился → SEND_LINK, task_bank = gpb_bank\n   — Клиент отказался от оформления → ШАГ 4\n\n→ Клиент ответил ДА → ШАГ 4\n\nШАГ 4. Задай вопрос:\n«В ОТП Банке карта есть?»\n\n→ Клиент ответил НЕТ:\n   Предложи ОТП Банк: «Тогда ОТП Банк — лёгкое оформление, хорошие условия 👌 Подходит?»\n   — Клиент согласился → SEND_LINK, task_bank = otp_bank\n   — Клиент отказался от оформления → ШАГ 5\n\n→ Клиент ответил ДА → ШАГ 5\n\nШАГ 5. Задай вопрос:\n«Альфа-Банком пользуешься?»\n\n→ Клиент ответил НЕТ:\n   Предложи Альфа: «Отлично! Тогда Альфа-Банк — один из лучших по нашей программе сейчас 💳 Оформим?»\n   — Клиент согласился → SEND_LINK, task_bank = alfa_bank\n   — Клиент отказался от оформления → ОТКАЗ\n\n→ Клиент ответил ДА → ОТКАЗ\n\n━━━ ВЕТКА ДО 18 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nШАГ МЛ-1. Задай вопрос:\n«Есть карта Альфа-Банка?»\n\n→ Клиент ответил НЕТ:\n   Предложи Альфа: «Отлично! Альфа-Банк выдаёт карты с 14 лет, всё оформляется онлайн 👌 Оформим?»\n   — Клиент согласился → SEND_LINK, task_bank = alfa_bank\n   — Клиент отказался от оформления → ОТКАЗ\n\n→ Клиент ответил ДА → ОТКАЗ\n\n━━━ ОТКАЗ (оба варианта) ━━━━━━━━━━━━━━━━━━━━━━━━\n\nЕсли клиент является клиентом всех банков или отказался от всех предложений:\n{\"answer\": \"К сожалению, все доступные банки в нашей программе у тебя уже есть. Если появятся новые варианты — обязательно напишем 🙂\", \"current_stage\": \"HOLD\", \"task_bank\": \"\"}\n\n========================\n========================\nВАЖНО — ДОПУСТИМЫЕ ЗНАЧЕНИЯ task_bank (использовать СТРОГО эти коды, без изменений):\n- ВТБ → task_bank = \"vtb_bank\"\n- Т-Банк → task_bank = \"tbank_bank\"\n- Газпромбанк → task_bank = \"gpb_bank\"\n- ОТП Банк → task_bank = \"otp_bank\"\n- Альфа-Банк → task_bank = \"alfa_bank\"\n\nНЕ писать произвольные названия! Только эти коды.\n\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\nПока ведём диалог (вопрос или предложение):\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"ROUTING\", \"task_bank\": \"\"}\n\nКлиент согласился с банком:\n{\"answer\": \"Супер, фиксируем [БАНК]! Сейчас пришлю ссылку для оформления 👇\", \"current_stage\": \"SEND_LINK\", \"task_bank\": \"vtb_bank\"} — пример для ВТБ\n{\"answer\": \"Супер, фиксируем [БАНК]! Сейчас пришлю ссылку для оформления 👇\", \"current_stage\": \"SEND_LINK\", \"task_bank\": \"tbank_bank\"} — пример для Т-Банка\n\nВсе банки заняты или отказ от всех:\n{\"answer\": \"К сожалению, все доступные банки в нашей программе у тебя уже есть. Если появятся новые варианты — обязательно напишем 🙂\", \"current_stage\": \"HOLD\", \"task_bank\": \"\"}\n========================\nСсылки:\n* link_BANK_apply - ссылка на оформление карты\n* link_BANK_report - ссылка на заполнение формы \"проверки\"\n\n - link_vtb_apply - ВТБ: https://www.vtb.ru/ \n- link_gpb_apply - Газпромбанк: https://www.gazprombank.ru/ \n- link_otp_apply - ОТП Банк: https://www.otpbank.ru/ \n- link_alfa_apply - Альфа Банк: https://alfabank.ru/ \n- link_tbank_apply - Т-Банк: https://tbank.ru/ "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        576
      ],
      "id": "0194f5f5-988b-4910-a39c-4214fd7af42d",
      "name": "AI Agent - ROUTING"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        272
      ],
      "id": "eaa77dfc-8700-45e9-8cb9-4c9e014d883b",
      "name": "Отправить ответ FORMAT",
      "webhookId": "22ae28ca-8aa0-44e3-8cf0-daf4fdf54d3e",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        448
      ],
      "id": "8fb83fad-a4ed-453f-8240-b53c62be42c1",
      "name": "OpenAI Chat Model - FORMAT",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Текущий этап: {{ $json.current_stage }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–6 строк), один вопрос/действие за сообщение.\n- Умеренно эмодзи. Указывай следующий шаг.\n- НЕ запрашивай данные — они уже есть.\n- НЕ упоминай, что ты ИИ.\n- Отвечай ТОЛЬКО текстом сообщения для пользователя — без JSON, без заголовков, без служебных меток.\n\n========================\nТВОЯ ЗАДАЧА:\n\nВАЖНО: тебе необходимо объяснить условия работы, объяснить за что клиент получает деньги и получить согласие.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nСЛУЧАЙ 0 — пользователь задаёт ВОПРОС (не выражает согласия/отказа, а уточняет что-то):\nПризнаки: «а как это работает?», «что нужно делать?», «это безопасно?», «сколько времени займёт?», «можно подробнее?» и т.п.\n→ Ответь по существу вопроса коротко (1–3 строки), затем снова предложи начать.\n→ {\"answer\": \"текст ответа + предложение начать\", \"current_stage\": \"FORMAT\"}\n\nСЛУЧАЙ 1 — пользователь СОМНЕВАЕТСЯ или просит объяснить безопасность:\n→ Объясни безопасность (1–2 предложения) и снова спроси «Подходит?»\n→ {\"answer\": \"текст\", \"current_stage\": \"FORMAT\"}\n\nСЛУЧАЙ 2 — пользователь ОТКАЗЫВАЕТСЯ:\n→ {\"answer\": \"Понял, без проблем. Если передумаешь — напиши, всегда рады 🙂\", \"current_stage\": \"HOLD\"}\n\nСЛУЧАЙ 3 — пользователь СОГЛАШАЕТСЯ:\n→ {\"answer\": \"Отлично, тогда можем перейти к первой проверке.\\n— Оплата сдельная, выплаты после выполнения и отчёта.\\n— По времени обычно 20–60 минут (зависит от проверки).\\n— Никаких переводов нам не нужно — только твоё время.\\nПодходит такой формат? 🙂\", \"current_stage\": \"ROUTING\"}\n\n========================\nФОРМАТ ОТВЕТА — ТОЛЬКО JSON-объект, без каких-либо пояснений, без markdown, без ```, без текста до и после. Первый символ ответа должен быть {, последний }:\n\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"FORMAT\"}\n{\"answer\": \"Отлично, тогда можем перейти к первой проверке.\\n— Оплата сдельная, выплаты после выполнения и отчёта.\\n— По времени обычно 20–60 минут (зависит от проверки).\\n— Никаких переводов нам не нужно — только твоё время.\\nПодходит такой формат? 🙂\", \"current_stage\": \"ROUTING\"}\n{\"answer\": \"Понял, без проблем. Если передумаешь — напиши, всегда рады 🙂\", \"current_stage\": \"HOLD\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        288
      ],
      "id": "5f6c32a4-4bb3-4f24-b59a-d09a97735421",
      "name": "AI Agent - FORMAT"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Привет! Я Николай, главный менеджер по работе с тестировщиками. Есть вопросы после прохождения бота или можем начать? 🙂",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        80
      ],
      "id": "2ac7ac4d-1dd1-4eac-b0dc-b2bf6403b57d",
      "name": "Отправить приветствие (START)",
      "webhookId": "7997b375-e745-43ce-b0a3-6439c8a628ad",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "^(START)?$",
                    "operator": {
                      "type": "string",
                      "operation": "regex",
                      "name": "filter.operator.regex"
                    },
                    "id": "stage-start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "START"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "FORMAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-format"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORMAT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "ROUTING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-routing"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ROUTING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_DELIVERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-wait-delivery"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_DELIVERY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c346da11-c8f9-4974-90c7-89adac0f6c6e",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_CARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_CARD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb35f235-1ee0-440d-9709-72509bdc4337",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_PURCHASE_PROOF",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_PURCHASE_PROOF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7bbd72d6-0d3e-4aed-b22f-19bdaabf903b",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_REPORT_DONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_REPORT_DONE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "payout-stage-check",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "PAYOUT_REQUESTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "activities-done-check",
                    "leftValue": "={{ $json.all_activities_done }}",
                    "rightValue": "^[Дд][Аа]$",
                    "operator": {
                      "type": "string",
                      "operation": "regex",
                      "name": "filter.operator.regex"
                    }
                  },
                  {
                    "id": "payout-received-check",
                    "leftValue": "={{ $json.payout_received }}",
                    "rightValue": "^[Дд][Аа]$",
                    "operator": {
                      "type": "string",
                      "operation": "regex",
                      "name": "filter.operator.regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PAYOUT_DONE_NOTIFY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "stage-payout-requested",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "PAYOUT_REQUESTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PAYOUT_REQUESTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "stage-done-check",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "DONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DONE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -656,
        336
      ],
      "id": "46b08128-e8ef-45ac-aa37-57c377e6396b",
      "name": "Stage Router"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cuid",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        384
      ],
      "id": "71ab862c-6a9c-4492-85a5-a1a961847baf",
      "name": "Читаем данные пользователя",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edit-text",
              "name": "text",
              "value": "={{ $json.text || $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        384
      ],
      "id": "f0581180-0fa7-4338-8203-eb80dccdcaf2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "RU",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1440,
        544
      ],
      "id": "b6f32dd7-7c74-4a49-8788-6541a2201025",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1632,
        544
      ],
      "id": "2679286c-673c-4a02-9c87-d5057f226cff",
      "name": "Get a file",
      "webhookId": "0cdf4b17-1f9c-42f5-8f66-ea729a6ba31c",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "text-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "voice-check",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1cb54fe7-db92-47ac-bd75-9c5c3a73eb4b",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Скрин"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2016,
        384
      ],
      "id": "0a704b18-f5d8-4b1c-adc8-962a49cdc671",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Получаем поле output от AI Agent\nconst raw = $input.item.json.output || \"\";\n\n// Очищаем markdown-обёртку если агент добавил ```json ... ```\nlet cleaned = raw.trim();\nif (cleaned.startsWith(\"```\")) {\n  cleaned = cleaned.replace(/^```[a-z]*\\n?/, \"\").replace(/\\n?```$/, \"\").trim();\n}\n\n// Пробуем найти JSON-объект внутри текста (на случай если агент добавил текст до/после)\nconst jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  cleaned = jsonMatch[0];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // Если всё равно не парсится — возвращаем текст как answer, этап не меняем\n  return [{\n    json: {\n      answer: raw.trim(),\n      current_stage: \"FORMAT\",\n      task_bank: \"\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    answer: parsed.answer ?? \"\",\n    current_stage: parsed.current_stage ?? \"FORMAT\",\n    task_bank: parsed.task_bank ?? \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        576
      ],
      "id": "73afdc7c-8a55-4a37-957b-3bf34deeff0c",
      "name": "Parse FORMAT output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse FORMAT output').item.json.current_stage }}",
                    "rightValue": "SEND_LINK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "routing-send-link"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEND_LINK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse FORMAT output').item.json.current_stage }}",
                    "rightValue": "HOLD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "routing-hold"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOLD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1008,
        464
      ],
      "id": "bd2fa771-0752-4bc2-b922-b706a5942083",
      "name": "Проверить stage ROUTING"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        1136
      ],
      "id": "aafcf0eb-a29f-44c7-b088-9e789e615060",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        1120
      ],
      "id": "a2cba9bc-fd7a-4bcc-9910-dddbe22aab90",
      "name": "OpenAI Chat Model - SEND_LINK",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА:\n\nПользователь оформил карту и ожидает доставку или встречу с представителем банка.\n\nГЛАВНЫЙ ТРИГГЕР: пользователь называет дату и/или время получения карты.\n\nПримеры фраз с датой/временем:\n«завтра в 14:00», «3 марта», «в пятницу после 18», «сегодня в 18:30», «на следующей неделе во вторник», «послезавтра с 10 до 12» и т.п.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nСЛУЧАЙ 1 — пользователь задаёт ВОПРОС или пишет произвольный текст БЕЗ даты:\nПризнаки: «когда ждать?», «что дальше?», «как отслеживать?», «курьер не приехал» и т.п.\n→ Ответь по существу вопроса, напомни что нужно написать дату/время доставки.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\nСЛУЧАЙ 2 — пользователь назвал дату/время, и она НЕ в прошлом (дата >= текущей):\n→ {\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время строкой из сообщения\"}\n\nСЛУЧАЙ 3 — пользователь назвал дату/время, но она В ПРОШЛОМ (дата < текущей):\n→ {\"answer\": \"Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\n========================\nВАЖНО ПРО ПРОВЕРКУ ДАТЫ:\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n- Слова «вчера», «позавчера», прошедшие числа — это прошлое → СЛУЧАЙ 3.\n- Слова «сегодня», «завтра», «послезавтра», будущие числа — это будущее → СЛУЧАЙ 2.\n- Если дата неоднозначна (например, «в пятницу») — считай ближайшую будущую → СЛУЧАЙ 2.\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n{\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время\"}\n========================\nССЫЛКИ:\n* link_BANK_apply - ссылка на оформление карты\n* link_BANK_report - ссылка на заполнение формы \"проверки\"\n - link_vtb_apply - ВТБ: https://www.vtb.ru/ \n- link_gpb_apply - Газпромбанк: https://www.gazprombank.ru/ \n- link_otp_apply - ОТП Банк: https://www.otpbank.ru/ \n- link_alfa_apply - Альфа Банк: https://alfabank.ru/ \n- link_tbank_apply - Т-Банк: https://tbank.ru/ "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        912
      ],
      "id": "79ee4752-b1d7-4723-aa34-ca70069eb774",
      "name": "AI Agent - WAIT_DELIVERY"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output || \"\";\n\nlet cleaned = raw.trim();\nif (cleaned.startsWith(\"```\")) {\n  cleaned = cleaned.replace(/^```[a-z]*\\n?/, \"\").replace(/\\n?```$/, \"\").trim();\n}\n\nconst jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  cleaned = jsonMatch[0];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  return [{\n    json: {\n      answer: raw.trim(),\n      current_stage: \"WAIT_DELIVERY\",\n      delivery_datetime: \"\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    answer: parsed.answer ?? \"\",\n    current_stage: parsed.current_stage ?? \"WAIT_DELIVERY\",\n    delivery_datetime: parsed.delivery_datetime ?? \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        912
      ],
      "id": "bd611222-162e-4af5-ada9-47c5e7719761",
      "name": "Parse WAIT_DELIVERY output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        912
      ],
      "id": "863b858d-4956-4c72-b009-14dc840cd962",
      "name": "Отправить ответ WAIT_DELIVERY",
      "webhookId": "27fc9bfe-deda-44b3-a380-28769cab6143",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse WAIT_DELIVERY output').item.json.current_stage }}",
                    "rightValue": "WAIT_CARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "got-date"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Дата получена"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        912
      ],
      "id": "79a7667c-fa5d-4716-8f62-6bddb510d245",
      "name": "Дата получена?"
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Получили дату/время доставки: ' + $('Parse WAIT_DELIVERY output').item.json.delivery_datetime + ' (' + $('Читаем данные пользователя').item.json.task_bank + ').' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        912
      ],
      "id": "da12f052-584a-425a-854d-b81fe31247d8",
      "name": "Уведомить админа (WAIT_DELIVERY)",
      "webhookId": "8f486551-0a8f-473f-a003-feddc9e39150",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1616,
        928
      ],
      "id": "b05393de-c5d7-4205-970a-51bf05e81d61",
      "name": "9:00 МСК каждый день"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        928
      ],
      "id": "e103f4d6-06e5-4ce3-b198-db795e1c20d8",
      "name": "Читаем таблицу",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Текущая дата по МСК (UTC+3)\nconst nowMsk = new Date(Date.now() + 3 * 60 * 60 * 1000);\nconst todayY = nowMsk.getUTCFullYear();\nconst todayM = nowMsk.getUTCMonth(); // 0-based\nconst todayD = nowMsk.getUTCDate();\n\nconst ruMonths = {\n  'января':0,'февраля':1,'марта':2,'апреля':3,'мая':4,'июня':5,\n  'июля':6,'августа':7,'сентября':8,'октября':9,'ноября':10,'декабря':11,\n  'январь':0,'февраль':1,'март':2,'апрель':3,'май':4,'июнь':5,\n  'июль':6,'август':7,'сентябрь':8,'октябрь':9,'ноябрь':10,'декабрь':11\n};\n\nfunction isToday(raw) {\n  if (!raw) return false;\n  const s = String(raw).toLowerCase().trim();\n\n  if (s.includes('сегодня')) return true;\n  if (s.includes('завтра') || s.includes('послезавтра')) return false;\n\n  // ISO: 2026-03-01 или 2026/03/01\n  const iso = s.match(/(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})/);\n  if (iso) {\n    const [,y,m,d] = iso.map(Number);\n    return y===todayY && (m-1)===todayM && d===todayD;\n  }\n\n  // DD.MM.YYYY или DD/MM/YYYY\n  const dmy = s.match(/(\\d{1,2})[./](\\d{1,2})[./](\\d{4})/);\n  if (dmy) {\n    const [,d,m,y] = dmy.map(Number);\n    return y===todayY && (m-1)===todayM && d===todayD;\n  }\n\n  // «3 марта» или «3 марта 2026»\n  const ru = s.match(/(\\d{1,2})\\s+([а-яё]+)(\\s+\\d{4})?/);\n  if (ru) {\n    const d = parseInt(ru[1]);\n    const month = ruMonths[ru[2]];\n    const y = ru[3] ? parseInt(ru[3].trim()) : todayY;\n    if (month !== undefined) return y===todayY && month===todayM && d===todayD;\n  }\n\n  return false;\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (row.current_stage === 'WAIT_CARD' && row.cuid && isToday(row.delivery_datetime)) {\n    results.push({ json: row });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        928
      ],
      "id": "94a917d7-16da-4d9e-90b9-647387b4e2e4",
      "name": "Фильтр: доставка сегодня"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "skip-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        928
      ],
      "id": "7c7be426-f90f-4cb8-b03b-dd3b5903d4e0",
      "name": "Есть доставки сегодня?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.cuid }}",
        "text": "Не забудь, у тебя сегодня доставка карты! Как получишь, пиши нам!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2624,
        944
      ],
      "id": "3b018cf5-626c-4279-929d-9eb3e6890ee2",
      "name": "Напоминание пользователю",
      "webhookId": "5106ea13-af0b-481f-b536-d5663dba2371",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        1472
      ],
      "id": "76dd47a3-3165-47b4-a050-1eca356fe75d",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА:\n\nПользователь ожидает получения карты. ГЛАВНЫЙ ТРИГГЕР: пользователь сообщает, что карта у него на руках.\n\nПримеры фраз-триггеров:\n«Карта на руках», «получил карту», «карту привезли», «курьер приехал», «забрал карту», «карта есть», «уже получил» и т.п.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nВАЖНО: сначала определи — это ВОПРОС или ПОДТВЕРЖДЕНИЕ получения карты.\n\nСЛУЧАЙ 1 — пользователь задаёт ВОПРОС или пишет что-то не связанное с получением карты:\nПризнаки: «когда привезут?», «курьер задерживается», «можно перенести?», «что делать если...» и т.п.\n→ Ответь по существу вопроса, помоги решить проблему.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_CARD\", \"card_received\": false}\n\nСЛУЧАЙ 2 — пользователь ПОДТВЕРЖДАЕТ получение карты:\nПризнаки: явное упоминание что карта уже на руках, получена, привезли.\n→ {\"answer\": \"\", \"current_stage\": \"CARD_RECEIVED\", \"card_received\": true}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст ответа на вопрос\", \"current_stage\": \"WAIT_CARD\", \"card_received\": false}\n{\"answer\": \"\", \"current_stage\": \"CARD_RECEIVED\", \"card_received\": true}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        1296
      ],
      "id": "fa23974e-6dd0-4390-9142-81f92c71b0c1",
      "name": "AI Agent - WAIT_CARD"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nconst parsed = JSON.parse(raw);\nreturn [{\n  json: {\n    answer: parsed.answer ?? \"\",\n    current_stage: parsed.current_stage,\n    card_received: parsed.card_received === true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1296
      ],
      "id": "3e6e860c-e3ca-440c-aaa5-20fe84a64f16",
      "name": "Parse WAIT_CARD output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        1392
      ],
      "id": "847313da-4e3d-44b0-878f-1368a635fb71",
      "name": "Отправить ответ WAIT_CARD",
      "webhookId": "75cc9b6d-515a-4b76-8c9a-73a2a23aedcb",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.card_received }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "card-received-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Карта получена"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3fef159-d7f4-49e7-a6f4-c4d8e7fee0d4",
                    "leftValue": "={{ $json.card_received }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Не получена еще"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        1216
      ],
      "id": "c2bd120d-18ee-4591-a3ff-6b83231a2167",
      "name": "Карта получена?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "comp-amount",
              "name": "comp_amount",
              "value": "={{ ({'vtb_bank': 500, 'tbank_bank': 100, 'alfa_bank': 100, 'otp_bank': 100, 'gpb_bank': 100})[$('Читаем данные пользователя').item.json.task_bank] || 100 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1216
      ],
      "id": "887bbed0-837b-4210-8ed2-c79fd6c39c26",
      "name": "Определить компенсацию"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ 'Отлично! Теперь нужно сделать покупку одной транзакцией от ' + $json.comp_amount + '₽ (на любые личные нужды) и прислать скрин операции. Данные можно замазать — важны сумма/дата/статус. Можешь не переживать, мы компенсируем эту трату.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        1216
      ],
      "id": "4f3c2448-d4f9-49db-b350-ad382dfc631d",
      "name": "Сообщение о покупке (WAIT_CARD)",
      "webhookId": "238dc47a-31c0-40b2-bbf9-6d662a447caa",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Карта получена (' + $('Читаем данные пользователя').item.json.task_bank + '). Нужна компенсация на покупку: ' + $('Определить компенсацию').item.json.comp_amount + '₽ (перевод по телефону из таблицы).' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        1216
      ],
      "id": "e5b2e735-02cd-432d-8c4a-4be6fb942a61",
      "name": "Уведомить админа (WAIT_CARD)",
      "webhookId": "854a96aa-cd49-4393-ab55-b85a389e83d7",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2224,
        400
      ],
      "id": "7e2742b1-04a4-4a68-9c53-20d8392899c8",
      "name": "Telegram Trigger",
      "webhookId": "4d37a6f6-ed9d-423a-8d54-a2a194ea6baa",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        2208
      ],
      "id": "86be3b4b-6d74-4f2c-82af-6071f5445e60",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        1504
      ],
      "id": "25e69110-9312-4b9b-b9ec-c3e268a7c4d2",
      "name": "OpenAI Chat Model - WAIT_CARD1",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        2192
      ],
      "id": "10334e32-cd4d-409a-a1cf-87b660276ede",
      "name": "OpenAI Chat Model - CARD_RECEIVED",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Банк: {{ $json.task_bank }}\n- Минимальная сумма покупки: {{ ({'vtb_bank': 500, 'tbank_bank': 100, 'alfa_bank': 100, 'otp_bank': 100, 'gpb_bank': 100})[$json.task_bank] || 100 }} руб.\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n\n========================\nТВОЯ ЗАДАЧА (WAIT_PURCHASE_PROOF):\n\nПользователь должен подтвердить покупку текстом (скриншот обрабатывается отдельно).\n\nВАЖНО: сначала определи — это ВОПРОС или ПОДТВЕРЖДЕНИЕ покупки.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nСЛУЧАЙ 1 — пользователь задаёт ВОПРОС или пишет что-то не связанное с суммой:\nПризнаки: «что нужно купить?», «на что потратить?», «когда компенсируют?», «как сделать скрин?» и т.п.\n→ Ответь по существу, напомни что нужно прислать скрин или написать сумму покупки.\n→ {\"answer\": \"текст ответа\", \"proof_accepted\": false, \"amount_mentioned\": null}\n\nСЛУЧАЙ 2 — пользователь написал СУММУ покупки:\nПризнаки: «купил на 200 рублей», «сделал покупку на 500», «150р», «потратил 300», «оплатил 1000» и т.п.\n  - Извлеки сумму числом.\n  - Если сумма >= минимальной для банка:\n    → {\"answer\": \"Принято ✅ Сейчас пришлю ссылку на отчёт.\", \"proof_accepted\": true, \"amount_mentioned\": СУММА_ЧИСЛОМ}\n  - Если сумма < минимальной:\n    → {\"answer\": \"Сумма должна быть от МИН ₽ одной транзакцией. У тебя СУММА ₽ — это меньше нужного. Сделай покупку на нужную сумму и пришли скрин или напиши сумму 🙏\", \"proof_accepted\": false, \"amount_mentioned\": СУММА_ЧИСЛОМ}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown:\n{\"answer\": \"текст\", \"proof_accepted\": true/false, \"amount_mentioned\": число или null}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        2000
      ],
      "id": "1ac3b922-9a79-4287-8523-7b9e65bd0c4f",
      "name": "AI Agent - WAIT_PURCHASE_PROOF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11ec5fa7-ced7-4aba-96c7-6d46a8c42f58",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        1952
      ],
      "id": "d42d922c-42dd-48d5-9a6b-c180e65b111b",
      "name": "Есть фото (WAIT_PURCHASE)"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot7636570282:AAHXBouH8zw6R-xIyFaCtekM6Zi5oSVd6fA/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo.slice(-1)[0].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        1760
      ],
      "id": "e7870842-9ac3-4986-ac1c-d7bd2b3bda53",
      "name": "Get File Path (Purchase)"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot7636570282:AAHXBouH8zw6R-xIyFaCtekM6Zi5oSVd6fA/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        1760
      ],
      "id": "6a0f018f-3b2c-4270-9794-c3b4afea1bc0",
      "name": "Download File (Purchase)"
    },
    {
      "parameters": {
        "jsCode": "// Convert binary file to base64 for OpenAI Vision API\nconst items = $input.all();\nconst item = items[0];\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  return [{json: {error: \"no_binary_data\"}}];\n}\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, \"data\");\nconst base64 = buffer.toString(\"base64\");\n\nlet mimeType = binaryData.mimeType || \"image/jpeg\";\nconst fileName = (binaryData.fileName || \"\").toLowerCase();\n\nif (mimeType === \"application/octet-stream\" || !mimeType.startsWith(\"image/\")) {\n  if (fileName.endsWith(\".jpg\") || fileName.endsWith(\".jpeg\")) {\n    mimeType = \"image/jpeg\";\n  } else if (fileName.endsWith(\".png\")) {\n    mimeType = \"image/png\";\n  } else if (fileName.endsWith(\".webp\")) {\n    mimeType = \"image/webp\";\n  } else {\n    mimeType = \"image/jpeg\";\n  }\n}\n\nconst userData = $(\"Читаем данные пользователя\").first().json;\nconst taskBank = userData.task_bank || \"\";\n\n// Минимальная сумма по банку\nconst minPurchaseMap = {\n  \"vtb_bank\": 500,\n  \"tbank_bank\": 100,\n  \"alfa_bank\": 100,\n  \"otp_bank\": 100,\n  \"gpb_bank\": 100\n};\nconst minPurchase = minPurchaseMap[taskBank] || 100;\n\nreturn [{json: {\n  base64,\n  mimeType,\n  chatId: $(\"Telegram Trigger\").first().json.message.chat.id,\n  cuid: userData.cuid,\n  task_bank: taskBank,\n  min_purchase: minPurchase,\n  name: userData.name\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1760
      ],
      "id": "b1fd3487-7374-45ca-bb28-a35696bce1ab",
      "name": "Convert to Base64 (Purchase)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Ты эксперт по распознаванию банковских чеков и скриншотов транзакций.\\n\\nПроанализируй изображение и определи:\\n1. Это скриншот/чек покупки или транзакции?\\n2. Какова сумма покупки/транзакции?\\n\\nВерни строго JSON без markdown:\\n{\\n  \\\"is_purchase_receipt\\\": true/false,\\n  \\\"amount\\\": число или null если не удалось определить,\\n  \\\"currency\\\": \\\"RUB\\\" или другая валюта,\\n  \\\"description\\\": \\\"краткое описание что на скриншоте\\\",\\n  \\\"confidence\\\": \\\"high\\\" / \\\"medium\\\" / \\\"low\\\"\\n}\\n\\nЕсли на изображении НЕ чек/скриншот покупки — верни {\\\"is_purchase_receipt\\\": false, \\\"description\\\": \\\"описание что на картинке\\\"}.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mimeType }};base64,{{ $json.base64 }}\",\n            \"detail\": \"high\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        1760
      ],
      "id": "1f7cbcf4-d391-460c-b737-123eacb40bf4",
      "name": "OpenAI Vision (Purchase)",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем JSON из ответа OpenAI\nconst response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content;\nconst prevData = $('Convert to Base64 (Purchase)').first().json;\n\nif (!content) {\n  return [{json: {error: 'empty_response', is_valid: false, ...prevData}}];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch(e) {\n  return [{json: {error: 'invalid_json', is_valid: false, ...prevData}}];\n}\n\nif (!parsed.is_purchase_receipt) {\n  return [{json: {\n    is_valid: false,\n    is_purchase_receipt: false,\n    description: parsed.description || 'Не чек покупки',\n    ...prevData\n  }}];\n}\n\nconst amount = parsed.amount;\nconst minPurchase = prevData.min_purchase || 1000;\nconst isAmountOk = amount && amount >= minPurchase;\n\nreturn [{json: {\n  is_valid: true,\n  is_purchase_receipt: true,\n  amount: amount,\n  min_purchase: minPurchase,\n  is_amount_ok: isAmountOk,\n  currency: parsed.currency || 'RUB',\n  description: parsed.description,\n  confidence: parsed.confidence,\n  ...prevData\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1760
      ],
      "id": "470371ad-0fd4-412b-b2d7-024ae45d7163",
      "name": "Parse Vision (Purchase)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ae0e4792-6a45-4e7f-9288-61439cfc2fc7",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3411168a-8d7e-4edf-acd1-c3c3d554b81c",
              "leftValue": "={{ $json.is_amount_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        1760
      ],
      "id": "393d1f8f-5222-490e-a51c-9735f885b230",
      "name": "Чек валиден?"
    },
    {
      "parameters": {
        "jsCode": "// Определяем ссылку на отчёт по банку\nconst taskBank = $json.task_bank || '';\nconst bankLinks = {\n  'vtb_bank': 'https://www.vtb.ru/proverka',\n  'gpb_bank': 'https://www.gazprombank.ru/proverka',\n  'otp_bank': 'https://www.otpbank.ru/proverka',\n  'alfa_bank': 'https://alfabank.ru/proverka',\n  'tbank_bank': 'https://tbank.ru/proverka'\n};\n\nlet reportLink = bankLinks[taskBank] || '';\n\nreturn [{json: {\n  ...($json),\n  report_link: reportLink\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1632
      ],
      "id": "06a29702-a5dd-4b6c-b354-eaa87f6a7628",
      "name": "Определить ссылку отчёта"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Супер, вижу 👍 Теперь заполни, пожалуйста, отчёт по проверке:\n{{ $json.report_link }}\nЕсли что-то непонятно в форме — напиши.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        1632
      ],
      "id": "9c13a638-772a-489e-b6db-303536b0b306",
      "name": "Отправить ссылку отчёта",
      "webhookId": "30dad09b-2166-4ee7-a37f-3fd064f976f8",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "454918257",
        "text": "=[{{ $('Читаем данные пользователя').item.json.cuid }}] Получен скрин покупки ({{ $('Читаем данные пользователя').item.json.task_bank }}). Сумма: {{ $('Определить ссылку отчёта').item.json.amount }} руб. Отправлена ссылка на отчёт.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        1632
      ],
      "id": "bb391fc9-86be-4063-b6e7-a4e4f04a07af",
      "name": "Уведомить админа (чек получен)",
      "webhookId": "a14c8c9e-8e93-4290-9db9-a7ab8597cd04",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.is_purchase_receipt ? 'Сумма покупки должна быть не менее ' + $json.min_purchase + ' ₽. На чеке вижу: ' + $json.amount + ' ' + $json.currency : 'Это не похоже на чек покупки. ' + $json.description }}\n\nПришли, пожалуйста, скриншот чека покупки на сумму от {{ $json.min_purchase }} ₽.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        1856
      ],
      "id": "668048e1-4d53-429e-abf9-27e01801f148",
      "name": "Ответ: чек невалиден",
      "webhookId": "b584e8fd-617a-41d9-a9b1-4fad027482b9",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА (WAIT_REPORT_DONE):\n\nПользователь заполняет отчёт. ГЛАВНЫЙ ТРИГГЕР: пользователь сообщил что заполнил отчёт.\n\nПримеры фраз-триггеров:\n«заполнил отчёт», «заполнила», «отчёт готов», «всё заполнил», «форму заполнил», «заполнил анкету» и т.п.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nВАЖНО: сначала определи — это ВОПРОС или ПОДТВЕРЖДЕНИЕ заполнения отчёта.\n\nСЛУЧАЙ 1 — пользователь задаёт ВОПРОС или пишет что-то не связанное с отчётом:\nПризнаки: «как заполнить?», «что писать в поле...?», «ссылка не открывается», «форма не работает», «непонятно что делать» и т.п.\n→ Ответь по существу, помоги с заполнением отчёта.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_REPORT_DONE\", \"report_confirmed\": false}\n\nСЛУЧАЙ 2 — пользователь ПОДТВЕРЖДАЕТ что заполнил отчёт:\nПризнаки: явное упоминание что отчёт/форма/анкета заполнена.\n→ {\"answer\": \"Отлично, спасибо! Передаю на проверку. Как только подтвердят — сделаем финальную выплату 500₽. Напиши, пожалуйста, когда придёт 🙂\", \"current_stage\": \"PAYOUT_REQUESTED\", \"report_confirmed\": true}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"WAIT_REPORT_DONE\", \"report_confirmed\": false}\n{\"answer\": \"Отлично, спасибо! Передаю на проверку. Как только подтвердят — сделаем финальную выплату 500₽. Напиши, пожалуйста, когда придёт 🙂\", \"current_stage\": \"PAYOUT_REQUESTED\", \"report_confirmed\": true}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -336,
        2464
      ],
      "id": "5fc40687-f53f-443c-80b9-89702564fce3",
      "name": "Agent WAIT_REPORT_DONE"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        2688
      ],
      "id": "807e08ba-bb0d-489a-8038-9e4be4cfeb96",
      "name": "OpenAI WAIT_REPORT_DONE",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        2688
      ],
      "id": "133bcf6c-fb7a-4ec5-b7e0-5db2320f1e90",
      "name": "Memory WAIT_REPORT_DONE"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  parsed = { answer: raw, proof_accepted: false, amount_mentioned: null };\n}\nconst userData = $(\"Читаем данные пользователя\").first().json;\nconst taskBank = userData.task_bank || \"\";\nconst minPurchaseMap = { \"vtb_bank\": 500, \"tbank_bank\": 100, \"alfa_bank\": 100, \"otp_bank\": 100, \"gpb_bank\": 100 };\nconst minPurchase = minPurchaseMap[taskBank] || 100;\nconst bankLinks = {\n  \"vtb_bank\": \"https://www.vtb.ru/proverka\",\n  \"gpb_bank\": \"https://www.gazprombank.ru/proverka\",\n  \"otp_bank\": \"https://www.otpbank.ru/proverka\",\n  \"alfa_bank\": \"https://alfabank.ru/proverka\",\n  \"tbank_bank\": \"https://tbank.ru/proverka\"\n};\nconst reportLink = bankLinks[taskBank] || \"\";\nreturn [{json: {\n  answer: parsed.answer ?? \"\",\n  proof_accepted: parsed.proof_accepted === true,\n  amount_mentioned: parsed.amount_mentioned ?? null,\n  chatId: $(\"Telegram Trigger\").first().json.message.chat.id,\n  cuid: userData.cuid,\n  task_bank: taskBank,\n  min_purchase: minPurchase,\n  report_link: reportLink,\n  name: userData.name\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        2000
      ],
      "id": "186b53f0-e219-447f-b90b-3adc0e12de65",
      "name": "Parse WAIT_PURCHASE_PROOF (текст)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "proof-accepted-check",
              "leftValue": "={{ $json.proof_accepted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        2000
      ],
      "id": "aba876e3-91ac-4cdf-ba4f-a95ee3e35cab",
      "name": "Покупка подтверждена? (текст)"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        2128
      ],
      "id": "7bd9f2d3-12e2-43d2-986e-c2248a2bf604",
      "name": "Отправить ответ (WAIT_PURCHASE текст)",
      "webhookId": "proof-text-send-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Супер, вижу 👍 Теперь заполни, пожалуйста, отчёт по проверке:\n{{ $json.report_link }}\nЕсли что-то непонятно в форме — напиши.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        2000
      ],
      "id": "587080bf-5662-4bad-aaa8-fe9e0b043799",
      "name": "Отправить ссылку отчёта (текст)",
      "webhookId": "proof-text-report-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "454918257",
        "text": "=[{{ $('Читаем данные пользователя').item.json.cuid }}] Покупка подтверждена текстом ({{ $('Читаем данные пользователя').item.json.task_bank }}). Сумма: {{ $('Parse WAIT_PURCHASE_PROOF (текст)').item.json.amount_mentioned }}руб. Отправлена ссылка на отчёт.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        2000
      ],
      "id": "a145631f-9585-4aa1-8ecf-d05b1f46ea56",
      "name": "Уведомить админа (текст покупки)",
      "webhookId": "proof-text-admin-001",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nlet parsed;\ntry { parsed = JSON.parse(raw); }\ncatch(e) { parsed = { answer: raw, current_stage: \"WAIT_REPORT_DONE\", report_confirmed: false }; }\nreturn [{json: {\n  answer: parsed.answer ?? \"\",\n  current_stage: parsed.current_stage,\n  report_confirmed: parsed.report_confirmed === true\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        2464
      ],
      "id": "f4169239-a53e-49a0-b9a3-4252742d8fb6",
      "name": "Parse WAIT_REPORT_DONE output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        2464
      ],
      "id": "2a06dd22-0cbf-4bf6-879d-3c41cb19bac2",
      "name": "Отправить ответ WAIT_REPORT_DONE",
      "webhookId": "report-done-send-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "454918257",
        "text": "=[{{ $('Читаем данные пользователя').item.json.cuid }}] Пользователь подтвердил отчёт заполнен ({{ $('Читаем данные пользователя').item.json.task_bank }}).\n\nНужна финальная выплата: 500₽.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        2464
      ],
      "id": "d54c13a8-2f5c-43f6-809e-5f97a79a020d",
      "name": "Уведомить админа (WAIT_REPORT_DONE)",
      "webhookId": "report-done-admin-001",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА (PAYOUT_REQUESTED):\n\nОтчёт пользователя передан администратору на проверку. Пользователь ожидает выплату.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nВАЖНО: сначала определи — это ВОПРОС про процесс или СООБЩЕНИЕ О ПРОБЛЕМЕ.\n\nСЛУЧАЙ 1 — пользователь задаёт НЕЙТРАЛЬНЫЙ ВОПРОС про статус или процесс:\nПризнаки: «когда придут деньги?», «сколько ждать?», «что сейчас происходит?», «всё нормально?» и т.п.\n→ Объясни что идёт проверка, выплата будет в течение нескольких часов.\n→ {\"answer\": \"текст ответа\"}\n\nСЛУЧАЙ 2 — пользователь БЕСПОКОИТСЯ или ТОРОПИТ, но не говорит что деньги не пришли:\nПризнаки: «уже долго жду», «прошло много времени», «когда уже?» и т.п.\n→ Успокой, объясни что проверка идёт, попроси подождать ещё немного.\n→ {\"answer\": \"текст ответа\"}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        2880
      ],
      "id": "f3a255fe-d635-4c7f-875c-622258963cc7",
      "name": "AI Agent - PAYOUT_REQUESTED"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -352,
        3088
      ],
      "id": "dcff9a47-3ee4-448c-8c39-c89e6999d935",
      "name": "OpenAI Chat Model - PAYOUT_REQUESTED",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        3088
      ],
      "id": "3dc17da3-6d21-402c-a457-1b3261c1db96",
      "name": "Simple Memory - PAYOUT_REQUESTED"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nlet parsed;\ntry { parsed = JSON.parse(raw); }\ncatch(e) { parsed = { answer: raw }; }\nreturn [{json: { answer: parsed.answer ?? \"\" }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2880
      ],
      "id": "aafa3df4-db43-4a39-8f7b-e3d4fb80ba88",
      "name": "Parse PAYOUT_REQUESTED output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        2880
      ],
      "id": "fb7a56c4-9a03-421d-a05d-152ae83d91ab",
      "name": "Отправить ответ PAYOUT_REQUESTED",
      "webhookId": "payout-requested-send-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        3056
      ],
      "id": "03b3d9cb-0a3c-4543-9928-e60a7c540837",
      "name": "Каждый час: проверка выплат"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        3056
      ],
      "id": "4c8ff108-73bf-4c63-a659-c69f2fc7364a",
      "name": "Читаем таблицу (выплаты)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Фильтруем юзеров у которых:\n// current_stage = PAYOUT_REQUESTED\n// all_activities_done = Да (любой регистр)\n// payout_received = Да (любой регистр)\nconst isDa = v => /^да$/i.test((v || \"\").trim());\nconst results = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (\n    (row.current_stage || \"\").trim() === \"PAYOUT_REQUESTED\" &&\n    isDa(row.all_activities_done) &&\n    isDa(row.payout_received)\n  ) {\n    results.push({ json: row });\n  }\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        3056
      ],
      "id": "eb679453-3687-4d4d-b8b0-2cd47158c2d6",
      "name": "Фильтр: выплата подтверждена"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-payout-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        3056
      ],
      "id": "1737a4f5-79ad-4f76-8d1f-ed03b3fa5b27",
      "name": "Есть готовые выплаты?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.cuid }}",
        "text": "Отлично, рады слышать! 🎉 Все условия подтверждены, выплата отправлена. Спасибо за участие в проекте! Будут новые задания — обязательно напишем 🙂",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        3072
      ],
      "id": "6b13398c-ea83-4486-b7da-648095eb1810",
      "name": "Сообщение юзеру (выплата готова)",
      "webhookId": "payout-done-user-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Отличные новости! 🎉 Все условия проверены и сейчас производится оплата — в течение нескольких минут, деньги должны поступить.\n\nСпасибо за участие в проекте! Скоро появятся новые задания — будем держать тебя в курсе 🙂",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        3392
      ],
      "id": "3b37bb23-0343-41d6-9c6e-f8367320cfe1",
      "name": "Сообщение: оплата произведена",
      "webhookId": "payout-done-notify-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА (DONE):\n\nПользователь завершил задание. Работа выполнена, выплата должна была поступить.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nВАЖНО: сначала определи — это ВОПРОС/БЛАГОДАРНОСТЬ или ЖАЛОБА НА ПРОБЛЕМУ С ВЫПЛАТОЙ.\n\nСЛУЧАЙ 1 — пользователь сообщает о ПРОБЛЕМЕ С ВЫПЛАТОЙ:\nПризнаки: «деньги не пришли», «выплата не поступила», «не получил оплату», «где деньги», «не перевели», «нет денег», «не вижу перевода» и т.п.\n→ Успокой, скажи что разберёмся, передай на ручное управление.\n→ {\"answer\": \"Понял, извини за неудобства 🙏 Сейчас передам информацию менеджеру — он разберётся и свяжется с тобой в ближайшее время.\", \"issue_with_payout\": true}\n\nСЛУЧАЙ 2 — пользователь пишет СПАСИБО, задаёт ВОПРОСЫ, просто общается (но НЕ соглашается явно на следующее задание):\nПризнаки: «спасибо», «всё отлично», «деньги пришли», нейтральные вопросы.\n→ Ответь по существу, поблагодари за участие, предложи следующую проверку.\n→ Пример: «Кстати, если хочешь — можем записать тебя на следующую проверку. Условия такие же, снова заработаешь 🙂 Интересно?»\n→ {\"answer\": \"текст ответа\", \"issue_with_payout\": false, \"wants_next_task\": false}\n\nСЛУЧАЙ 3 — пользователь СОГЛАШАЕТСЯ на следующую проверку:\nПризнаки: «да», «интересно», «давай», «хочу», «записывай», «готов», «конечно» — в ответ на предложение следующего задания.\n→ {\"answer\": \"Отлично! Тогда начнём 🙂 Сейчас подберём для тебя следующий банк.\", \"issue_with_payout\": false, \"wants_next_task\": true}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\", \"issue_with_payout\": false, \"wants_next_task\": false}\n{\"answer\": \"Отлично! Тогда начнём 🙂 Сейчас подберём для тебя следующий банк.\", \"issue_with_payout\": false, \"wants_next_task\": true}\n{\"answer\": \"Понял, извини за неудобства 🙏 Сейчас передам информацию менеджеру — он разберётся и свяжется с тобой в ближайшее время.\", \"issue_with_payout\": true, \"wants_next_task\": false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        3696
      ],
      "id": "7083c205-79fe-4c8d-a46e-a3c61e4d6cc6",
      "name": "AI Agent - DONE"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -448,
        3920
      ],
      "id": "a79897c3-ca88-4df2-b58f-c92f8e2af121",
      "name": "OpenAI Chat Model - DONE",
      "credentials": {
        "openAiApi": {
          "id": "6GJrzlgzfPfKBE2f",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        3936
      ],
      "id": "18c0974a-3a64-4b42-95f4-5846e1a24fe3",
      "name": "Simple Memory - DONE"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output || \"\";\nlet cleaned = raw.trim();\nif (cleaned.startsWith(\"```\")) {\n  cleaned = cleaned.replace(/^```[a-z]*\\n?/, \"\").replace(/\\n?```$/, \"\").trim();\n}\nconst jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) cleaned = jsonMatch[0];\nlet parsed;\ntry { parsed = JSON.parse(cleaned); }\ncatch(e) { parsed = { answer: raw.trim(), issue_with_payout: false, wants_next_task: false }; }\nreturn [{json: {\n  answer: parsed.answer ?? \"\",\n  issue_with_payout: parsed.issue_with_payout === true,\n  wants_next_task: parsed.wants_next_task === true\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        3696
      ],
      "id": "b687feff-2103-434c-9ee5-60f2d92ff1d9",
      "name": "Parse DONE output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        3696
      ],
      "id": "c3a3ab48-03e9-44ac-ae7d-6240345e6494",
      "name": "Отправить ответ DONE",
      "webhookId": "done-send-001",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "issue-payout-check",
              "leftValue": "={{ $('Parse DONE output').item.json.issue_with_payout }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        3696
      ],
      "id": "6e3ae786-248b-43cd-bb34-e6885a60e1a0",
      "name": "Проблема с выплатой?"
    },
    {
      "parameters": {
        "chatId": "454918257",
        "text": "=[{{ $('Читаем данные пользователя').item.json.cuid }}] ⚠️ ПРОБЛЕМА С ВЫПЛАТОЙ\nПользователь @{{ $('Читаем данные пользователя').item.json.username }} ({{ $('Читаем данные пользователя').item.json.name }}) сообщает, что выплата не поступила.\nБанк: {{ $('Читаем данные пользователя').item.json.task_bank }}\nТелефон: {{ $('Читаем данные пользователя').item.json.phone }}\n\nТребуется ручная проверка.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        3680
      ],
      "id": "5715bde5-8ae5-4618-8c79-72c5ddad4ca0",
      "name": "Уведомить админа (проблема с выплатой)",
      "webhookId": "done-admin-issue-001",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем поле output от AI Agent\nconst raw = $input.item.json.output || \"\";\n\n// Очищаем markdown-обёртку если агент добавил ```json ... ```\nlet cleaned = raw.trim();\nif (cleaned.startsWith(\"```\")) {\n  cleaned = cleaned.replace(/^```[a-z]*\\n?/, \"\").replace(/\\n?```$/, \"\").trim();\n}\n\n// Пробуем найти JSON-объект внутри текста (на случай если агент добавил текст до/после)\nconst jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  cleaned = jsonMatch[0];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // Если всё равно не парсится — возвращаем текст как answer, этап не меняем\n  return [{\n    json: {\n      answer: raw.trim(),\n      current_stage: \"FORMAT\",\n      task_bank: \"\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    answer: parsed.answer ?? \"\",\n    current_stage: parsed.current_stage ?? \"FORMAT\",\n    task_bank: parsed.task_bank ?? \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        272
      ],
      "id": "42828cfb-ec12-4f9b-b5eb-e4caa96f376d",
      "name": "Parse FORMAT output1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cuid",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        448
      ],
      "id": "c5a27744-c896-489f-8542-0263d97367ec",
      "name": "Читаем данные пользователя1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Парсим tasks_history из Google Sheets\nconst row = $input.item.json;\nlet tasks = [];\ntry {\n  tasks = JSON.parse(row.tasks_history || '[]');\n} catch(e) {\n  tasks = [];\n}\n\n// Если история пустая — создаём первый слот на основе текущих полей\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\n\n// Активный слот — последний в массиве\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Список уже использованных банков (для ROUTING агента)\nconst completedBanks = tasks\n  .filter((t, i) => i < activeIdx || t.stage === 'DONE')\n  .map(t => t.task_bank)\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    // Все оригинальные поля пользователя\n    ...row,\n    // Активный слот разворачиваем в плоские поля\n    current_stage: active.stage,\n    task_bank: active.task_bank,\n    delivery_datetime: active.delivery_datetime,\n    purchase_screenshot_received: active.purchase_screenshot_received,\n    report_link_sent: active.report_link_sent,\n    report_done_user_confirm: active.report_done_user_confirm,\n    final_payout_requested_to_admin: active.final_payout_requested_to_admin,\n    // Служебные поля для нод обновления\n    _tasks: JSON.stringify(tasks),\n    _active_idx: activeIdx,\n    _completed_banks: completedBanks.join(',')\n  }\n}];\n"
      },
      "id": "fb301d90-fb95-42e9-b6f2-656816868d4d",
      "name": "Разобрать tasks_history",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"FORMAT\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "9b1fc4e3-8db8-4721-ba09-3d55ead6798d",
      "name": "Подготовить обновление FORMAT (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "beb140f1-3e4c-4fc3-a6ae-fbc02fea5d07",
      "name": "Записать → FORMAT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = $('Parse FORMAT output1').item.json.current_stage;\n  active['task_bank'] = $('Parse FORMAT output1').item.json.task_bank;\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "23552f9e-8f7e-404b-aabb-b7da65847e13",
      "name": "Подготовить обновление после FORMAT (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a555c8fe-e15e-4c24-aee6-fb5ddf70ef63",
      "name": "Записать stage после FORMAT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = $('Parse FORMAT output').item.json.current_stage;\n  active['task_bank'] = $('Parse FORMAT output').item.json.task_bank;\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "f6cec637-68ac-4a4b-b5bb-e24e131528d4",
      "name": "Подготовить обновление ROUTING (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        496
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d4068cbd-a3cc-47ab-8119-1ac0e1c7e337",
      "name": "Записать stage ROUTING",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"WAIT_DELIVERY\";\n  active['task_bank'] = $json.task_bank;\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "9046bea2-cb08-4465-94db-c3d99e480273",
      "name": "Подготовить обновление LINK_SENT (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        448
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dfda827d-7eeb-46bb-a1b1-5b5bfe3227e2",
      "name": "Записать → LINK_SENT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"WAIT_CARD\";\n  active['delivery_datetime'] = $('Parse WAIT_DELIVERY output').item.json.delivery_datetime;\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "1b148b1e-09b7-4a7c-ba32-7075f87cb7fa",
      "name": "Подготовить обновление WAIT_CARD (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        832
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cc4aec94-1c9d-4720-834f-060980ad0ef4",
      "name": "Записать → WAIT_CARD",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"WAIT_PURCHASE_PROOF\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "81b2a5ed-3ac6-47f4-8758-faa338e1f9df",
      "name": "Подготовить обновление WAIT_PURCHASE_PROOF (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f1368ede-fdc2-4426-924f-b1b365974f21",
      "name": "Записать → WAIT_PURCHASE_PROOF",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        1136
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"WAIT_REPORT_DONE\";\n  active['purchase_screenshot_received'] = \"yes\";\n  active['report_link_sent'] = \"yes\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "24a1839f-23d1-46f7-8f83-667731e9ab67",
      "name": "Подготовить обновление WAIT_REPORT_DONE (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1552
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "184bd508-77b1-4d71-a0b3-e6be27cca95a",
      "name": "Записать → WAIT_REPORT_DONE",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        1552
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"WAIT_REPORT_DONE\";\n  active['purchase_screenshot_received'] = \"yes\";\n  active['report_link_sent'] = \"yes\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "859f8464-6fd0-4874-9405-dd290436cf94",
      "name": "Подготовить обновление WAIT_REPORT_DONE (текст) (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6346886f-0f81-4cfc-b608-8db73f1c64cb",
      "name": "Записать → WAIT_REPORT_DONE (текст)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        1920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"PAYOUT_REQUESTED\";\n  active['report_done_user_confirm'] = \"yes\";\n  active['final_payout_requested_to_admin'] = \"500\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "63ffb6ff-0b3c-4ab3-a5a4-239113a9dac4",
      "name": "Подготовить обновление PAYOUT_REQUESTED (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        2384
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c1abb61c-7ef7-4395-9f1f-ec4a02cfa7ba",
      "name": "Записать → PAYOUT_REQUESTED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        2384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"DONE\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "b52402f1-6134-402f-9501-0fa50a504dff",
      "name": "Подготовить обновление DONE (выплата) (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        2992
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "abe6b5cb-5712-4785-917c-76ca4ae02c33",
      "name": "Записать → DONE (выплата)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2496,
        2992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"DONE\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "3fecc52b-5878-4f57-8d60-af0b73049136",
      "name": "Подготовить обновление DONE (уведомление) (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        3392
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9b933da3-3fb7-4355-8986-7951c50d1cc5",
      "name": "Записать → DONE (уведомление)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        3392
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\nif (tasks.length === 0) {\n  tasks = [{\n    task_bank: row.task_bank || '',\n    stage: row.current_stage || 'START',\n    delivery_datetime: row.delivery_datetime || '',\n    purchase_screenshot_received: row.purchase_screenshot_received || '',\n    report_link_sent: row.report_link_sent || '',\n    report_done_user_confirm: row.report_done_user_confirm || '',\n    final_payout_requested_to_admin: row.final_payout_requested_to_admin || ''\n  }];\n}\nconst activeIdx = tasks.length - 1;\nconst active = tasks[activeIdx];\n\n// Обновляем поля активного слота\n  active['stage'] = \"HANDOFF\";\n\ntasks[activeIdx] = active;\n\n// Считаем completed_banks для читаемого поля\nconst completedBanks = tasks.filter(t => t.stage === 'DONE').map(t => t.task_bank).filter(Boolean).join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: active.stage,\n  task_bank: active.task_bank,\n  completed_banks: completedBanks\n}}];"
      },
      "id": "c9c95c72-8b90-4f03-a315-4ca102a0d965",
      "name": "Подготовить обновление HANDOFF (prepare)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        3680
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "={{ $json.current_stage }}",
            "task_bank": "={{ $json.task_bank }}",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "effaac52-2102-4277-9dbe-5ec6067f9e80",
      "name": "Записать → HANDOFF",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        3680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "wants-next-task-check",
              "leftValue": "={{ $('Parse DONE output').item.json.wants_next_task }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "199519cb-8812-4281-a146-9307ba424cb6",
      "name": "Хочет следующую карту?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        3440
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Читаем текущую историю\nconst row = $('Читаем данные пользователя').item.json;\nlet tasks = [];\ntry { tasks = JSON.parse(row.tasks_history || '[]'); } catch(e) { tasks = []; }\n\n// Помечаем текущий активный слот как DONE (на случай если ещё не помечен)\nif (tasks.length > 0) {\n  tasks[tasks.length - 1].stage = 'DONE';\n}\n\n// Добавляем новый пустой слот\ntasks.push({\n  task_bank: '',\n  stage: 'ROUTING',\n  delivery_datetime: '',\n  purchase_screenshot_received: '',\n  report_link_sent: '',\n  report_done_user_confirm: '',\n  final_payout_requested_to_admin: ''\n});\n\nconst completedBanks = tasks\n  .filter(t => t.stage === 'DONE')\n  .map(t => t.task_bank)\n  .filter(Boolean)\n  .join(', ');\n\nreturn [{json: {\n  cuid: $('Telegram Trigger').item.json.message.from.id,\n  tasks_history: JSON.stringify(tasks),\n  current_stage: 'ROUTING',\n  task_bank: '',\n  completed_banks: completedBanks\n}}];"
      },
      "id": "e7a7b273-f78e-4d6a-942e-61cce054bd29",
      "name": "Создать следующий слот",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        3424
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $json.cuid }}",
            "tasks_history": "={{ $json.tasks_history }}",
            "current_stage": "ROUTING",
            "task_bank": "",
            "completed_banks": "={{ $json.completed_banks }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tasks_history",
              "displayName": "tasks_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_banks",
              "displayName": "completed_banks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "eb0ed546-eea2-4e32-8a86-ef421f650387",
      "name": "Записать → следующий слот ROUTING",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        3424
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ссылку (SEND_LINK)": {
      "main": [
        [
          {
            "node": "Читаем данные пользователя1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить ссылку банка": {
      "main": [
        [
          {
            "node": "Отправить ссылку (SEND_LINK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ ROUTING": {
      "main": [
        [
          {
            "node": "Подготовить обновление ROUTING (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - ROUTING": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - ROUTING": {
      "main": [
        [
          {
            "node": "Parse FORMAT output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ FORMAT": {
      "main": [
        [
          {
            "node": "Подготовить обновление после FORMAT (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - FORMAT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - FORMAT": {
      "main": [
        [
          {
            "node": "Parse FORMAT output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить приветствие (START)": {
      "main": [
        [
          {
            "node": "Подготовить обновление FORMAT (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Router": {
      "main": [
        [
          {
            "node": "Отправить приветствие (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Есть фото (WAIT_PURCHASE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent WAIT_REPORT_DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение: оплата произведена",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - PAYOUT_REQUESTED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем данные пользователя": {
      "main": [
        [
          {
            "node": "Разобрать tasks_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Читаем данные пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Читаем данные пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FORMAT output": {
      "main": [
        [
          {
            "node": "Отправить ответ ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверить stage ROUTING": {
      "main": [
        [
          {
            "node": "Определить ссылку банка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - SEND_LINK": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WAIT_DELIVERY": {
      "main": [
        [
          {
            "node": "Parse WAIT_DELIVERY output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_DELIVERY output": {
      "main": [
        [
          {
            "node": "Отправить ответ WAIT_DELIVERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ WAIT_DELIVERY": {
      "main": [
        [
          {
            "node": "Дата получена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дата получена?": {
      "main": [
        [
          {
            "node": "Подготовить обновление WAIT_CARD (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:00 МСК каждый день": {
      "main": [
        [
          {
            "node": "Читаем таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем таблицу": {
      "main": [
        [
          {
            "node": "Фильтр: доставка сегодня",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтр: доставка сегодня": {
      "main": [
        [
          {
            "node": "Есть доставки сегодня?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть доставки сегодня?": {
      "main": [
        [],
        [
          {
            "node": "Напоминание пользователю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WAIT_CARD": {
      "main": [
        [
          {
            "node": "Parse WAIT_CARD output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_CARD output": {
      "main": [
        [
          {
            "node": "Карта получена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Карта получена?": {
      "main": [
        [
          {
            "node": "Определить компенсацию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить ответ WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить компенсацию": {
      "main": [
        [
          {
            "node": "Сообщение о покупке (WAIT_CARD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение о покупке (WAIT_CARD)": {
      "main": [
        [
          {
            "node": "Уведомить админа (WAIT_CARD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить админа (WAIT_CARD)": {
      "main": [
        [
          {
            "node": "Подготовить обновление WAIT_PURCHASE_PROOF (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_PURCHASE_PROOF",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - WAIT_CARD1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - CARD_RECEIVED": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_PURCHASE_PROOF",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WAIT_PURCHASE_PROOF": {
      "main": [
        [
          {
            "node": "Parse WAIT_PURCHASE_PROOF (текст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть фото (WAIT_PURCHASE)": {
      "main": [
        [
          {
            "node": "Get File Path (Purchase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_PURCHASE_PROOF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path (Purchase)": {
      "main": [
        [
          {
            "node": "Download File (Purchase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File (Purchase)": {
      "main": [
        [
          {
            "node": "Convert to Base64 (Purchase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Base64 (Purchase)": {
      "main": [
        [
          {
            "node": "OpenAI Vision (Purchase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision (Purchase)": {
      "main": [
        [
          {
            "node": "Parse Vision (Purchase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vision (Purchase)": {
      "main": [
        [
          {
            "node": "Чек валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чек валиден?": {
      "main": [
        [
          {
            "node": "Определить ссылку отчёта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: чек невалиден",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить ссылку отчёта": {
      "main": [
        [
          {
            "node": "Отправить ссылку отчёта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ссылку отчёта": {
      "main": [
        [
          {
            "node": "Уведомить админа (чек получен)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить админа (чек получен)": {
      "main": [
        [
          {
            "node": "Подготовить обновление WAIT_REPORT_DONE (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent WAIT_REPORT_DONE": {
      "main": [
        [
          {
            "node": "Parse WAIT_REPORT_DONE output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI WAIT_REPORT_DONE": {
      "ai_languageModel": [
        [
          {
            "node": "Agent WAIT_REPORT_DONE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory WAIT_REPORT_DONE": {
      "ai_memory": [
        [
          {
            "node": "Agent WAIT_REPORT_DONE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_PURCHASE_PROOF (текст)": {
      "main": [
        [
          {
            "node": "Покупка подтверждена? (текст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Покупка подтверждена? (текст)": {
      "main": [
        [
          {
            "node": "Отправить ссылку отчёта (текст)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить ответ (WAIT_PURCHASE текст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ссылку отчёта (текст)": {
      "main": [
        [
          {
            "node": "Уведомить админа (текст покупки)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить админа (текст покупки)": {
      "main": [
        [
          {
            "node": "Подготовить обновление WAIT_REPORT_DONE (текст) (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_REPORT_DONE output": {
      "main": [
        [
          {
            "node": "Отправить ответ WAIT_REPORT_DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ WAIT_REPORT_DONE": {
      "main": [
        [
          {
            "node": "Уведомить админа (WAIT_REPORT_DONE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить админа (WAIT_REPORT_DONE)": {
      "main": [
        [
          {
            "node": "Подготовить обновление PAYOUT_REQUESTED (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - PAYOUT_REQUESTED": {
      "main": [
        [
          {
            "node": "Parse PAYOUT_REQUESTED output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - PAYOUT_REQUESTED": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - PAYOUT_REQUESTED",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory - PAYOUT_REQUESTED": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - PAYOUT_REQUESTED",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse PAYOUT_REQUESTED output": {
      "main": [
        [
          {
            "node": "Отправить ответ PAYOUT_REQUESTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Каждый час: проверка выплат": {
      "main": [
        [
          {
            "node": "Читаем таблицу (выплаты)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем таблицу (выплаты)": {
      "main": [
        [
          {
            "node": "Фильтр: выплата подтверждена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтр: выплата подтверждена": {
      "main": [
        [
          {
            "node": "Есть готовые выплаты?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть готовые выплаты?": {
      "main": [
        [],
        [
          {
            "node": "Сообщение юзеру (выплата готова)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение юзеру (выплата готова)": {
      "main": [
        [
          {
            "node": "Подготовить обновление DONE (выплата) (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение: оплата произведена": {
      "main": [
        [
          {
            "node": "Подготовить обновление DONE (уведомление) (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - DONE": {
      "main": [
        [
          {
            "node": "Parse DONE output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - DONE": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - DONE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory - DONE": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - DONE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse DONE output": {
      "main": [
        [
          {
            "node": "Отправить ответ DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ DONE": {
      "main": [
        [
          {
            "node": "Проблема с выплатой?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проблема с выплатой?": {
      "main": [
        [
          {
            "node": "Уведомить админа (проблема с выплатой)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Хочет следующую карту?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить админа (проблема с выплатой)": {
      "main": [
        [
          {
            "node": "Подготовить обновление HANDOFF (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FORMAT output1": {
      "main": [
        [
          {
            "node": "Отправить ответ FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем данные пользователя1": {
      "main": [
        [
          {
            "node": "Подготовить обновление LINK_SENT (prepare)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разобрать tasks_history": {
      "main": [
        [
          {
            "node": "Stage Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление FORMAT (prepare)": {
      "main": [
        [
          {
            "node": "Записать → FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление после FORMAT (prepare)": {
      "main": [
        [
          {
            "node": "Записать stage после FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление ROUTING (prepare)": {
      "main": [
        [
          {
            "node": "Записать stage ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записать stage ROUTING": {
      "main": [
        [
          {
            "node": "Проверить stage ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление LINK_SENT (prepare)": {
      "main": [
        [
          {
            "node": "Записать → LINK_SENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записать → LINK_SENT": {
      "main": [
        [
          {
            "node": "Уведомить админа (SEND_LINK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление WAIT_CARD (prepare)": {
      "main": [
        [
          {
            "node": "Записать → WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записать → WAIT_CARD": {
      "main": [
        [
          {
            "node": "Уведомить админа (WAIT_DELIVERY)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление WAIT_PURCHASE_PROOF (prepare)": {
      "main": [
        [
          {
            "node": "Записать → WAIT_PURCHASE_PROOF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление WAIT_REPORT_DONE (prepare)": {
      "main": [
        [
          {
            "node": "Записать → WAIT_REPORT_DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление WAIT_REPORT_DONE (текст) (prepare)": {
      "main": [
        [
          {
            "node": "Записать → WAIT_REPORT_DONE (текст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление PAYOUT_REQUESTED (prepare)": {
      "main": [
        [
          {
            "node": "Записать → PAYOUT_REQUESTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление DONE (выплата) (prepare)": {
      "main": [
        [
          {
            "node": "Записать → DONE (выплата)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление DONE (уведомление) (prepare)": {
      "main": [
        [
          {
            "node": "Записать → DONE (уведомление)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить обновление HANDOFF (prepare)": {
      "main": [
        [
          {
            "node": "Записать → HANDOFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Хочет следующую карту?": {
      "main": [
        [
          {
            "node": "Создать следующий слот",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создать следующий слот": {
      "main": [
        [
          {
            "node": "Записать → следующий слот ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c722e208-9c65-4d40-aa10-ef10f8c63de9",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-07T15:16:10.894Z",
      "createdAt": "2026-03-07T15:16:10.894Z",
      "role": "workflow:owner",
      "workflowId": "N8LCO15gynQn0PmT",
      "projectId": "BfEgmNRV6qqyBW3u",
      "project": {
        "updatedAt": "2026-01-08T15:24:28.230Z",
        "createdAt": "2026-01-08T15:24:04.032Z",
        "id": "BfEgmNRV6qqyBW3u",
        "name": "Admin Admin <maxim.eremeev03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
        "projectRelations": [
          {
            "updatedAt": "2026-01-08T15:24:04.032Z",
            "createdAt": "2026-01-08T15:24:04.032Z",
            "userId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
            "projectId": "BfEgmNRV6qqyBW3u",
            "user": {
              "updatedAt": "2026-03-08T15:32:45.336Z",
              "createdAt": "2026-01-08T15:24:03.610Z",
              "id": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
              "email": "maxim.eremeev03@gmail.com",
              "firstName": "Admin",
              "lastName": "Admin",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "W1OITZJdAGvvz0SB",
                "userActivatedAt": 1768331805354,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770323013086
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}