workflows/S0sbBcfyPLR5CWQ4_My_workflow_21.json
{
  "updatedAt": "2026-02-25T21:27:42.531Z",
  "createdAt": "2026-02-25T20:10:50.985Z",
  "id": "S0sbBcfyPLR5CWQ4",
  "name": "My workflow 21",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2240,
        144
      ],
      "id": "40e391e5-d5e7-4404-8bef-c03c1e4a9d32",
      "name": "Telegram Trigger",
      "webhookId": "5baadddf-0ac8-46cb-84ce-eba1306b716d",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1728,
        288
      ],
      "id": "9b2f14ac-69b6-4c36-98ab-e22a9781a085",
      "name": "Get a file",
      "webhookId": "2d19065f-61e6-41d9-9af1-cae1770705a4",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "RU",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1504,
        288
      ],
      "id": "2dff0c41-ad9b-4678-82e1-d0ca01fae408",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edit-text",
              "name": "text",
              "value": "={{ $json.text || $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        128
      ],
      "id": "2c248319-c7e1-4e3a-ab18-807eaac8bde7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cuid",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1168,
        128
      ],
      "id": "7cc4cab6-111c-4293-9a60-466491d3295a",
      "name": "Читаем данные пользователя",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prep-query",
              "name": "query",
              "value": "={{ $('Edit Fields').item.json.text }}",
              "type": "string"
            },
            {
              "id": "prep-cuid",
              "name": "cuid",
              "value": "={{ $json.cuid }}",
              "type": "string"
            },
            {
              "id": "prep-name",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "prep-age",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "string"
            },
            {
              "id": "prep-phone",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "prep-username",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "prep-stage",
              "name": "current_stage",
              "value": "={{ $json.current_stage || 'START' }}",
              "type": "string"
            },
            {
              "id": "prep-task",
              "name": "task_bank",
              "value": "={{ $json.task_bank || '' }}",
              "type": "string"
            },
            {
              "id": "prep-history",
              "name": "history_of_messages",
              "value": "={{ $json.history_of_messages || '' }}",
              "type": "string"
            },
            {
              "id": "prep-link-vtb-apply",
              "name": "link_vtb_apply",
              "value": "={{ $json.link_vtb_apply || '{link_vtb_apply}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-vtb-report",
              "name": "link_vtb_report",
              "value": "={{ $json.link_vtb_report || '{link_vtb_report}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-gpb-apply",
              "name": "link_gpb_apply",
              "value": "={{ $json.link_gpb_apply || '{link_gpb_apply}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-gpb-report",
              "name": "link_gpb_report",
              "value": "={{ $json.link_gpb_report || '{link_gpb_report}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-otp-apply",
              "name": "link_otp_apply",
              "value": "={{ $json.link_otp_apply || '{link_otp_apply}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-otp-report",
              "name": "link_otp_report",
              "value": "={{ $json.link_otp_report || '{link_otp_report}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-alfa-apply",
              "name": "link_alfa_apply",
              "value": "={{ $json.link_alfa_apply || '{link_alfa_apply}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-alfa-report",
              "name": "link_alfa_report",
              "value": "={{ $json.link_alfa_report || '{link_alfa_report}' }}",
              "type": "string"
            },
            {
              "id": "prep-link-task2",
              "name": "link_task2_apply",
              "value": "={{ $json.link_task2_apply || '{link_task2_apply}' }}",
              "type": "string"
            },
            {
              "id": "prep-admin-chat",
              "name": "admin_chat_id",
              "value": "=454918257",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        128
      ],
      "id": "45799ae4-5d7f-4b1f-ad14-5841c2fc2327",
      "name": "Подготовка контекста"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Ты — Николай, ИИ-обработчик в проекте «проверка сервисов».\nТвоя задача: вести переписку с тестировщиком по строгой воронке (state machine), фиксировать этапы и формировать уведомления администратору.\n\n========================\nКОНТЕКСТ ПОЛЬЗОВАТЕЛЯ (данные уже получены от системы):\n- name: {{ $json.name }}\n- age: {{ $json.age }}\n- phone: {{ $json.phone }}\n- cuid: {{ $json.cuid }}\n- username: {{ $json.username }}\n- current_stage: {{ $json.current_stage }}\n- task_bank: {{ $json.task_bank }}\n- history_of_messages: {{ $json.history_of_messages }}\n\nСсылки:\n- link_vtb_apply: https://www.vtb.ru/\n- link_vtb_report: https://www.vtb.ru/proverka\n- link_gpb_apply: https://www.gazprombank.ru/\n- link_gpb_report: https://www.gazprombank.ru/proverka\n- link_otp_apply: https://www.otpbank.ru/\n- link_otp_report: https://www.otpbank.ru/proverka\n- link_alfa_apply: https://alfabank.ru/\n- link_alfa_report: https://alfabank.ru/proverka\n- link_task2_apply: {{ $json.link_task2_apply }}\n- admin_chat_id: {{ $json.admin_chat_id }}\n\nНастройки выплат:\n- comp_vtb = 500, comp_other = 100, final_payout = 500\n- min_purchase_vtb = 500, min_purchase_other = 100\n\n========================\nСТИЛЬ ОБЩЕНИЯ:\n- Пиши коротко, 1–6 строк.\n- Один вопрос за сообщение.\n- Умеренно эмодзи.\n- Всегда фиксируй следующий шаг: «Сделай X → напиши Y».\n- НЕ запрашивай телефон/возраст — данные уже есть.\n\n========================\nФОРМАТ ТВОЕГО ОТВЕТА (строго JSON, без markdown-обёртки):\n{\n  \"USER_MESSAGE\": \"текст пользователю\",\n  \"ADMIN_MESSAGE\": \"текст для администратора или пустая строка\",\n  \"SHEET_UPDATE\": {\n    \"current_stage\": \"НОВЫЙ_ЭТАП\",\n    \"любое_поле\": \"значение\"\n  },\n  \"NEXT_STAGE\": \"СЛЕДУЮЩИЙ_ЭТАП\"\n}\n\n========================\nВОРОНКА (state machine):\n\nТекущий этап: {{ $json.current_stage }}\nПоследнее сообщение пользователя: {{ $json.query }}\n\n--- STAGE = START ---\nUSER_MESSAGE: «Привет! Я Николай, главный менеджер по работе с тестировщиками. Есть вопросы после прохождения бота или можем начать? 🙂»\nNEXT_STAGE = FORMAT\n\n--- STAGE = FORMAT ---\nUSER_MESSAGE: «Отлично, тогда можем перейти к первой проверке.\n— Оплата сдельная, выплаты после выполнения и отчёта.\n— По времени обычно 20–60 минут (зависит от проверки).\n— Никаких переводов нам не нужно.\nПодходит такой формат?»\nЕсли «да» → NEXT_STAGE = ROUTING\nЕсли сомнения → объясни безопасность кратко → снова спроси «Подходит?»\n\n--- STAGE = ROUTING ---\nЦель: выбрать банк, где пользователь НЕ является клиентом.\n1) Спроси: «Подскажи, ты раньше был(а) клиентом ВТБ?»\n   - Если НЕТ → task_bank = VTB\n   - Если ДА:\n     - если age < 18 → task_bank = ALFA\n     - если age >= 18 → спроси про Т-Банк:\n       «Понял, тогда такое задание для Вас не подходит. Аналогичное задание на тех же условиях, но уже на Т-Банк было бы Вам интересно?»\n       - Если НЕТ → task_bank = GPB\n       - Если ДА → task_bank = TBANK\nПосле выбора:\nADMIN_MESSAGE: «[{cuid}] {name} @{username} → выбран стартовый банк: {task_bank}. Возраст: {age}.»\nSHEET_UPDATE: task_bank=..., current_stage=TASK_CHOSEN\nNEXT_STAGE = SEND_LINK\n\n--- STAGE = SEND_LINK ---\nОтправь ссылку по task_bank:\n- VTB → link_vtb_apply\n- GPB → link_gpb_apply\n- OTP → link_otp_apply\n- ALFA → link_alfa_apply\n- TBANK → link_vtb_apply (или отдельная ссылка если будет)\n\nUSER_MESSAGE: «Супер. Тогда шаг 1 — оставь заявку по ссылке:\\n[ССЫЛКА]\\nПосле оформления выбери дату/время доставки (или встречи) и пришли мне — дату и интервал времени (можно текстом).»\nADMIN_MESSAGE: «[{cuid}] Ссылка на оформление отправлена ({task_bank}). Ждём дату/время доставки.»\nSHEET_UPDATE: current_stage=LINK_SENT\nNEXT_STAGE = WAIT_DELIVERY\n\n--- STAGE = WAIT_DELIVERY ---\nТриггер: пользователь прислал дату/время\nUSER_MESSAGE: «Принято ✅ Как закончится доставка/встреча и карта будет у тебя — напиши «Карта на руках».»\nADMIN_MESSAGE: «[{cuid}] Получили дату/время доставки: [дата] ({task_bank}).»\nSHEET_UPDATE: delivery_datetime=[дата], current_stage=DELIVERY_SET\nNEXT_STAGE = WAIT_CARD\n\n--- STAGE = WAIT_CARD ---\nТриггер: пользователь написал что получил карту\nЕсли task_bank=VTB: comp_amount=500, min_purchase=500\nИначе: comp_amount=100, min_purchase=100\nUSER_MESSAGE: «Отлично! Теперь нужно сделать покупку одной транзакцией от {min_purchase}₽ (на любые личные нужды) и прислать скрин операции. Данные можно замазать — важны сумма/дата/статус.»\nADMIN_MESSAGE: «[{cuid}] Карта получена ({task_bank}). Нужна компенсация на покупку: {comp_amount}₽ (перевод по телефону из таблицы).»\nSHEET_UPDATE: current_stage=CARD_RECEIVED, compensation_requested_to_admin=[comp_amount]\nNEXT_STAGE = WAIT_PURCHASE_PROOF\n\n--- STAGE = WAIT_PURCHASE_PROOF ---\nТриггер: пользователь прислал скрин покупки\nОтправь ссылку на отчёт по task_bank:\n- VTB → link_vtb_report\n- GPB → link_gpb_report\n- OTP → link_otp_report\n- ALFA → link_alfa_report\nUSER_MESSAGE: «Супер, вижу 👍 Теперь заполни, пожалуйста, отчёт по проверке:\\n[ССЫЛКА_НА_ОТЧЁТ]\\nЕсли что-то непонятно в форме — напиши.»\nADMIN_MESSAGE: «[{cuid}] Получен скрин покупки ({task_bank}). Отправлена ссылка на отчёт.»\nSHEET_UPDATE: purchase_screenshot_received=yes, report_link_sent=yes, current_stage=REPORT_SENT\nNEXT_STAGE = WAIT_REPORT_DONE\n\n--- STAGE = WAIT_REPORT_DONE ---\nТриггер: пользователь написал «заполнил(а) отчёт»\nUSER_MESSAGE: «Отлично, спасибо! Передаю на проверку. Как только подтвердят — сделаем финальную выплату 500₽. Напиши, пожалуйста, когда придёт 🙂»\nADMIN_MESSAGE: «[{cuid}] Пользователь подтвердил отчёт заполнен ({task_bank}). Нужна финальная выплата: 500₽.»\nSHEET_UPDATE: report_done_user_confirm=yes, current_stage=PAYOUT_REQUESTED, final_payout_requested_to_admin=500\nNEXT_STAGE = WAIT_PAYOUT_CONFIRM\n\n--- STAGE = WAIT_PAYOUT_CONFIRM ---\nТриггер: пользователь написал «пришло»\nUSER_MESSAGE: «Супер! 🙌 Можешь коротко написать отзыв (1–2 предложения), что всё выплатили и проверка была несложной? Прямо сюда в чат.»\nADMIN_MESSAGE: «[{cuid}] Выплата подтверждена пользователем ({task_bank}). Запросили отзыв.»\nSHEET_UPDATE: current_stage=PAYOUT_CONFIRMED\nNEXT_STAGE = WAIT_REVIEW\n\n--- STAGE = WAIT_REVIEW ---\nТриггер: пользователь прислал отзыв\nUSER_MESSAGE: «Спасибо большое! Есть следующая проверка — 2 этап: юридический сервис Альфа банка. Тут от тебя нужно только оставить заявку и я отвечу на вопросы. Готов(а) перейти?»\nADMIN_MESSAGE: «[{cuid}] Отзыв получен. Предложили 2 проверку.»\nSHEET_UPDATE: review_received=yes, current_stage=REVIEW_RECEIVED\nNEXT_STAGE = TASK2_OFFER\n\n--- STAGE = TASK2_OFFER ---\nЕсли «да»:\nUSER_MESSAGE: «Отлично. Вот ссылка для заявки:\\n{link_task2_apply}\\nПосле того как оставишь заявку — напиши «Заявка оставлена».»\nADMIN_MESSAGE: «[{cuid}] Пользователь согласен на 2 проверку. Отправлена ссылка на заявку.»\nSHEET_UPDATE: current_stage=TASK2_LINK_SENT\nNEXT_STAGE = TASK2_WAIT_APPLY\n\nЕсли «нет/позже»:\nUSER_MESSAGE: «Ок 🙂 Тогда как будешь готов(а) — просто напиши «Хочу 2 проверку», и продолжим.»\nNEXT_STAGE = HOLD\n\n--- STAGE = TASK2_WAIT_APPLY ---\nТриггер: «заявка оставлена»\nUSER_MESSAGE: «Принято ✅ Если появятся вопросы — пиши сюда, помогу. Я сейчас передаю тебя администратору, он продолжит сопровождение.»\nADMIN_MESSAGE: «[{cuid}] 2 проверка: заявка оставлена. Передаю тестировщика администратору. Данные в таблице.»\nSHEET_UPDATE: handoff_to_admin=yes, current_stage=HANDOFF_ADMIN\nNEXT_STAGE = DONE\n\n--- STAGE = HOLD / DONE ---\nКороткие ответы по запросу пользователя.\nЕсли пишет «Хочу 2 проверку» → переходи к TASK2_OFFER.\n\n========================\nОБРАБОТКА ЧАСТЫХ СИТУАЦИЙ:\n- «мне не звонят/долго»: «Ок, это тоже часть оценки сервиса. Как только назначат дату/время — скинь мне, пожалуйста.»\n- «куда перевод/какие данные»: «Ничего дополнительно не нужно — данные для выплат уже есть из бота.»\n- «платные услуги»: «По проверке платных услуг не требуется. Если предлагают что-то платное — можешь отказаться.»\n\nВАЖНО: Отвечай ТОЛЬКО валидным JSON без дополнительного текста."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        128
      ],
      "id": "1c270c7d-446a-4ca5-b6ba-05381c97d776",
      "name": "AI Agent Николай",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -752,
        352
      ],
      "id": "52e86b6d-8834-445f-b6dc-25c4885a4dec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        352
      ],
      "id": "3dbadfa5-083f-4378-a4d3-0aa803528202",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Парсим JSON-ответ агента\nconst raw = $input.first().json.output || '';\nlet parsed;\ntry {\n  // Убираем возможные markdown-обёртки\n  const clean = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  // Если не смогли распарсить — возвращаем raw как USER_MESSAGE\n  parsed = {\n    USER_MESSAGE: raw,\n    ADMIN_MESSAGE: '',\n    SHEET_UPDATE: {},\n    NEXT_STAGE: $('Подготовка контекста').item.json.current_stage\n  };\n}\n\nreturn [{\n  json: {\n    USER_MESSAGE: parsed.USER_MESSAGE || '',\n    ADMIN_MESSAGE: parsed.ADMIN_MESSAGE || '',\n    SHEET_UPDATE: parsed.SHEET_UPDATE || {},\n    NEXT_STAGE: parsed.NEXT_STAGE || 'START',\n    // Прокидываем нужные поля для следующих нод\n    cuid: $('Подготовка контекста').item.json.cuid,\n    admin_chat_id: $('Подготовка контекста').item.json.admin_chat_id,\n    telegram_chat_id: $('Telegram Trigger').item.json.message.chat.id,\n    user_message_text: $('Edit Fields').item.json.text,\n    old_history: $('Подготовка контекста').item.json.history_of_messages\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        96
      ],
      "id": "4812bf4d-1b69-4459-8e42-3e128b162e09",
      "name": "Парсим ответ агента"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.USER_MESSAGE }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0b6869d4-edf1-44e0-830e-501828af31af",
      "name": "Отправить пользователю",
      "webhookId": "c9354cac-5bc0-4f2e-b5f5-9ec93613ba10",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-admin-msg",
              "leftValue": "={{ $json.ADMIN_MESSAGE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ],
      "id": "bb414b45-ca42-4e3d-a528-269193820c49",
      "name": "Есть ли ADMIN_MESSAGE?"
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ $json.ADMIN_MESSAGE }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        192
      ],
      "id": "83372136-7a85-471f-8b31-5883cc86519b",
      "name": "Отправить администратору",
      "webhookId": "a913f4fe-6204-4879-9387-555b4d1fadb3",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Собираем объект для обновления Google Sheets\nconst sheetUpdate = $json.SHEET_UPDATE || {};\nconst oldHistory = $json.old_history || '';\nconst userMsg = $json.user_message_text || '';\nconst botMsg = $json.USER_MESSAGE || '';\n\n// Обновляем историю сообщений\nconst newHistory = oldHistory \n  ? `${oldHistory}\\n---\\nПользователь: ${userMsg}\\nНиколай: ${botMsg}`\n  : `Пользователь: ${userMsg}\\nНиколай: ${botMsg}`;\n\nreturn [{\n  json: {\n    cuid: $json.cuid,\n    last_time_ask: new Date().toISOString(),\n    history_of_messages: newHistory,\n    ...sheetUpdate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "b9a915d0-f5d2-4719-adc8-28cf3f9ea900",
      "name": "Подготовка данных для Sheets"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        400
      ],
      "id": "0406d647-73c2-4b30-931b-c0c034f84f98",
      "name": "Обновить Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "34181888-7b0d-4936-a829-53f76907077d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ea21faa-21c3-4f37-b2f3-8ba8add11ce2",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1968,
        144
      ],
      "id": "f658176a-e293-443f-beec-3c49208ed293",
      "name": "Switch"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Читаем данные пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем данные пользователя": {
      "main": [
        [
          {
            "node": "Подготовка контекста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка контекста": {
      "main": [
        [
          {
            "node": "AI Agent Николай",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Николай": {
      "main": [
        [
          {
            "node": "Парсим ответ агента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Николай",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Николай",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Парсим ответ агента": {
      "main": [
        [
          {
            "node": "Отправить пользователю",
            "type": "main",
            "index": 0
          },
          {
            "node": "Есть ли ADMIN_MESSAGE?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Подготовка данных для Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ли ADMIN_MESSAGE?": {
      "main": [
        [
          {
            "node": "Отправить администратору",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка данных для Sheets": {
      "main": [
        [
          {
            "node": "Обновить Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "16099e59-205f-4d0d-a2b0-ae4a85d2b710",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-25T20:10:50.985Z",
      "createdAt": "2026-02-25T20:10:50.985Z",
      "role": "workflow:owner",
      "workflowId": "S0sbBcfyPLR5CWQ4",
      "projectId": "BfEgmNRV6qqyBW3u",
      "project": {
        "updatedAt": "2026-01-08T15:24:28.230Z",
        "createdAt": "2026-01-08T15:24:04.032Z",
        "id": "BfEgmNRV6qqyBW3u",
        "name": "Admin Admin <maxim.eremeev03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
        "projectRelations": [
          {
            "updatedAt": "2026-01-08T15:24:04.032Z",
            "createdAt": "2026-01-08T15:24:04.032Z",
            "userId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
            "projectId": "BfEgmNRV6qqyBW3u",
            "user": {
              "updatedAt": "2026-03-08T15:32:45.336Z",
              "createdAt": "2026-01-08T15:24:03.610Z",
              "id": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
              "email": "maxim.eremeev03@gmail.com",
              "firstName": "Admin",
              "lastName": "Admin",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "W1OITZJdAGvvz0SB",
                "userActivatedAt": 1768331805354,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770323013086
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}