workflows/tbGqMUfhCF5Kw0a8_Тест_—_Локальная_LLM_(Ollama).json
{
  "updatedAt": "2026-03-01T15:31:20.007Z",
  "createdAt": "2026-03-01T15:31:20.007Z",
  "id": "tbGqMUfhCF5Kw0a8",
  "name": "Тест — Локальная LLM (Ollama)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open-beans-start.loca.lt/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "bypass-tunnel-reminder",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"qwen2.5:3b\", \"prompt\": \"\\u041e\\u0442\\u0432\\u0435\\u0442\\u044c \\u043d\\u0430 \\u0440\\u0443\\u0441\\u0441\\u043a\\u043e\\u043c. \\u041a\\u0430\\u043a\\u043e\\u0439 \\u0441\\u0435\\u0439\\u0447\\u0430\\u0441 \\u0433\\u043e\\u0434 \\u0438 \\u0447\\u0442\\u043e \\u0442\\u0430\\u043a\\u043e\\u0435 \\u0438\\u0441\\u043a\\u0443\\u0441\\u0441\\u0442\\u0432\\u0435\\u043d\\u043d\\u044b\\u0439 \\u0438\\u043d\\u0442\\u0435\\u043b\\u043b\\u0435\\u043a\\u0442? 2 \\u043f\\u0440\\u0435\\u0434\\u043b\\u043e\\u0436\\u0435\\u043d\\u0438\\u044f.\", \"stream\": false}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "id": "ollama-request",
      "name": "Ollama Generate"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nreturn [{json: {answer: resp.response, tokens: resp.eval_count, time_sec: (resp.total_duration / 1e9).toFixed(1)}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "id": "parse-response",
      "name": "Парсинг ответа"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Ollama Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Generate": {
      "main": [
        [
          {
            "node": "Парсинг ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "592f3ec6-eefc-4377-ad8c-5bfa7e8057bd",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-01T15:31:20.007Z",
      "createdAt": "2026-03-01T15:31:20.007Z",
      "role": "workflow:owner",
      "workflowId": "tbGqMUfhCF5Kw0a8",
      "projectId": "PInAUioNaxOJ4NoS",
      "project": {
        "updatedAt": "2026-02-05T20:29:17.832Z",
        "createdAt": "2026-02-05T20:28:31.627Z",
        "id": "PInAUioNaxOJ4NoS",
        "name": "Daniil Eremeev <eremeevdaniil137@mail.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6c6302e5-57bb-4489-affe-e0566560a18c",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T20:28:31.627Z",
            "createdAt": "2026-02-05T20:28:31.627Z",
            "userId": "6c6302e5-57bb-4489-affe-e0566560a18c",
            "projectId": "PInAUioNaxOJ4NoS",
            "user": {
              "updatedAt": "2026-03-08T06:35:13.555Z",
              "createdAt": "2026-02-05T20:28:31.627Z",
              "id": "6c6302e5-57bb-4489-affe-e0566560a18c",
              "email": "eremeevdaniil137@mail.ru",
              "firstName": "Daniil",
              "lastName": "Eremeev",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "9ZTFsqjRJ0hGYxM0",
                "userActivated": true,
                "userActivatedAt": 1770443072107,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772560365050
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}