workflows/tnXwMotKsyVso21n_Напоминание_в_день_доставки_(900_МСК).json
{
  "updatedAt": "2026-03-01T19:36:09.219Z",
  "createdAt": "2026-03-01T19:12:43.688Z",
  "id": "tnXwMotKsyVso21n",
  "name": "Напоминание в день доставки (9:00 МСК)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Получаем поле output от AI Agent\nconst raw = $input.item.json.output;\n\n// Парсим — это строка с JSON внутри\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    answer: parsed.answer,\n    current_stage: parsed.current_stage,\n    task_bank: parsed.task_bank ?? \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "id": "ea2a2033-33ad-451e-a8bc-d4f36780c299",
      "name": "Parse FORMAT output1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        672
      ],
      "id": "6997a6ca-7b88-4592-8872-812c95226daa",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        368
      ],
      "id": "0bf427ab-35e5-4cda-9b47-27805a81aa99",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Ссылка на оформление отправлена (' + $('Читаем данные пользователя').item.json.task_bank + '). Ждём дату/время доставки.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        480
      ],
      "id": "c1cacc7d-9a06-4c03-8e68-d98aba19108e",
      "name": "Уведомить админа (SEND_LINK)",
      "webhookId": "95243b71-57d6-4e4b-be16-52e3abfed02e",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "WAIT_DELIVERY",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        480
      ],
      "id": "582bb4ec-da43-47d1-8dd1-03718c42aff7",
      "name": "Обновить → LINK_SENT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Супер. Тогда шаг 1 — оставь заявку по ссылке: {{ $json.bank_link }}\n\nПосле оформления выбери дату/время доставки (или встречи) и пришли мне — дату и интервал времени (можно текстом).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        480
      ],
      "id": "4e9242f8-cee4-496d-89a4-63ddff7ba93e",
      "name": "Отправить ссылку (SEND_LINK)",
      "webhookId": "2ed9b8da-6cdb-404c-87c6-adad90e95115",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-link",
              "name": "bank_link",
              "value": "={{ ({'vtb_bank': 'https://www.vtb.ru/', 'Газпромбанк': 'https://www.gazprombank.ru/', 'ОТП Банк': 'https://www.otpbank.ru/', 'Альфа': 'https://alfabank.ru/', 'tbank_bank': 'https://www.tbank.ru/'})[$('Parse FORMAT output').item.json.task_bank] || 'ссылка не найдена' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        480
      ],
      "id": "74298fe0-24fe-48aa-8b9c-6685e52dc988",
      "name": "Определить ссылку банка"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "={{ $('Parse FORMAT output').item.json.current_stage }}",
            "task_bank": "={{ $('Parse FORMAT output').item.json.task_bank }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        496
      ],
      "id": "a5793585-b59e-4148-b78e-cb3b97fdeb6a",
      "name": "Обновить stage + task_bank (ROUTING)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        496
      ],
      "id": "26b250b7-3d27-454f-90a7-0526ea665bb8",
      "name": "Отправить ответ ROUTING",
      "webhookId": "336d0831-6459-49a9-85fc-4eb0acb6a41e",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        672
      ],
      "id": "77734698-0f64-439b-8135-839e16213818",
      "name": "OpenAI Chat Model - ROUTING",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Текущий этап: {{ $json.current_stage }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), ОДИН вопрос за сообщение.\n- Умеренно эмодзи.\n- НЕ называй сразу все банки — задавай вопросы строго по одному, по шагам ниже.\n- НЕ запрашивай данные — они уже есть.\n- НЕ упоминай, что ты ИИ.\n\n========================\nСТРОГАЯ ЛОГИКА ПОДБОРА БАНКА:\n\nСначала определи ветку по возрасту клиента:\n- Если возраст < 18 → иди по ВЕТКЕ ДО 18\n- Если возраст >= 18 → иди по ВЕТКЕ 18+\n\n━━━ ВЕТКА 18+ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nШАГ 1. Задай вопрос:\n«Ты уже являешься клиентом ВТБ — есть карта или счёт?»\n\n→ Клиент ответил НЕТ:\n   Предложи ВТБ: «Отлично! Тогда начнём с ВТБ — сейчас по нему хорошее вознаграждение 💳 Готов оформить?»\n   — Клиент согласился → SEND_LINK, task_bank = vtb_bank\n   — Клиент отказался от оформления → ШАГ 2\n\n→ Клиент ответил ДА → ШАГ 2\n\nШАГ 2. Задай вопрос:\n«А в Т-Банке карта есть?»\n\n→ Клиент ответил НЕТ:\n   Предложи Т-Банк: «Тогда предлагаю Т-Банк — быстрое оформление онлайн, хорошее вознаграждение 👍 Подходит?»\n   — Клиент согласился → SEND_LINK, task_bank = tbank_bank\n   — Клиент отказался от оформления → ШАГ 3\n\n→ Клиент ответил ДА → ШАГ 3\n\nШАГ 3. Задай вопрос:\n«Газпромбанком пользуешься?»\n\n→ Клиент ответил НЕТ:\n   Предложи Газпромбанк: «Отлично, тогда Газпромбанк — оформляется онлайн за пару минут 🙂 Готов?»\n   — Клиент согласился → SEND_LINK, task_bank = gpb_bank\n   — Клиент отказался от оформления → ШАГ 4\n\n→ Клиент ответил ДА → ШАГ 4\n\nШАГ 4. Задай вопрос:\n«В ОТП Банке карта есть?»\n\n→ Клиент ответил НЕТ:\n   Предложи ОТП Банк: «Тогда ОТП Банк — лёгкое оформление, хорошие условия 👌 Подходит?»\n   — Клиент согласился → SEND_LINK, task_bank = otp_bank\n   — Клиент отказался от оформления → ШАГ 5\n\n→ Клиент ответил ДА → ШАГ 5\n\nШАГ 5. Задай вопрос:\n«Альфа-Банком пользуешься?»\n\n→ Клиент ответил НЕТ:\n   Предложи Альфа: «Отлично! Тогда Альфа-Банк — один из лучших по нашей программе сейчас 💳 Оформим?»\n   — Клиент согласился → SEND_LINK, task_bank = alfa_bank\n   — Клиент отказался от оформления → ОТКАЗ\n\n→ Клиент ответил ДА → ОТКАЗ\n\n━━━ ВЕТКА ДО 18 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nШАГ МЛ-1. Задай вопрос:\n«Есть карта Альфа-Банка?»\n\n→ Клиент ответил НЕТ:\n   Предложи Альфа: «Отлично! Альфа-Банк выдаёт карты с 14 лет, всё оформляется онлайн 👌 Оформим?»\n   — Клиент согласился → SEND_LINK, task_bank = alfa_bank\n   — Клиент отказался от оформления → ОТКАЗ\n\n→ Клиент ответил ДА → ОТКАЗ\n\n━━━ ОТКАЗ (оба варианта) ━━━━━━━━━━━━━━━━━━━━━━━━\n\nЕсли клиент является клиентом всех банков или отказался от всех предложений:\n{\"answer\": \"К сожалению, все доступные банки в нашей программе у тебя уже есть. Если появятся новые варианты — обязательно напишем 🙂\", \"current_stage\": \"HOLD\", \"task_bank\": \"\"}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\nПока ведём диалог (вопрос или предложение):\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"ROUTING\", \"task_bank\": \"\"}\n\nКлиент согласился с банком:\n{\"answer\": \"Супер, фиксируем [БАНК]! Сейчас пришлю ссылку для оформления 👇\", \"current_stage\": \"SEND_LINK\", \"task_bank\": \"название банка\"}\n\nВсе банки заняты или отказ от всех:\n{\"answer\": \"К сожалению, все доступные банки в нашей программе у тебя уже есть. Если появятся новые варианты — обязательно напишем 🙂\", \"current_stage\": \"HOLD\", \"task_bank\": \"\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        496
      ],
      "id": "59bc1af1-28e5-40db-bad5-89cccbf6ac65",
      "name": "AI Agent - ROUTING"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "={{ $('Parse FORMAT output1').item.json.current_stage }}",
            "row_number": 0,
            "task_bank": "={{ $('Parse FORMAT output1').item.json.task_bank }}"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        208
      ],
      "id": "4bc0dd41-6dc1-4b8b-a7b2-4488b652133e",
      "name": "Обновить stage после FORMAT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        208
      ],
      "id": "5cb28be7-726e-492f-8488-7625b0850ce3",
      "name": "Отправить ответ FORMAT",
      "webhookId": "22ae28ca-8aa0-44e3-8cf0-daf4fdf54d3e",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        368
      ],
      "id": "fd6f59c9-ebc8-4c32-a961-1bcda8afc196",
      "name": "OpenAI Chat Model - FORMAT",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Текущий этап: {{ $json.current_stage }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\n\nПРАВИЛА:\n- Пиши коротко (1–6 строк), один вопрос/действие за сообщение.\n- Умеренно эмодзи. Указывай следующий шаг.\n- НЕ запрашивай данные — они уже есть.\n- НЕ упоминай, что ты ИИ.\n- Отвечай ТОЛЬКО текстом сообщения для пользователя — без JSON, без заголовков, без служебных меток.\n\n========================\n\nТВОЯ ЗАДАЧА:\n\nВАЖНО: тебе необходимо объяснить условия работы, объяснить за что клиент получает деньги и получить согласие.\n\nЕсли сомневается — объясни безопасность (1–2 предложения) и снова спроси «Подходит?».\nИ оставляй current_stage = FORMAT.\n\nЕсли отказывается — «Понял, без проблем. Если передумаешь — напиши, всегда рады 🙂»\nИ переводи current_stage = HOLD.\n\n\nПосле получения согласия, отправляй ему это сообщение:\n«Отлично, тогда можем перейти к первой проверке.\n— Оплата сдельная, выплаты после выполнения и отчёта.\n— По времени обычно 20–60 минут (зависит от проверки).\n— Никаких переводов нам не нужно — только твоё время.\nПодходит такой формат? 🙂»\nИ переводи current_stage в ROUTING.\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\nПока клиент не согласился:\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"FORMAT\"}\n\nЕсли клиент согласился:\n{\"answer\": \"Отлично, тогда можем перейти к первой проверке.\\n— Оплата сдельная, выплаты после выполнения и отчёта.\\n— По времени обычно 20–60 минут (зависит от проверки).\\n— Никаких переводов нам не нужно — только твоё время.\\nПодходит такой формат? 🙂\", \"current_stage\": \"ROUTING\"}\n\nЕсли клиент отказался:\n{\"answer\": \"Понял, без проблем. Если передумаешь — напиши, всегда рады 🙂\", \"current_stage\": \"HOLD\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        208
      ],
      "id": "b42e5c27-7e4e-4845-8a6f-aa53b9f3cd09",
      "name": "AI Agent - FORMAT"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "FORMAT"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "40522199-3e97-48ba-9cf9-b01733116641",
      "name": "Обновить → FORMAT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Привет! Я Николай, главный менеджер по работе с тестировщиками. Есть вопросы после прохождения бота или можем начать? 🙂",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0f48c2d8-fc53-485e-9cb0-cc64d28f4406",
      "name": "Отправить приветствие (START)",
      "webhookId": "7997b375-e745-43ce-b0a3-6439c8a628ad",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "START"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "FORMAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-format"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORMAT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "ROUTING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-routing"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ROUTING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_DELIVERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-wait-delivery"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_DELIVERY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "stage-empty"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEW_USER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c346da11-c8f9-4974-90c7-89adac0f6c6e",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_CARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_CARD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -432,
        256
      ],
      "id": "f61ac930-b828-46ac-a38c-2b8c744c2c91",
      "name": "Stage Router"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cuid",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        304
      ],
      "id": "ff864521-ef69-4aeb-a505-a9012f358e9a",
      "name": "Читаем данные пользователя",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edit-text",
              "name": "text",
              "value": "={{ $json.text || $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        304
      ],
      "id": "49e2cfe9-b31f-4f14-950b-db21c761faf7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "RU",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1216,
        464
      ],
      "id": "f76b418b-ed02-4978-8b60-00f583bcb621",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1408,
        464
      ],
      "id": "61d397de-a33a-4cc5-a1f1-9de67cdd9841",
      "name": "Get a file",
      "webhookId": "0cdf4b17-1f9c-42f5-8f66-ea729a6ba31c",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "text-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "voice-check",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1616,
        304
      ],
      "id": "91e29fbf-8159-47e6-b7fc-b485f7d82107",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1808,
        304
      ],
      "id": "332641fc-52de-4365-9369-70685018d000",
      "name": "Telegram Trigger",
      "webhookId": "2ffcd741-2d9a-4181-88ef-2b8bc72e6a3b",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем поле output от AI Agent\nconst raw = $input.item.json.output;\n\n// Парсим — это строка с JSON внутри\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    answer: parsed.answer,\n    current_stage: parsed.current_stage,\n    task_bank: parsed.task_bank ?? \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        496
      ],
      "id": "fd9f667d-7a2b-49f7-a66c-6169503b3e0c",
      "name": "Parse FORMAT output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse FORMAT output').item.json.current_stage }}",
                    "rightValue": "SEND_LINK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "routing-send-link"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEND_LINK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse FORMAT output').item.json.current_stage }}",
                    "rightValue": "HOLD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "routing-hold"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOLD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1040,
        496
      ],
      "id": "d15ec6d2-6750-4074-b110-b517045e148f",
      "name": "Проверить stage ROUTING"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        1056
      ],
      "id": "93fd2e25-2b9b-4883-83f5-bfb02725eb3a",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        1040
      ],
      "id": "cfb3ee29-b862-4176-bb82-aeaf823819d0",
      "name": "OpenAI Chat Model - SEND_LINK",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА:\n\nПользователь оформил карту и ожидает доставку или встречу с представителем банка.\nОн может задавать вопросы по оформлению или доставке — отвечай ему по делу, коротко и понятно.\n\n========================\nГЛАВНЫЙ ТРИГГЕР: пользователь назвал дату и/или время получения карты.\n\nПримеры фраз с датой/временем:\n«завтра в 14:00», «3 марта», «в пятницу после 18», «сегодня в 18:30», «на следующей неделе во вторник», «послезавтра с 10 до 12» и т.п.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nСЛУЧАЙ 1 — Пользователь НЕ называл дату (вопрос, уточнение, произвольный текст):\n→ Ответь по существу вопроса.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\nСЛУЧАЙ 2 — Пользователь назвал дату/время, и она НЕ в прошлом (дата >= текущей):\n→ Подтверди получение даты.\n→ {\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время строкой из сообщения\"}\n\nСЛУЧАЙ 3 — Пользователь назвал дату/время, но она В ПРОШЛОМ (дата < текущей):\n→ Не принимай эту дату. Уточни у пользователя.\n→ Пример ответа: «Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?»\n→ {\"answer\": \"Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\n========================\nВАЖНО ПРО ПРОВЕРКУ ДАТЫ:\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n- Текущая дата/время указана выше в поле «ТЕКУЩАЯ ДАТА И ВРЕМЯ».\n- Слова «вчера», «позавчера», прошедшие числа текущего месяца, прошлые месяцы и годы — это прошлое → СЛУЧАЙ 3.\n- Слова «сегодня», «завтра», «послезавтра», будущие числа, следующая неделя — это будущее → СЛУЧАЙ 2.\n- Если дата неоднозначна (например, «в пятницу» без уточнения) — считай ближайшую будущую пятницу → СЛУЧАЙ 2.\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n{\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        832
      ],
      "id": "c8c93918-3d2b-471a-bbed-6e2727ccc957",
      "name": "AI Agent - WAIT_DELIVERY"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nconst parsed = JSON.parse(raw);\nreturn {\n  json: {\n    answer: parsed.answer,\n    current_stage: parsed.current_stage,\n    delivery_datetime: parsed.delivery_datetime ?? \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        832
      ],
      "id": "f7a8428e-9ffa-4249-b92d-b42530f9295f",
      "name": "Parse WAIT_DELIVERY output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        832
      ],
      "id": "89033084-bfd9-42cd-9aa7-6eee38d0df24",
      "name": "Отправить ответ WAIT_DELIVERY",
      "webhookId": "27fc9bfe-deda-44b3-a380-28769cab6143",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse WAIT_DELIVERY output').item.json.current_stage }}",
                    "rightValue": "WAIT_CARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "got-date"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Дата получена"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        816,
        832
      ],
      "id": "287ed648-1a4d-4e00-9431-956cb0a5608c",
      "name": "Дата получена?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "WAIT_CARD",
            "delivery_datetime": "={{ $('Parse WAIT_DELIVERY output').item.json.delivery_datetime }}"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        832
      ],
      "id": "358d11e5-38a3-48a8-a437-c28c0d69ebc6",
      "name": "Обновить delivery_datetime → WAIT_CARD",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Получили дату/время доставки: ' + $('Parse WAIT_DELIVERY output').item.json.delivery_datetime + ' (' + $('Читаем данные пользователя').item.json.task_bank + ').' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        832
      ],
      "id": "ef09a746-fd07-4a59-ad4c-cafc5fb9a987",
      "name": "Уведомить админа (WAIT_DELIVERY)",
      "webhookId": "8f486551-0a8f-473f-a003-feddc9e39150",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1824,
        848
      ],
      "id": "bc7c6d32-c729-429b-b345-cb7098ac10bb",
      "name": "9:00 МСК каждый день"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        848
      ],
      "id": "8ef6745f-6e61-4876-a02e-d3758503ae13",
      "name": "Читаем таблицу",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Текущая дата по МСК (UTC+3)\nconst nowMsk = new Date(Date.now() + 3 * 60 * 60 * 1000);\nconst todayY = nowMsk.getUTCFullYear();\nconst todayM = nowMsk.getUTCMonth(); // 0-based\nconst todayD = nowMsk.getUTCDate();\n\nconst ruMonths = {\n  'января':0,'февраля':1,'марта':2,'апреля':3,'мая':4,'июня':5,\n  'июля':6,'августа':7,'сентября':8,'октября':9,'ноября':10,'декабря':11,\n  'январь':0,'февраль':1,'март':2,'апрель':3,'май':4,'июнь':5,\n  'июль':6,'август':7,'сентябрь':8,'октябрь':9,'ноябрь':10,'декабрь':11\n};\n\nfunction isToday(raw) {\n  if (!raw) return false;\n  const s = String(raw).toLowerCase().trim();\n\n  if (s.includes('сегодня')) return true;\n  if (s.includes('завтра') || s.includes('послезавтра')) return false;\n\n  // ISO: 2026-03-01 или 2026/03/01\n  const iso = s.match(/(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})/);\n  if (iso) {\n    const [,y,m,d] = iso.map(Number);\n    return y===todayY && (m-1)===todayM && d===todayD;\n  }\n\n  // DD.MM.YYYY или DD/MM/YYYY\n  const dmy = s.match(/(\\d{1,2})[./](\\d{1,2})[./](\\d{4})/);\n  if (dmy) {\n    const [,d,m,y] = dmy.map(Number);\n    return y===todayY && (m-1)===todayM && d===todayD;\n  }\n\n  // «3 марта» или «3 марта 2026»\n  const ru = s.match(/(\\d{1,2})\\s+([а-яё]+)(\\s+\\d{4})?/);\n  if (ru) {\n    const d = parseInt(ru[1]);\n    const month = ruMonths[ru[2]];\n    const y = ru[3] ? parseInt(ru[3].trim()) : todayY;\n    if (month !== undefined) return y===todayY && month===todayM && d===todayD;\n  }\n\n  return false;\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (row.current_stage === 'WAIT_CARD' && row.cuid && isToday(row.delivery_datetime)) {\n    results.push({ json: row });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        848
      ],
      "id": "edc56756-dbe8-4289-8ff8-0e2825acad31",
      "name": "Фильтр: доставка сегодня"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "skip-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        848
      ],
      "id": "ca52ba84-449d-403e-8a11-258131ec9d3c",
      "name": "Есть доставки сегодня?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.cuid }}",
        "text": "Не забудь, у тебя сегодня доставка карты! Как получишь, пиши нам!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2832,
        864
      ],
      "id": "d8f2df45-6b4f-44e5-ae81-23fc2ad18344",
      "name": "Напоминание пользователю",
      "webhookId": "5106ea13-af0b-481f-b536-d5663dba2371",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        1440
      ],
      "id": "688e560a-417a-49c3-97d8-bf78625d3c42",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        1424
      ],
      "id": "fc102a40-bedc-4b06-acde-d20d5c759837",
      "name": "OpenAI Chat Model - SEND_LINK1",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА:\n\nПользователь оформил карту и ожидает доставку или встречу с представителем банка.\nОн может задавать вопросы по оформлению или доставке — отвечай ему по делу, коротко и понятно.\n\n========================\nГЛАВНЫЙ ТРИГГЕР: пользователь назвал дату и/или время получения карты.\n\nПримеры фраз с датой/временем:\n«завтра в 14:00», «3 марта», «в пятницу после 18», «сегодня в 18:30», «на следующей неделе во вторник», «послезавтра с 10 до 12» и т.п.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nСЛУЧАЙ 1 — Пользователь НЕ называл дату (вопрос, уточнение, произвольный текст):\n→ Ответь по существу вопроса.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\nСЛУЧАЙ 2 — Пользователь назвал дату/время, и она НЕ в прошлом (дата >= текущей):\n→ Подтверди получение даты.\n→ {\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время строкой из сообщения\"}\n\nСЛУЧАЙ 3 — Пользователь назвал дату/время, но она В ПРОШЛОМ (дата < текущей):\n→ Не принимай эту дату. Уточни у пользователя.\n→ Пример ответа: «Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?»\n→ {\"answer\": \"Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\n========================\nВАЖНО ПРО ПРОВЕРКУ ДАТЫ:\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n- Текущая дата/время указана выше в поле «ТЕКУЩАЯ ДАТА И ВРЕМЯ».\n- Слова «вчера», «позавчера», прошедшие числа текущего месяца, прошлые месяцы и годы — это прошлое → СЛУЧАЙ 3.\n- Слова «сегодня», «завтра», «послезавтра», будущие числа, следующая неделя — это будущее → СЛУЧАЙ 2.\n- Если дата неоднозначна (например, «в пятницу» без уточнения) — считай ближайшую будущую пятницу → СЛУЧАЙ 2.\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n{\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        1216
      ],
      "id": "453e84f1-a9db-47fd-871f-35a6e5e8a2ec",
      "name": "AI Agent - WAIT_CARD"
    }
  ],
  "connections": {
    "Parse FORMAT output1": {
      "main": [
        [
          {
            "node": "Отправить ответ FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Обновить → LINK_SENT": {
      "main": [
        [
          {
            "node": "Уведомить админа (SEND_LINK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ссылку (SEND_LINK)": {
      "main": [
        [
          {
            "node": "Обновить → LINK_SENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить ссылку банка": {
      "main": [
        [
          {
            "node": "Отправить ссылку (SEND_LINK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить stage + task_bank (ROUTING)": {
      "main": [
        [
          {
            "node": "Проверить stage ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ ROUTING": {
      "main": [
        [
          {
            "node": "Обновить stage + task_bank (ROUTING)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - ROUTING": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - ROUTING": {
      "main": [
        [
          {
            "node": "Parse FORMAT output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ FORMAT": {
      "main": [
        [
          {
            "node": "Обновить stage после FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - FORMAT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - FORMAT": {
      "main": [
        [
          {
            "node": "Parse FORMAT output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить приветствие (START)": {
      "main": [
        [
          {
            "node": "Обновить → FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Router": {
      "main": [
        [
          {
            "node": "Отправить приветствие (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить приветствие (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем данные пользователя": {
      "main": [
        [
          {
            "node": "Stage Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Читаем данные пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FORMAT output": {
      "main": [
        [
          {
            "node": "Отправить ответ ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверить stage ROUTING": {
      "main": [
        [
          {
            "node": "Определить ссылку банка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - SEND_LINK": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WAIT_DELIVERY": {
      "main": [
        [
          {
            "node": "Parse WAIT_DELIVERY output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_DELIVERY output": {
      "main": [
        [
          {
            "node": "Отправить ответ WAIT_DELIVERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ WAIT_DELIVERY": {
      "main": [
        [
          {
            "node": "Дата получена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дата получена?": {
      "main": [
        [
          {
            "node": "Обновить delivery_datetime → WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить delivery_datetime → WAIT_CARD": {
      "main": [
        [
          {
            "node": "Уведомить админа (WAIT_DELIVERY)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:00 МСК каждый день": {
      "main": [
        [
          {
            "node": "Читаем таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем таблицу": {
      "main": [
        [
          {
            "node": "Фильтр: доставка сегодня",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтр: доставка сегодня": {
      "main": [
        [
          {
            "node": "Есть доставки сегодня?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть доставки сегодня?": {
      "main": [
        [],
        [
          {
            "node": "Напоминание пользователю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - SEND_LINK1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "24b5c31b-7fb7-49dc-b6cd-e4b8a0246b30",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-01T19:12:43.688Z",
      "createdAt": "2026-03-01T19:12:43.688Z",
      "role": "workflow:owner",
      "workflowId": "tnXwMotKsyVso21n",
      "projectId": "BfEgmNRV6qqyBW3u",
      "project": {
        "updatedAt": "2026-01-08T15:24:28.230Z",
        "createdAt": "2026-01-08T15:24:04.032Z",
        "id": "BfEgmNRV6qqyBW3u",
        "name": "Admin Admin <maxim.eremeev03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
        "projectRelations": [
          {
            "updatedAt": "2026-01-08T15:24:04.032Z",
            "createdAt": "2026-01-08T15:24:04.032Z",
            "userId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
            "projectId": "BfEgmNRV6qqyBW3u",
            "user": {
              "updatedAt": "2026-03-08T15:32:45.336Z",
              "createdAt": "2026-01-08T15:24:03.610Z",
              "id": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
              "email": "maxim.eremeev03@gmail.com",
              "firstName": "Admin",
              "lastName": "Admin",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "W1OITZJdAGvvz0SB",
                "userActivatedAt": 1768331805354,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770323013086
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}