workflows/yxB8kfGEKOBgln21_Напоминание_в_день_доставки_(900_МСК).json
{
  "updatedAt": "2026-03-01T19:43:29.954Z",
  "createdAt": "2026-03-01T19:43:29.954Z",
  "id": "yxB8kfGEKOBgln21",
  "name": "Напоминание в день доставки (9:00 МСК)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Получаем поле output от AI Agent\nconst raw = $input.item.json.output;\n\n// Парсим — это строка с JSON внутри\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    answer: parsed.answer,\n    current_stage: parsed.current_stage,\n    task_bank: parsed.task_bank ?? \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "id": "42f487bd-01c4-4399-ac8a-46795fe27e25",
      "name": "Parse FORMAT output1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        672
      ],
      "id": "e9bea17f-4a2d-4917-83f7-3ef192b7dba8",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        368
      ],
      "id": "ecec7faa-fd27-43aa-a5dd-20035bb30f73",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Ссылка на оформление отправлена (' + $('Читаем данные пользователя').item.json.task_bank + '). Ждём дату/время доставки.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        480
      ],
      "id": "e530428f-cba3-4337-9f58-cc5a1049f22d",
      "name": "Уведомить админа (SEND_LINK)",
      "webhookId": "95243b71-57d6-4e4b-be16-52e3abfed02e",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "WAIT_DELIVERY",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        480
      ],
      "id": "a19b754f-b227-4072-865b-8bcc71d9616f",
      "name": "Обновить → LINK_SENT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Супер. Тогда шаг 1 — оставь заявку по ссылке: {{ $json.bank_link }}\n\nПосле оформления выбери дату/время доставки (или встречи) и пришли мне — дату и интервал времени (можно текстом).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        480
      ],
      "id": "3f2d50fd-5f3c-4b06-af24-97deb6b9b03a",
      "name": "Отправить ссылку (SEND_LINK)",
      "webhookId": "2ed9b8da-6cdb-404c-87c6-adad90e95115",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-link",
              "name": "bank_link",
              "value": "={{ ({'vtb_bank': 'https://www.vtb.ru/', 'Газпромбанк': 'https://www.gazprombank.ru/', 'ОТП Банк': 'https://www.otpbank.ru/', 'Альфа': 'https://alfabank.ru/', 'tbank_bank': 'https://www.tbank.ru/'})[$('Parse FORMAT output').item.json.task_bank] || 'ссылка не найдена' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        480
      ],
      "id": "4866b088-84cb-45d9-a525-da06cd22e32b",
      "name": "Определить ссылку банка"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "={{ $('Parse FORMAT output').item.json.current_stage }}",
            "task_bank": "={{ $('Parse FORMAT output').item.json.task_bank }}",
            "row_number": 0
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        496
      ],
      "id": "ea27f839-f270-4b92-a894-ec4a9c43caea",
      "name": "Обновить stage + task_bank (ROUTING)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        496
      ],
      "id": "b434258b-c56c-45a2-bf8d-9c21a722f180",
      "name": "Отправить ответ ROUTING",
      "webhookId": "336d0831-6459-49a9-85fc-4eb0acb6a41e",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        672
      ],
      "id": "76caabd1-d417-4463-8839-04e656537b73",
      "name": "OpenAI Chat Model - ROUTING",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Текущий этап: {{ $json.current_stage }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), ОДИН вопрос за сообщение.\n- Умеренно эмодзи.\n- НЕ называй сразу все банки — задавай вопросы строго по одному, по шагам ниже.\n- НЕ запрашивай данные — они уже есть.\n- НЕ упоминай, что ты ИИ.\n\n========================\nСТРОГАЯ ЛОГИКА ПОДБОРА БАНКА:\n\nСначала определи ветку по возрасту клиента:\n- Если возраст < 18 → иди по ВЕТКЕ ДО 18\n- Если возраст >= 18 → иди по ВЕТКЕ 18+\n\n━━━ ВЕТКА 18+ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nШАГ 1. Задай вопрос:\n«Ты уже являешься клиентом ВТБ — есть карта или счёт?»\n\n→ Клиент ответил НЕТ:\n   Предложи ВТБ: «Отлично! Тогда начнём с ВТБ — сейчас по нему хорошее вознаграждение 💳 Готов оформить?»\n   — Клиент согласился → SEND_LINK, task_bank = vtb_bank\n   — Клиент отказался от оформления → ШАГ 2\n\n→ Клиент ответил ДА → ШАГ 2\n\nШАГ 2. Задай вопрос:\n«А в Т-Банке карта есть?»\n\n→ Клиент ответил НЕТ:\n   Предложи Т-Банк: «Тогда предлагаю Т-Банк — быстрое оформление онлайн, хорошее вознаграждение 👍 Подходит?»\n   — Клиент согласился → SEND_LINK, task_bank = tbank_bank\n   — Клиент отказался от оформления → ШАГ 3\n\n→ Клиент ответил ДА → ШАГ 3\n\nШАГ 3. Задай вопрос:\n«Газпромбанком пользуешься?»\n\n→ Клиент ответил НЕТ:\n   Предложи Газпромбанк: «Отлично, тогда Газпромбанк — оформляется онлайн за пару минут 🙂 Готов?»\n   — Клиент согласился → SEND_LINK, task_bank = gpb_bank\n   — Клиент отказался от оформления → ШАГ 4\n\n→ Клиент ответил ДА → ШАГ 4\n\nШАГ 4. Задай вопрос:\n«В ОТП Банке карта есть?»\n\n→ Клиент ответил НЕТ:\n   Предложи ОТП Банк: «Тогда ОТП Банк — лёгкое оформление, хорошие условия 👌 Подходит?»\n   — Клиент согласился → SEND_LINK, task_bank = otp_bank\n   — Клиент отказался от оформления → ШАГ 5\n\n→ Клиент ответил ДА → ШАГ 5\n\nШАГ 5. Задай вопрос:\n«Альфа-Банком пользуешься?»\n\n→ Клиент ответил НЕТ:\n   Предложи Альфа: «Отлично! Тогда Альфа-Банк — один из лучших по нашей программе сейчас 💳 Оформим?»\n   — Клиент согласился → SEND_LINK, task_bank = alfa_bank\n   — Клиент отказался от оформления → ОТКАЗ\n\n→ Клиент ответил ДА → ОТКАЗ\n\n━━━ ВЕТКА ДО 18 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nШАГ МЛ-1. Задай вопрос:\n«Есть карта Альфа-Банка?»\n\n→ Клиент ответил НЕТ:\n   Предложи Альфа: «Отлично! Альфа-Банк выдаёт карты с 14 лет, всё оформляется онлайн 👌 Оформим?»\n   — Клиент согласился → SEND_LINK, task_bank = alfa_bank\n   — Клиент отказался от оформления → ОТКАЗ\n\n→ Клиент ответил ДА → ОТКАЗ\n\n━━━ ОТКАЗ (оба варианта) ━━━━━━━━━━━━━━━━━━━━━━━━\n\nЕсли клиент является клиентом всех банков или отказался от всех предложений:\n{\"answer\": \"К сожалению, все доступные банки в нашей программе у тебя уже есть. Если появятся новые варианты — обязательно напишем 🙂\", \"current_stage\": \"HOLD\", \"task_bank\": \"\"}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\nПока ведём диалог (вопрос или предложение):\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"ROUTING\", \"task_bank\": \"\"}\n\nКлиент согласился с банком:\n{\"answer\": \"Супер, фиксируем [БАНК]! Сейчас пришлю ссылку для оформления 👇\", \"current_stage\": \"SEND_LINK\", \"task_bank\": \"название банка\"}\n\nВсе банки заняты или отказ от всех:\n{\"answer\": \"К сожалению, все доступные банки в нашей программе у тебя уже есть. Если появятся новые варианты — обязательно напишем 🙂\", \"current_stage\": \"HOLD\", \"task_bank\": \"\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        496
      ],
      "id": "bb42f267-18bf-44d2-8a0d-08fb027fa841",
      "name": "AI Agent - ROUTING"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "={{ $('Parse FORMAT output1').item.json.current_stage }}",
            "row_number": 0,
            "task_bank": "={{ $('Parse FORMAT output1').item.json.task_bank }}"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": [
            {
              "id": "cuid",
              "displayName": "cuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_time_ask",
              "displayName": "last_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stage",
              "displayName": "current_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_of_messages",
              "displayName": "history_of_messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_bank",
              "displayName": "task_bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_time_ask",
              "displayName": "first_time_ask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "compensation_requested_to_admin",
              "displayName": "compensation_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_screenshot_received",
              "displayName": "purchase_screenshot_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_link_sent",
              "displayName": "report_link_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_done_user_confirm",
              "displayName": "report_done_user_confirm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_payout_requested_to_admin",
              "displayName": "final_payout_requested_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_received",
              "displayName": "review_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_to_admin",
              "displayName": "handoff_to_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        208
      ],
      "id": "455ab58d-6519-4be4-ab5f-fe0e71f98b06",
      "name": "Обновить stage после FORMAT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        208
      ],
      "id": "cfcfba53-c6f1-4b9f-8efd-279d7615b8f1",
      "name": "Отправить ответ FORMAT",
      "webhookId": "22ae28ca-8aa0-44e3-8cf0-daf4fdf54d3e",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        368
      ],
      "id": "e168b5fc-eb32-4294-8ec4-5c7d03c5f441",
      "name": "OpenAI Chat Model - FORMAT",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Текущий этап: {{ $json.current_stage }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\n\nПРАВИЛА:\n- Пиши коротко (1–6 строк), один вопрос/действие за сообщение.\n- Умеренно эмодзи. Указывай следующий шаг.\n- НЕ запрашивай данные — они уже есть.\n- НЕ упоминай, что ты ИИ.\n- Отвечай ТОЛЬКО текстом сообщения для пользователя — без JSON, без заголовков, без служебных меток.\n\n========================\n\nТВОЯ ЗАДАЧА:\n\nВАЖНО: тебе необходимо объяснить условия работы, объяснить за что клиент получает деньги и получить согласие.\n\nЕсли сомневается — объясни безопасность (1–2 предложения) и снова спроси «Подходит?».\nИ оставляй current_stage = FORMAT.\n\nЕсли отказывается — «Понял, без проблем. Если передумаешь — напиши, всегда рады 🙂»\nИ переводи current_stage = HOLD.\n\n\nПосле получения согласия, отправляй ему это сообщение:\n«Отлично, тогда можем перейти к первой проверке.\n— Оплата сдельная, выплаты после выполнения и отчёта.\n— По времени обычно 20–60 минут (зависит от проверки).\n— Никаких переводов нам не нужно — только твоё время.\nПодходит такой формат? 🙂»\nИ переводи current_stage в ROUTING.\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\nПока клиент не согласился:\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"FORMAT\"}\n\nЕсли клиент согласился:\n{\"answer\": \"Отлично, тогда можем перейти к первой проверке.\\n— Оплата сдельная, выплаты после выполнения и отчёта.\\n— По времени обычно 20–60 минут (зависит от проверки).\\n— Никаких переводов нам не нужно — только твоё время.\\nПодходит такой формат? 🙂\", \"current_stage\": \"ROUTING\"}\n\nЕсли клиент отказался:\n{\"answer\": \"Понял, без проблем. Если передумаешь — напиши, всегда рады 🙂\", \"current_stage\": \"HOLD\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        208
      ],
      "id": "1fb77fa0-893c-4596-a2e5-b80d4d96a3b6",
      "name": "AI Agent - FORMAT"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "FORMAT"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "b75ede69-1e07-4406-b91d-b75b24c1e09d",
      "name": "Обновить → FORMAT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Привет! Я Николай, главный менеджер по работе с тестировщиками. Есть вопросы после прохождения бота или можем начать? 🙂",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6d412195-b664-40c5-bc07-dcecba250438",
      "name": "Отправить приветствие (START)",
      "webhookId": "7997b375-e745-43ce-b0a3-6439c8a628ad",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "START"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "FORMAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-format"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORMAT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "ROUTING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-routing"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ROUTING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_DELIVERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "stage-wait-delivery"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_DELIVERY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "stage-empty"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEW_USER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c346da11-c8f9-4974-90c7-89adac0f6c6e",
                    "leftValue": "={{ $json.current_stage }}",
                    "rightValue": "WAIT_CARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_CARD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -432,
        256
      ],
      "id": "647bcd7f-aaf0-418a-92fb-892994ebf7fa",
      "name": "Stage Router"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cuid",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        304
      ],
      "id": "b4ccb2ed-b51e-4727-a240-decac7438556",
      "name": "Читаем данные пользователя",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edit-text",
              "name": "text",
              "value": "={{ $json.text || $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        304
      ],
      "id": "ea09854b-c2a3-4f1e-989f-f169fb84b829",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "RU",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1216,
        464
      ],
      "id": "80adeb4a-629e-4d2d-8485-6ab27cad884f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1408,
        464
      ],
      "id": "0596d583-bdab-4537-aada-9138556440f8",
      "name": "Get a file",
      "webhookId": "0cdf4b17-1f9c-42f5-8f66-ea729a6ba31c",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "text-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "voice-check",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1616,
        304
      ],
      "id": "05fadb50-8789-4b2d-b06d-17adb0feaec0",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1808,
        304
      ],
      "id": "5d24e37d-9a5f-4c83-8e45-1f839d693e5e",
      "name": "Telegram Trigger",
      "webhookId": "2ffcd741-2d9a-4181-88ef-2b8bc72e6a3b",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем поле output от AI Agent\nconst raw = $input.item.json.output;\n\n// Парсим — это строка с JSON внутри\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    answer: parsed.answer,\n    current_stage: parsed.current_stage,\n    task_bank: parsed.task_bank ?? \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        496
      ],
      "id": "1c49bbfc-cee6-42ad-b653-035487cf0ba7",
      "name": "Parse FORMAT output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse FORMAT output').item.json.current_stage }}",
                    "rightValue": "SEND_LINK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "routing-send-link"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEND_LINK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse FORMAT output').item.json.current_stage }}",
                    "rightValue": "HOLD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "routing-hold"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOLD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1040,
        496
      ],
      "id": "6f20b846-e6e6-41de-b8af-0870bca40641",
      "name": "Проверить stage ROUTING"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        1056
      ],
      "id": "3cd676d7-3a5f-42d4-842c-fbfb192e9c0f",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        1040
      ],
      "id": "38185232-db55-414d-beb0-c8c54f0aac51",
      "name": "OpenAI Chat Model - SEND_LINK",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА:\n\nПользователь оформил карту и ожидает доставку или встречу с представителем банка.\nОн может задавать вопросы по оформлению или доставке — отвечай ему по делу, коротко и понятно.\n\n========================\nГЛАВНЫЙ ТРИГГЕР: пользователь назвал дату и/или время получения карты.\n\nПримеры фраз с датой/временем:\n«завтра в 14:00», «3 марта», «в пятницу после 18», «сегодня в 18:30», «на следующей неделе во вторник», «послезавтра с 10 до 12» и т.п.\n\n========================\nАЛГОРИТМ ОБРАБОТКИ СООБЩЕНИЯ:\n\nСЛУЧАЙ 1 — Пользователь НЕ называл дату (вопрос, уточнение, произвольный текст):\n→ Ответь по существу вопроса.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\nСЛУЧАЙ 2 — Пользователь назвал дату/время, и она НЕ в прошлом (дата >= текущей):\n→ Подтверди получение даты.\n→ {\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время строкой из сообщения\"}\n\nСЛУЧАЙ 3 — Пользователь назвал дату/время, но она В ПРОШЛОМ (дата < текущей):\n→ Не принимай эту дату. Уточни у пользователя.\n→ Пример ответа: «Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?»\n→ {\"answer\": \"Хм, эта дата уже прошла 🤔 Уточни, пожалуйста — когда именно ожидаешь карту?\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n\n========================\nВАЖНО ПРО ПРОВЕРКУ ДАТЫ:\nТЕКУЩАЯ ДАТА И ВРЕМЯ (сейчас): {{ $now.toISO() }}\n- Текущая дата/время указана выше в поле «ТЕКУЩАЯ ДАТА И ВРЕМЯ».\n- Слова «вчера», «позавчера», прошедшие числа текущего месяца, прошлые месяцы и годы — это прошлое → СЛУЧАЙ 3.\n- Слова «сегодня», «завтра», «послезавтра», будущие числа, следующая неделя — это будущее → СЛУЧАЙ 2.\n- Если дата неоднозначна (например, «в пятницу» без уточнения) — считай ближайшую будущую пятницу → СЛУЧАЙ 2.\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст сообщения клиенту\", \"current_stage\": \"WAIT_DELIVERY\", \"delivery_datetime\": \"\"}\n{\"answer\": \"Принято ✅ Как закончится встреча с представителем и карта будет у тебя — напиши «Карта на руках».\", \"current_stage\": \"WAIT_CARD\", \"delivery_datetime\": \"дата и время\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        832
      ],
      "id": "31de7cf6-ed91-4be2-84f9-0726d26b03f6",
      "name": "AI Agent - WAIT_DELIVERY"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nconst parsed = JSON.parse(raw);\nreturn {\n  json: {\n    answer: parsed.answer,\n    current_stage: parsed.current_stage,\n    delivery_datetime: parsed.delivery_datetime ?? \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        832
      ],
      "id": "5218a403-43d0-4c97-94d0-37d5e2c327d4",
      "name": "Parse WAIT_DELIVERY output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        832
      ],
      "id": "89d34947-173c-442f-9bc4-cdcd10777c3a",
      "name": "Отправить ответ WAIT_DELIVERY",
      "webhookId": "27fc9bfe-deda-44b3-a380-28769cab6143",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse WAIT_DELIVERY output').item.json.current_stage }}",
                    "rightValue": "WAIT_CARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "got-date"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Дата получена"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        816,
        832
      ],
      "id": "40fb10d0-8f73-4c0b-9ba2-8442bedf269a",
      "name": "Дата получена?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "WAIT_CARD",
            "delivery_datetime": "={{ $('Parse WAIT_DELIVERY output').item.json.delivery_datetime }}"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        832
      ],
      "id": "49f97a1e-cd03-4609-9f1f-081cca0e9922",
      "name": "Обновить delivery_datetime → WAIT_CARD",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Получили дату/время доставки: ' + $('Parse WAIT_DELIVERY output').item.json.delivery_datetime + ' (' + $('Читаем данные пользователя').item.json.task_bank + ').' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        832
      ],
      "id": "b73d2892-95a3-4d50-8e0e-54cec2732879",
      "name": "Уведомить админа (WAIT_DELIVERY)",
      "webhookId": "8f486551-0a8f-473f-a003-feddc9e39150",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1824,
        848
      ],
      "id": "7101a193-1889-4e0d-9405-e2827c5cb1d5",
      "name": "9:00 МСК каждый день"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        848
      ],
      "id": "850ae0d5-7f69-46b6-a491-e0ae744d3086",
      "name": "Читаем таблицу",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Текущая дата по МСК (UTC+3)\nconst nowMsk = new Date(Date.now() + 3 * 60 * 60 * 1000);\nconst todayY = nowMsk.getUTCFullYear();\nconst todayM = nowMsk.getUTCMonth(); // 0-based\nconst todayD = nowMsk.getUTCDate();\n\nconst ruMonths = {\n  'января':0,'февраля':1,'марта':2,'апреля':3,'мая':4,'июня':5,\n  'июля':6,'августа':7,'сентября':8,'октября':9,'ноября':10,'декабря':11,\n  'январь':0,'февраль':1,'март':2,'апрель':3,'май':4,'июнь':5,\n  'июль':6,'август':7,'сентябрь':8,'октябрь':9,'ноябрь':10,'декабрь':11\n};\n\nfunction isToday(raw) {\n  if (!raw) return false;\n  const s = String(raw).toLowerCase().trim();\n\n  if (s.includes('сегодня')) return true;\n  if (s.includes('завтра') || s.includes('послезавтра')) return false;\n\n  // ISO: 2026-03-01 или 2026/03/01\n  const iso = s.match(/(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})/);\n  if (iso) {\n    const [,y,m,d] = iso.map(Number);\n    return y===todayY && (m-1)===todayM && d===todayD;\n  }\n\n  // DD.MM.YYYY или DD/MM/YYYY\n  const dmy = s.match(/(\\d{1,2})[./](\\d{1,2})[./](\\d{4})/);\n  if (dmy) {\n    const [,d,m,y] = dmy.map(Number);\n    return y===todayY && (m-1)===todayM && d===todayD;\n  }\n\n  // «3 марта» или «3 марта 2026»\n  const ru = s.match(/(\\d{1,2})\\s+([а-яё]+)(\\s+\\d{4})?/);\n  if (ru) {\n    const d = parseInt(ru[1]);\n    const month = ruMonths[ru[2]];\n    const y = ru[3] ? parseInt(ru[3].trim()) : todayY;\n    if (month !== undefined) return y===todayY && month===todayM && d===todayD;\n  }\n\n  return false;\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (row.current_stage === 'WAIT_CARD' && row.cuid && isToday(row.delivery_datetime)) {\n    results.push({ json: row });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        848
      ],
      "id": "2426fa2b-0580-4e7d-86ae-7f2d2ba34445",
      "name": "Фильтр: доставка сегодня"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "skip-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        848
      ],
      "id": "812b72e3-30e7-4023-b6ca-b1a3122fe500",
      "name": "Есть доставки сегодня?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.cuid }}",
        "text": "Не забудь, у тебя сегодня доставка карты! Как получишь, пиши нам!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2832,
        864
      ],
      "id": "ab64a616-1f3d-4929-aacd-52cfaeb11aa6",
      "name": "Напоминание пользователю",
      "webhookId": "5106ea13-af0b-481f-b536-d5663dba2371",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        1440
      ],
      "id": "af19bc51-20bb-4c68-aff4-696f59998b18",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        1424
      ],
      "id": "3b1420f8-351f-4e9e-aab5-303d88da46f5",
      "name": "OpenAI Chat Model - SEND_LINK1",
      "credentials": {
        "openAiApi": {
          "id": "I2fPS5AxAPCe68Qu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — Николай, менеджер проекта «Проверка сервисов». Ты ведёшь переписку в Telegram.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ (не запрашивай повторно):\n- Имя: {{ $json.name }}\n- Возраст: {{ $json.age }}\n- Телефон: {{ $json.phone }}\n- ID: {{ $json.cuid }}\n- Username: @{{ $json.username }}\n- Выбранный банк: {{ $json.task_bank }}\n- История диалога: {{ $json.history_of_messages }}\n\n========================\nПРАВИЛА ОБЩЕНИЯ:\n- Пиши коротко (1–4 строки), дружелюбно.\n- Умеренно эмодзи.\n- НЕ упоминай, что ты ИИ.\n- НЕ запрашивай данные — они уже есть.\n\n========================\nТВОЯ ЗАДАЧА:\n\nПользователь ожидает получения карты. Он может задавать вопросы — отвечай по делу.\n\nГЛАВНЫЙ ТРИГГЕР: пользователь сообщает, что карта у него на руках.\n\nПримеры фраз-триггеров:\n«Карта на руках», «получил карту», «карту привезли», «курьер приехал», «забрал карту», «карта есть», «уже получил» и т.п.\n\n========================\nАЛГОРИТМ:\n\nСЛУЧАЙ 1 — Пользователь НЕ сообщил о получении карты (задаёт вопрос, пишет что-то другое):\n→ Ответь по существу, помоги с вопросом.\n→ {\"answer\": \"текст ответа\", \"current_stage\": \"WAIT_CARD\", \"card_received\": false}\n\nСЛУЧАЙ 2 — Пользователь сообщил, что получил карту:\n→ {\"answer\": \"\", \"current_stage\": \"CARD_RECEIVED\", \"card_received\": true}\n\n========================\nФОРМАТ ОТВЕТА — строго JSON, без markdown, без текста до/после:\n\n{\"answer\": \"текст ответа на вопрос\", \"current_stage\": \"WAIT_CARD\", \"card_received\": false}\n{\"answer\": \"\", \"current_stage\": \"CARD_RECEIVED\", \"card_received\": true}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        1216
      ],
      "id": "b0dde484-4e3c-4d9d-9dad-4911c45968a4",
      "name": "AI Agent - WAIT_CARD"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\nconst parsed = JSON.parse(raw);\nreturn [{\n  json: {\n    answer: parsed.answer ?? \"\",\n    current_stage: parsed.current_stage,\n    card_received: parsed.card_received === true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1216
      ],
      "id": "434e6986-549f-4758-97b2-e79b41aecc34",
      "name": "Parse WAIT_CARD output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        1312
      ],
      "id": "617177d0-10ec-410f-bc10-e70cef22bdff",
      "name": "Отправить ответ WAIT_CARD",
      "webhookId": "75cc9b6d-515a-4b76-8c9a-73a2a23aedcb",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.card_received }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "card-received-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Карта получена"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3fef159-d7f4-49e7-a6f4-c4d8e7fee0d4",
                    "leftValue": "={{ $json.card_received }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Не получена еще"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        1136
      ],
      "id": "11447d41-ba9c-4883-80a8-9296404c9ee5",
      "name": "Карта получена?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "comp-amount",
              "name": "comp_amount",
              "value": "={{ ({'ВТБ': 500, 'Т-Банк': 100, 'Альфа': 100, 'ОТП Банк': 100, 'Газпромбанк': 100})[$('Читаем данные пользователя').item.json.task_bank] || 100 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        1136
      ],
      "id": "e333e5f3-47a7-41da-ba62-d356a7f4669d",
      "name": "Определить компенсацию"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ 'Отлично! Теперь нужно сделать покупку одной транзакцией от ' + $json.comp_amount + '₽ (на любые личные нужды) и прислать скрин операции. Данные можно замазать — важны сумма/дата/статус. Можешь не переживать, мы компенсируем эту трату.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        1136
      ],
      "id": "01fbe972-7143-4a67-b1ab-d51813e0cc3c",
      "name": "Сообщение о покупке (WAIT_CARD)",
      "webhookId": "238dc47a-31c0-40b2-bbf9-6d662a447caa",
      "credentials": {
        "telegramApi": {
          "id": "emuQi6NCsEIMhU0W",
          "name": "Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=454918257",
        "text": "={{ '[' + $('Читаем данные пользователя').item.json.cuid + '] Карта получена (' + $('Читаем данные пользователя').item.json.task_bank + '). Нужна компенсация на покупку: ' + $('Определить компенсацию').item.json.comp_amount + '₽ (перевод по телефону из таблицы).' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        1136
      ],
      "id": "467baf60-3cae-406c-91bf-624173b9160f",
      "name": "Уведомить админа (WAIT_CARD)",
      "webhookId": "854a96aa-cd49-4393-ab55-b85a389e83d7",
      "credentials": {
        "telegramApi": {
          "id": "THyuBhTvKIAhLe2O",
          "name": "Admin Traffic Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eduSIGRdgCYB5EiSsnaBBGyVK3vzYwziHtQB9EtsB04",
          "mode": "list",
          "cachedResultName": "Табличка для рефок"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cuid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "current_stage": "CARD_RECEIVED"
          },
          "matchingColumns": [
            "cuid"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        1136
      ],
      "id": "00b71f47-cd78-441a-a44c-d07bdcbd5976",
      "name": "Обновить → CARD_RECEIVED",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xOKUe7K3pMyrMWca",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Parse FORMAT output1": {
      "main": [
        [
          {
            "node": "Отправить ответ FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Обновить → LINK_SENT": {
      "main": [
        [
          {
            "node": "Уведомить админа (SEND_LINK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ссылку (SEND_LINK)": {
      "main": [
        [
          {
            "node": "Обновить → LINK_SENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить ссылку банка": {
      "main": [
        [
          {
            "node": "Отправить ссылку (SEND_LINK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить stage + task_bank (ROUTING)": {
      "main": [
        [
          {
            "node": "Проверить stage ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ ROUTING": {
      "main": [
        [
          {
            "node": "Обновить stage + task_bank (ROUTING)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - ROUTING": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - ROUTING": {
      "main": [
        [
          {
            "node": "Parse FORMAT output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ FORMAT": {
      "main": [
        [
          {
            "node": "Обновить stage после FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - FORMAT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - FORMAT": {
      "main": [
        [
          {
            "node": "Parse FORMAT output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить приветствие (START)": {
      "main": [
        [
          {
            "node": "Обновить → FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Router": {
      "main": [
        [
          {
            "node": "Отправить приветствие (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - FORMAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - ROUTING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить приветствие (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем данные пользователя": {
      "main": [
        [
          {
            "node": "Stage Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Читаем данные пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FORMAT output": {
      "main": [
        [
          {
            "node": "Отправить ответ ROUTING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверить stage ROUTING": {
      "main": [
        [
          {
            "node": "Определить ссылку банка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - SEND_LINK": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_DELIVERY",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WAIT_DELIVERY": {
      "main": [
        [
          {
            "node": "Parse WAIT_DELIVERY output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_DELIVERY output": {
      "main": [
        [
          {
            "node": "Отправить ответ WAIT_DELIVERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить ответ WAIT_DELIVERY": {
      "main": [
        [
          {
            "node": "Дата получена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дата получена?": {
      "main": [
        [
          {
            "node": "Обновить delivery_datetime → WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить delivery_datetime → WAIT_CARD": {
      "main": [
        [
          {
            "node": "Уведомить админа (WAIT_DELIVERY)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:00 МСК каждый день": {
      "main": [
        [
          {
            "node": "Читаем таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем таблицу": {
      "main": [
        [
          {
            "node": "Фильтр: доставка сегодня",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтр: доставка сегодня": {
      "main": [
        [
          {
            "node": "Есть доставки сегодня?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть доставки сегодня?": {
      "main": [
        [],
        [
          {
            "node": "Напоминание пользователю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - SEND_LINK1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WAIT_CARD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WAIT_CARD": {
      "main": [
        [
          {
            "node": "Parse WAIT_CARD output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WAIT_CARD output": {
      "main": [
        [
          {
            "node": "Карта получена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Карта получена?": {
      "main": [
        [
          {
            "node": "Определить компенсацию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить ответ WAIT_CARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить компенсацию": {
      "main": [
        [
          {
            "node": "Сообщение о покупке (WAIT_CARD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение о покупке (WAIT_CARD)": {
      "main": [
        [
          {
            "node": "Уведомить админа (WAIT_CARD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить админа (WAIT_CARD)": {
      "main": [
        [
          {
            "node": "Обновить → CARD_RECEIVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "23505fba-e2d9-4c40-a874-634cbc24713d",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-01T19:43:29.954Z",
      "createdAt": "2026-03-01T19:43:29.954Z",
      "role": "workflow:owner",
      "workflowId": "yxB8kfGEKOBgln21",
      "projectId": "BfEgmNRV6qqyBW3u",
      "project": {
        "updatedAt": "2026-01-08T15:24:28.230Z",
        "createdAt": "2026-01-08T15:24:04.032Z",
        "id": "BfEgmNRV6qqyBW3u",
        "name": "Admin Admin <maxim.eremeev03@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
        "projectRelations": [
          {
            "updatedAt": "2026-01-08T15:24:04.032Z",
            "createdAt": "2026-01-08T15:24:04.032Z",
            "userId": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
            "projectId": "BfEgmNRV6qqyBW3u",
            "user": {
              "updatedAt": "2026-03-08T15:32:45.336Z",
              "createdAt": "2026-01-08T15:24:03.610Z",
              "id": "14d29d00-dc19-4de2-b837-2b22b4d84b9d",
              "email": "maxim.eremeev03@gmail.com",
              "firstName": "Admin",
              "lastName": "Admin",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "W1OITZJdAGvvz0SB",
                "userActivatedAt": 1768331805354,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770323013086
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}